<h1>NPD well headers for IC, IP and Petrel</h1>

Run this script as is or customise each section.<br>

<h2>IC Well Headers</h2>

Before importing data to IC, ensure you follow the last few steps to:<br>
- Create the appropriate Well Attributes in your IC Database.<br>
- Add the correct coordinate systems to your IC Project.<br>

In [1]:
import pandas as pd
import numpy as np
from pandas import ExcelFile
from pandas import ExcelWriter

# Download the latest NPD well headers in Excel format
# Assign to two dataframes, one for Exploraion wells and one for Development wells
df_explo = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_exploration_all&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.169&CultureCode=en', 
                         sheet_name='wellbore_exploration_all')

#Old link was http://factpages.npd.no/ReportServer?/FactPages/TableView/wellbore_exploration_all&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en
                    
df_dev = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_development_all&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.169&CultureCode=en', 
                       sheet_name='wellbore_development_all')

#Old link was http://factpages.npd.no/ReportServer?/FactPages/TableView/wellbore_development_all&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en

#Alternatively, download the files yourself and upload to the 'input data' folder
#Navigate to NPD Factpages > Wellbore > Table View > Exploration/Development > All - Long List> Export Excel.
#df_explo = pd.read_excel('input data/wellbore_exploration_all.xls', sheet_name='wellbore_exploration_all')
#df_dev = pd.read_excel('input data/wellbore_development_all.xls', sheet_name='wellbore_development_all')

# Change Pandas display settings to show all columns
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
#pd.set_option('display.max_rows', 500)

# Print the original column titles in each dataframe.
print("\nExploration well header column titles:")
print(list(df_explo.columns))
print("\nDevelopment well header column titles:")
print(list(df_dev.columns))

# This will take a minute to download and process the two files. Ignore file size warnings.

Exploration well header column titles:
['Wellbore name', 'Well name', 'Drilling operator', 'Drilled in production licence', 'Purpose', 'Status', 'Content', 'Type', 'Subsea', 'Entered date', 'Completed date', 'Field', 'Drill permit', 'Discovery', 'Discovery wellbore', 'Bottom hole temperature [°C]', 'Sitesurvey', 'Seismic location', 'Maximum inclination [°]', 'Kelly bushing elevation [m]', 'Final vertical depth (TVD) [m RKB]', 'Total depth (MD) [m RKB]', 'Water depth [m]', 'Kick off  point [m RKB]', 'Oldest penetrated age', 'Oldest penetrated formation', 'Main area', 'Drilling facility', 'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 'Multilateral', 'Purpose - planned', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Reentry activity', 'Plot symbol', '1st level with HC, formation', '1st level with HC, age', '2nd level with HC, formation', '2nd level with HC, age', '3rd level with HC, formation', '3rd level with HC, age', 'Drilling days', 'Reentry', 'Prod. licence for drilling target', 'Plugged and abondon date', 'Plugged date', 'Geodetic datum', 'NS degrees', 'NS minutes', 'NS seconds', 'NS code', 'EW degrees', 'EW minutes', 'EW seconds', 'EW code', 'NS decimal degrees', 'EW decimal degrees', 'NS UTM [m]', 'EW UTM [m]', 'UTM zone', 'Wellbore name, part 1', 'Wellbore name, part 2', 'Wellbore name, part 3', 'Wellbore name, part 4', 'Wellbore name, part 5', 'Wellbore name, part 6', 'Pressrelease url', 'FactPage url', 'Factmaps', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'Publication date', 'Release date', 'Reclassified date', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 'NPDID drilling facility', 'NPDID wellbore reclassified from', 'NPDID production licence drilled in', 'NPDID site survey', 'Date main level updated', 'Date all updated', 'Date sync NPD']

Development well header column titles:
['Wellbore name', 'Well name', 'Drilling operator', 'Drilled in production licence', 'Status', 'Purpose', 'Purpose - planned', 'Content', 'Type', 'Subsea', 'Entered date', 'Completed date', 'Predrilled entry date', 'Predrilled completion date', 'Field', 'Drill permit', 'Discovery', 'Discovery wellbore', 'Kelly bushing elevation [m]', 'Final vertical depth (TVD) [m RKB]', 'Total depth (MD) [m RKB]', 'Water depth [m]', 'Kick off  point [m RKB]', 'Main area', 'Drilling facility', 'Drilling facility type', 'Drilling facility category', 'Production facility', 'Licensing activity awarded in', 'Multilateral', 'Content - planned', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Plugged and abondon date', 'Plugged date', 'Prod. licence for drilling target', 'Plot symbol', 'Geodetic datum', 'NS degrees', 'NS minutes', 'NS seconds', 'NS code', 'EW degrees', 'EW minutes', 'EW seconds', 'EW code', 'NS decimal degrees', 'EW decimal degrees', 'NS UTM [m]', 'EW UTM [m]', 'UTM zone', 'Wellbore name, part 1', 'Wellbore name, part 2', 'Wellbore name, part 3', 'Wellbore name, part 4', 'Wellbore name, part 5', 'Wellbore name, part 6', 'FactPage url', 'Factmaps', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 'Publication date', 'Release date', 'NPDID production licence drilled in', 'NPDID production licence target', 'NPDID drilling facility', 'NPDID production facility', 'NPDID wellbore reclassified from', 'Date main level updated', 'Date all updated', 'Date sync NPD']

<h3>QC - Show the number of rows and columns in the original data</h3>

In [2]:
(num_explo_rows, num_explo_cols) = df_explo.shape
(num_dev_rows, num_dev_cols) = df_dev.shape
print('{} rows and {} columns in Exploration wells.'.format(num_explo_rows, num_explo_cols))
print('{} rows and {} columns in Development wells.'.format(num_dev_rows, num_dev_cols))

1930 rows and 87 columns in Exploration wells.
5144 rows and 75 columns in Development wells.

<h3>QC - View the first few rows of each dataframe</h3>

In [3]:
print('The first 3 rows of Exploration wells:')
df_explo.head(n=3)

The first 3 rows of Exploration wells:

  Wellbore name Well name            Drilling operator Drilled in production licence  Purpose Status    Content         Type Subsea Entered date Completed date  Field Drill permit    Discovery Discovery wellbore  Bottom hole temperature [°C] Sitesurvey                          Seismic location  Maximum inclination [°]  Kelly bushing elevation [m]  Final vertical depth (TVD) [m RKB]  Total depth (MD) [m RKB]  Water depth [m]  Kick off  point [m RKB] Oldest penetrated age Oldest penetrated formation  Main area Drilling facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral Purpose - planned  Entry year  Completed year Reclassified from/to wellbore Reentry activity  Plot symbol 1st level with HC, formation 1st level with HC, age 2nd level with HC, formation 2nd level with HC, age 3rd level with HC, formation 3rd level with HC, age  Drilling days Reentry  Prod. licence for drilling target Plugged and abondon date Plugged date Geodetic datum  NS degrees  NS minutes  NS seconds NS code  EW degrees  EW minutes  EW seconds EW code  NS decimal degrees  EW decimal degrees  NS UTM [m]  EW UTM [m]  UTM zone  Wellbore name, part 1  Wellbore name, part 2 Wellbore name, part 3  Wellbore name, part 4 Wellbore name, part 5  Wellbore name, part 6                                                     Pressrelease url                                                                                           FactPage url                                                                              Factmaps      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date Reclassified date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in  NPDID site survey Date main level updated Date all updated Date sync NPD
0  1/2-1         1/2-1     Phillips Petroleum Norsk AS  143                           WILDCAT  P&A    OIL        EXPLORATION   NO   1989-03-20   1989-06-04      BLANE  604-L        1/2-1 Blane  YES                147.0                         None       PW 8303A - 10   SP. 290                   2.0                      22.0                        NaN                                  3574.0                    72.0            NaN                       CAMPANIAN             TOR FM                      NORTH SEA  ROSS ISLE         SEMISUB STEEL          MOVEABLE                   12                            NO           WILDCAT           1989        1989            None                          None             5            FORTIES FM                   PALEOCENE              NaN                          NaN                                                                        77             NO     NaN                                NaT                      NaT           ED50           56          53          15.07       N       2           28          35.70       E       56.887519           2.476583            6305128.26  468106.29   31        1                      2                                            1                      NaN                  NaN                                                                                          https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Exploration|All&nav3=1382  https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=1382  initial                                                        2007-12-19       1991-06-04   NaT                1382            43814.0          3437650.0    296245.0                 0                                 21956.0                             NaN                2019-10-03              2019-10-03        11.01.2020
1  1/2-2         1/2-2     Paladin Resources Norge AS   143 CS                        WILDCAT  P&A    OIL SHOWS  EXPLORATION   NO   2005-12-14   2006-02-02      None   1103-L       None         NO                 138.0                         None       inline 7429-trace 4824 Survey PGS CGMNOR  4.9                      40.0                         3432.0                              3434.0                    74.0            NaN                       PALEOCENE             EKOFISK FM                  NORTH SEA  MÆRSK GIANT       JACK-UP 3 LEGS         MOVEABLE                   12                            NO           WILDCAT           2005        2006            None                          None             12           NaN                          NaN                    NaN                          NaN                                                                        51             NO     NaN                                NaT                      NaT           ED50           56          59          32.00       N       2           29          47.66       E       56.992222           2.496572            6316774.33  469410.10   31        1                      2                                            2                      NaN                  NaN                     https://www.npd.no/fakta/nyheter/Resultat-av-leteboring/2006/1-2-2/  https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Exploration|All&nav3=5192  https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=5192  initial                                                        2008-08-15       2008-02-02   NaT                5192           NaN              NaN           278245.0                 0                                 2424919.0                           NaN                2019-10-03              2019-10-03        11.01.2020
2  1/3-1         1/3-1     A/S Norske Shell             011                           WILDCAT  P&A    GAS        EXPLORATION   NO   1968-07-06   1968-11-11      None   15-L         1/3-1        YES                182.0                         None       LINE 5651  SP. E165                       18.0                     26.0                        NaN                                  4877.0                    71.0            NaN                       LATE PERMIAN          ZECHSTEIN GP                NORTH SEA  ORION             JACK-UP 3 LEGS         MOVEABLE                   1-A                           NO           WILDCAT           1968        1968            None                          None             9            TOR FM                       LATE CRETACEOUS        CROMER KNOLL GP              EARLY CRETACEOUS                                                           129            NO     NaN                                NaT                      NaT           ED50           56          51          21.00       N       2           51          5.00        E       56.855833           2.851389            6301488.86  490936.87   31        1                      3                                            1                      NaN                  NaN                                                                                          https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Exploration|All&nav3=154   https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=154   initial                                                        2010-04-30       1970-11-11   NaT                154             43820.0         NaN           288604.0                 0                                 20844.0                             NaN                2019-10-03              2019-10-03        11.01.2020

In [4]:
print('The first 3 rows of Development wells:')
df_dev.head(n=3)

The first 3 rows of Development wells:

  Wellbore name Well name  Drilling operator Drilled in production licence  Status     Purpose Purpose - planned Content         Type Subsea Entered date Completed date Predrilled entry date Predrilled completion date    Field Drill permit      Discovery Discovery wellbore  Kelly bushing elevation [m]  Final vertical depth (TVD) [m RKB]  Total depth (MD) [m RKB]  Water depth [m]  Kick off  point [m RKB]  Main area Drilling facility Drilling facility type Drilling facility category Production facility Licensing activity awarded in Multilateral Content - planned  Entry year  Completed year Reclassified from/to wellbore Plugged and abondon date Plugged date  Prod. licence for drilling target  Plot symbol Geodetic datum  NS degrees  NS minutes  NS seconds NS code  EW degrees  EW minutes  EW seconds EW code  NS decimal degrees  EW decimal degrees  NS UTM [m]  EW UTM [m]  UTM zone  Wellbore name, part 1  Wellbore name, part 2 Wellbore name, part 3  Wellbore name, part 4 Wellbore name, part 5  Wellbore name, part 6                                                                                           FactPage url                                                                              Factmaps      DISKOS Well Type                    DISKOS Wellbore Parent  NPDID wellbore  NPDID discovery  NPDID field Publication date Release date  NPDID production licence drilled in  NPDID production licence target  NPDID drilling facility  NPDID production facility  NPDID wellbore reclassified from Date main level updated Date all updated Date sync NPD
0  1/3-A-1 H     1/3-A-1   DONG E&P Norge AS  274                           CLOSED  PRODUCTION  PRODUCTION        OIL     DEVELOPMENT  YES   2011-07-22   2011-09-21     NaT                   NaT                         OSELVAR  3365-P       1/3-6 Oselvar  NO                 45.0                         3163.0                              5927.0                    72.0            NaN                       NORTH SEA  MÆRSK GIANT       JACK-UP 3 LEGS         MOVEABLE                   OSELVAR             NST2001                       NO           OIL               2011        2011            None                         NaT                      NaT          NaN                                 50           ED50           56          55          55.06       N       2           40          16.66       E       56.931961           2.671294            6310001.50  479994.47   31        1                      3                      A                     1                      NaN                  NaN                     https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Development|All&nav3=6612  https://factmaps.npd.no/factmaps/3_0/?run=WellboreDevByNPDID&scale=100000&NPDID=6612  initial                                                         6612            43832.0          5506919.0   NaT              2013-09-21    2060266                             NaN                               278245.0                 410592.0                   0                                2019-12-09              2015-10-06        11.01.2020
1  1/3-A-2 H     1/3-A-2   DONG E&P Norge AS  274                           CLOSED  PRODUCTION  PRODUCTION        OIL     DEVELOPMENT  YES   2011-11-18   2012-01-19     2011-06-19            2011-07-04                  OSELVAR  3366-P       1/3-6 Oselvar  NO                 45.0                         3170.0                              5882.0                    72.0            NaN                       NORTH SEA  MÆRSK GIANT       JACK-UP 3 LEGS         MOVEABLE                   OSELVAR             NST2001                       NO           OIL               2011        2012            None                         NaT                      NaT          NaN                                 50           ED50           56          55          54.89       N       2           40          16.67       E       56.931914           2.671297            6309996.24  479994.61   31        1                      3                      A                     2                      NaN                  NaN                     https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Development|All&nav3=6613  https://factmaps.npd.no/factmaps/3_0/?run=WellboreDevByNPDID&scale=100000&NPDID=6613  initial                                                         6613            43832.0          5506919.0   NaT              2014-01-19    2060266                             NaN                               278245.0                 410592.0                   0                                2019-12-09              2015-10-06        11.01.2020
2  1/3-A-3 H     1/3-A-3   DONG E&P Norge AS  274                           CLOSED  PRODUCTION  PRODUCTION        OIL     DEVELOPMENT  YES   2012-03-04   2012-05-14     2011-07-05            2011-07-21                  OSELVAR  3367-P       1/3-6 Oselvar  NO                 45.0                         3171.0                              6665.0                    72.0            NaN                       NORTH SEA  MÆRSK GIANT       JACK-UP 3 LEGS         MOVEABLE                   OSELVAR             NST2001                       NO           OIL               2012        2012            None                         NaT                      NaT          NaN                                 50           ED50           56          55          55.07       N       2           40          17.32       E       56.931964           2.671478            6310001.76  480005.63   31        1                      3                      A                     3                      NaN                  NaN                     https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Development|All&nav3=6614  https://factmaps.npd.no/factmaps/3_0/?run=WellboreDevByNPDID&scale=100000&NPDID=6614  initial                                                         6614            43832.0          5506919.0   NaT              2014-05-14    2060266                             NaN                               278245.0                 410592.0                   0                                2019-12-09              2015-10-06        11.01.2020

<h3>QC - Which columns headers are unique to Exploration or Development wells?</h3>

In [5]:
explo_columns = df_explo.columns.tolist()
dev_columns = df_dev.columns.tolist()

#List well headers unqiue to each dataframe
print('Attributes unique to Exploration wells:\n', sorted(set(explo_columns) - set(dev_columns)))
print('\nAttributes unique to Development wells:\n', sorted(set(dev_columns) - set(explo_columns)))

Attributes unique to Exploration wells:
 ['1st level with HC, age', '1st level with HC, formation', '2nd level with HC, age', '2nd level with HC, formation', '3rd level with HC, age', '3rd level with HC, formation', 'Bottom hole temperature [°C]', 'Drilling days', 'Maximum inclination [°]', 'NPDID site survey', 'Oldest penetrated age', 'Oldest penetrated formation', 'Pressrelease url', 'Reclassified date', 'Reentry', 'Reentry activity', 'Seismic location', 'Sitesurvey']

Attributes unique to Development wells:
 ['Content - planned', 'NPDID production facility', 'NPDID production licence target', 'Predrilled completion date', 'Predrilled entry date', 'Production facility']

<h3>Rename attributes for IC</h3>

In [6]:
#These are IC's default well header attributes. Try to use as many of these as possible when renaming below.
#Any other attributes you use will need to be added to IC before import.
ic_default_attributes = {'Name', 'Code', 'Alternate 1', 'Alternate 2', 'UWI number', 'Comment', 'Geodatum', 
                         'Longitude', 'Latitude', 'Grid system', 'Surface X', 'Surface Y', 'Elevation Reference',
                         'Elevation', 'KBE', 'RTE', 'DFE', 'GLE', 'SPUD date', 'Completion date', 'Status', 
                         'Quadrant', 'Block', 'Sub block', 'Field', 'Location', 'Operator', 'Country',
                         'Basin', 'Province', 'County', 'State', 'Section', 'Township', 'Range', 'Terminal depth',
                         'Water depth', 'Facility', 'Discovery name', 'Seismic line', 'Intent', 'Licence number'}

#Rename columns from/to. Check spelling and capitalisation carefully when renaming to match IC's default attributes.
attributes_to_rename = {'Wellbore name' : 'Name',
                        'Well name' : 'Alternate 1',
                        'Drilling operator' : 'Operator',
                        'Drilled in production licence' : 'Licence number',
                        'Purpose' : 'Intent',
                        'Purpose - planned' : 'Intent - planned',
                        'Status' : 'Well status',
                        'Content' : 'Well content',
                        'Entered date' : 'SPUD date',
                        'Completed date' : 'Completion date',
                        'Discovery' : 'Discovery name',
                        'Seismic location' : 'Seismic line',
                        'Kelly bushing elevation [m]' : 'KBE',
                        'Total depth (MD) [m RKB]' : 'Terminal depth',
                        'Water depth [m]' : 'Water depth',
                        'Kick off  point [m RKB]' : 'Kick off point [m RKB]',
                        'Main area' : 'Location',
                        'Drilling facility' : 'Facility',
                        #remove commas to be csv friendly
                        '1st level with HC, formation' : '1st level with HC formation',
                        '1st level with HC, age' : '1st level with HC age',
                        '2nd level with HC, formation' : '2nd level with HC formation',
                        '2nd level with HC, age' : '2nd level with HC age',
                        '3rd level with HC, formation' : '3rd level with HC formation',
                        '3rd level with HC, age' : '3rd level with HC age',
                        'Geodetic datum' : 'Geodatum',
                        'NS decimal degrees' : 'Latitude',
                        'EW decimal degrees' : 'Longitude',
                        'NS UTM [m]' : 'Surface Y',
                        'EW UTM [m]' : 'Surface X',
                        'Wellbore name, part 1' : 'Quadrant',
                        'Wellbore name, part 2' : 'Block', 
                        'Pressrelease url' : 'Press Release URL',
                        'FactPage url' : 'FactPage URL',
                        'Factmaps' : 'FactMaps URL'}

#Apply renaming to each of the dataframes
df_explo.rename(columns=attributes_to_rename, inplace=True)
df_dev.rename(columns=attributes_to_rename, inplace=True)

#QC only renamed columns
print("Renamed attributes only:")
renamed_columns = list(attributes_to_rename.values())
df_explo[renamed_columns].head(n=3)
#df_dev[renamed_columns].head(n=3)

Renamed attributes only:

    Name Alternate 1                     Operator Licence number   Intent Intent - planned Well status Well content  SPUD date Completion date Discovery name                              Seismic line   KBE  Terminal depth  Water depth  Kick off point [m RKB]   Location     Facility 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age Geodatum   Latitude  Longitude   Surface Y  Surface X  Quadrant  Block                                                    Press Release URL                                                                                           FactPage URL                                                                          FactMaps URL
0  1/2-1  1/2-1       Phillips Petroleum Norsk AS  143            WILDCAT  WILDCAT          P&A         OIL         1989-03-20 1989-06-04       1/2-1 Blane    PW 8303A - 10   SP. 290                   22.0  3574.0          72.0        NaN                      NORTH SEA  ROSS ISLE    FORTIES FM                  PALEOCENE             NaN                         NaN                                                                     ED50     56.887519  2.476583   6305128.26  468106.29  1         2                                                                           https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Exploration|All&nav3=1382  https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=1382
1  1/2-2  1/2-2       Paladin Resources Norge AS   143 CS         WILDCAT  WILDCAT          P&A         OIL SHOWS   2005-12-14 2006-02-02       None           inline 7429-trace 4824 Survey PGS CGMNOR  40.0  3434.0          74.0        NaN                      NORTH SEA  MÆRSK GIANT  NaN                         NaN                   NaN                         NaN                                                                     ED50     56.992222  2.496572   6316774.33  469410.10  1         2      https://www.npd.no/fakta/nyheter/Resultat-av-leteboring/2006/1-2-2/  https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Exploration|All&nav3=5192  https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=5192
2  1/3-1  1/3-1       A/S Norske Shell             011            WILDCAT  WILDCAT          P&A         GAS         1968-07-06 1968-11-11       1/3-1          LINE 5651  SP. E165                       26.0  4877.0          71.0        NaN                      NORTH SEA  ORION        TOR FM                      LATE CRETACEOUS       CROMER KNOLL GP             EARLY CRETACEOUS                                                        ED50     56.855833  2.851389   6301488.86  490936.87  1         3                                                                           https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Exploration|All&nav3=154   https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=154

<h3>Delete some attributes we don't need in IC</h3>

In [7]:
#Coordinates are repeated elsewhere so we can delete the component parts from the dataframes.
#And we've renamed Wellbore name parts 1 and 2 to Quadrant and Block, and do not need the other parts.

attributes_to_drop = ['Plot symbol', 'NS degrees', 'NS minutes', 'NS seconds', 'NS code', 'EW degrees', 'EW minutes', 'EW seconds', 'EW code', 
                      'Wellbore name, part 3', 'Wellbore name, part 4', 'Wellbore name, part 5', 'Wellbore name, part 6']

df_explo.drop(attributes_to_drop, axis=1, inplace=True)
df_dev.drop(attributes_to_drop, axis=1, inplace=True)

print('Prove we still have well names and coordinates:')
df_explo[['Name', 'Latitude', 'Longitude', 'Surface Y', 'Surface X']].head(n=3)

Prove we still have well names and coordinates:

    Name   Latitude  Longitude   Surface Y  Surface X
0  1/2-1  56.887519  2.476583   6305128.26  468106.29
1  1/2-2  56.992222  2.496572   6316774.33  469410.10
2  1/3-1  56.855833  2.851389   6301488.86  490936.87

<h3>Truncate well list based on column and value(s)</h3>

In [8]:
#Enter the column and values you want to return, e.g. Location: BARENTS SEA, or Quadrant: 6204, 6205.

fltr_column = 'Location'
#List the names you want to *KEEP*!
fltr_value = ['NORTH SEA', 'NORWEGIAN SEA', 'BARENTS SEA']

#Apply the filter to the dataframes
indexNames = df_explo[~df_explo[fltr_column].isin(fltr_value)].index
df_explo.drop(indexNames , inplace=True)
indexNames = df_dev[~df_dev[fltr_column].isin(fltr_value)].index
df_dev.drop(indexNames , inplace=True)

#Get dataframe shape and unpack tuples
(exploRows, exploCols) = df_explo.shape
(devRows, devCols) = df_dev.shape

#Print out the results
print("After filtering on {}: {}, you are left with:\n {} rows for Exploration wells, and {} rows for Development wells."
      .format(fltr_column, fltr_value, exploRows, devRows))
print('The first and last rows are:')

#Print the first and last rows of the Exploration dataframe to check that the filter has worked
df_explo.iloc[[0, -1]]

After filtering on Location: ['NORTH SEA', 'NORWEGIAN SEA', 'BARENTS SEA'], you are left with:
 1930 rows for Exploration wells, and 5144 rows for Development wells.
The first and last rows are:

           Name Alternate 1                     Operator Licence number   Intent Well status Well content         Type Subsea  SPUD date Completion date  Field Drill permit         Discovery name Discovery wellbore  Bottom hole temperature [°C] Sitesurvey                          Seismic line  Maximum inclination [°]   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB] Oldest penetrated age Oldest penetrated formation     Location       Facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral Intent - planned  Entry year  Completed year Reclassified from/to wellbore Reentry activity 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age  Drilling days Reentry  Prod. licence for drilling target Plugged and abondon date Plugged date Geodatum   Latitude  Longitude   Surface Y  Surface X  UTM zone  Quadrant  Block                                                       Press Release URL                                                                                           FactPage URL                                                                          FactMaps URL      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date Reclassified date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in  NPDID site survey Date main level updated Date all updated Date sync NPD
0     1/2-1      1/2-1       Phillips Petroleum Norsk AS  143            WILDCAT  P&A         OIL          EXPLORATION   NO   1989-03-20 1989-06-04       BLANE  604-L        1/2-1 Blane            YES                147.0                         None       PW 8303A - 10   SP. 290               2.0                      22.0 NaN                                  3574.0          72.0        NaN                      CAMPANIAN             TOR FM                      NORTH SEA    ROSS ISLE      SEMISUB STEEL          MOVEABLE                   12                            NO           WILDCAT          1989        1989            None                          None             FORTIES FM                  PALEOCENE             NaN                         NaN                                                                     77             NO     NaN                                NaT                      NaT           ED50     56.887519  2.476583   6305128.26  468106.29  31        1         2                                                                              https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Exploration|All&nav3=1382  https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=1382  initial                                                        2007-12-19       1991-06-04   NaT                1382            43814.0          3437650.0    296245.0                 0                                 21956.0                             NaN                2019-10-03              2019-10-03        11.01.2020
1929  7435/12-1  7435/12-1   Statoil Petroleum AS         859            WILDCAT  P&A         GAS          EXPLORATION   NO   2017-08-09 2017-09-01       None   1667-L       7435/12-1 (Korpfjell)  YES                54.0                          None       ST14005T15: Inline 7833. X-Line 7829  3.1                      32.0  1539.0                              1540.0          253.0       NaN                      MIDDLE TRIASSIC       KOBBE FM                    BARENTS SEA  SONGA ENABLER  SEMISUB STEEL          MOVEABLE                   23                            NO           WILDCAT          2017        2017            None                          None             STØ FM                      MIDDLE JURASSIC       KOBBE FM                    MIDDLE TRIASSIC                                                         24             NO     NaN                                NaT                      NaT           ED50     74.071725  35.808628  8222886.96  402277.88  37        7435      12     https://www.npd.no/fakta/nyheter/Resultat-av-leteboring/2017/743512-1/  https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Exploration|All&nav3=8228  https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=8228  initial                                                        2019-09-01       2019-09-01   NaT                8228            29491696.0      NaN           439972.0                 0                                 28169055.0                          NaN                2019-12-07              2019-12-07        11.01.2020

<h3>CREATE FILES - create Reference files for IC containing URLs for Exploration and Development wells</h3>

In [9]:
#Converts three URL columns into three rows. Adds a Title column and sorts by Well and Title.
df_explo_references = df_explo[['Name', 'Press Release URL', 'FactPage URL', 'FactMaps URL']]
df_explo_references = pd.melt(df_explo_references, id_vars='Name', value_vars=['Press Release URL', 'FactPage URL', 'FactMaps URL'], var_name='Title', value_name='URL')
df_explo_references.sort_values(['Name', 'Title'], inplace=True)

#Remove empty rows, specifically where no 'Press Release URL' for Exploration references
df_explo_references['URL'].replace(' ', np.nan, inplace=True)
df_explo_references.dropna(subset=['URL'], inplace=True)

#Name and create file for Exploration wells
explo_ref_filename = 'output data/IC_explo_references.csv'
#df_explo_references.to_csv(explo_ref_filename, index=False)
print('Created file:', explo_ref_filename)
df_explo_references.head(n=6)

Created file: output data/IC_explo_references.csv

       Name              Title                                                                                                    URL
3860  1/2-1  FactMaps URL       https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=1382
1930  1/2-1  FactPage URL       https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Exploration|All&nav3=1382
3861  1/2-2  FactMaps URL       https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=5192
1931  1/2-2  FactPage URL       https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Exploration|All&nav3=5192
1     1/2-2  Press Release URL  https://www.npd.no/fakta/nyheter/Resultat-av-leteboring/2006/1-2-2/
3862  1/3-1  FactMaps URL       https://factmaps.npd.no/factmaps/3_0/?run=WellboreExpByNPDID&scale=100000&NPDID=154

In [10]:
#As above, but creates 'Reference' file for Development Wells (minus the Press Release URL)
df_dev_references = df_dev[['Name', 'FactPage URL', 'FactMaps URL']]
df_dev_references = pd.melt(df_dev_references, id_vars='Name', value_vars=['FactPage URL', 'FactMaps URL'], var_name='Title', value_name='URL')
df_dev_references.sort_values(['Name', 'Title'], inplace=True)

#Name and create file for Development wells
dev_ref_filename = 'output data/IC_dev_references.csv'
#df_dev_references.to_csv(dev_ref_filename, index=False)
print('Created file:', dev_ref_filename)
df_dev_references.head(n=4)

Created file: output data/IC_dev_references.csv

           Name         Title                                                                                                    URL
5144  1/3-A-1 H  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=WellboreDevByNPDID&scale=100000&NPDID=6612
0     1/3-A-1 H  FactPage URL  https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Development|All&nav3=6612
5145  1/3-A-2 H  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=WellboreDevByNPDID&scale=100000&NPDID=6613
1     1/3-A-2 H  FactPage URL  https://factpages.npd.no/factpages/default.aspx?nav1=wellbore&nav2=PageView|Development|All&nav3=6613

<h3>Drop URL attributes</h3>

In [11]:
#Now that we've output the URLs to separate files, we no longer need them in the Exploration and Development dataframes.
df_explo.drop(['Press Release URL', 'FactPage URL', 'FactMaps URL'], axis=1, inplace=True)
df_dev.drop(['FactPage URL', 'FactMaps URL'], axis=1, inplace=True)

df_explo.head(n=3)

    Name Alternate 1                     Operator Licence number   Intent Well status Well content         Type Subsea  SPUD date Completion date  Field Drill permit Discovery name Discovery wellbore  Bottom hole temperature [°C] Sitesurvey                              Seismic line  Maximum inclination [°]   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB] Oldest penetrated age Oldest penetrated formation   Location     Facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral Intent - planned  Entry year  Completed year Reclassified from/to wellbore Reentry activity 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age  Drilling days Reentry  Prod. licence for drilling target Plugged and abondon date Plugged date Geodatum   Latitude  Longitude   Surface Y  Surface X  UTM zone  Quadrant  Block      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date Reclassified date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in  NPDID site survey Date main level updated Date all updated Date sync NPD
0  1/2-1  1/2-1       Phillips Petroleum Norsk AS  143            WILDCAT  P&A         OIL          EXPLORATION   NO   1989-03-20 1989-06-04       BLANE  604-L        1/2-1 Blane    YES                147.0                         None       PW 8303A - 10   SP. 290                   2.0                      22.0 NaN                                  3574.0          72.0        NaN                      CAMPANIAN             TOR FM                      NORTH SEA  ROSS ISLE    SEMISUB STEEL          MOVEABLE                   12                            NO           WILDCAT          1989        1989            None                          None             FORTIES FM                  PALEOCENE             NaN                         NaN                                                                     77             NO     NaN                                NaT                      NaT           ED50     56.887519  2.476583   6305128.26  468106.29  31        1         2      initial                                                        2007-12-19       1991-06-04   NaT                1382            43814.0          3437650.0    296245.0                 0                                 21956.0                             NaN                2019-10-03              2019-10-03        11.01.2020
1  1/2-2  1/2-2       Paladin Resources Norge AS   143 CS         WILDCAT  P&A         OIL SHOWS    EXPLORATION   NO   2005-12-14 2006-02-02       None   1103-L       None           NO                 138.0                         None       inline 7429-trace 4824 Survey PGS CGMNOR  4.9                      40.0  3432.0                              3434.0          74.0        NaN                      PALEOCENE             EKOFISK FM                  NORTH SEA  MÆRSK GIANT  JACK-UP 3 LEGS         MOVEABLE                   12                            NO           WILDCAT          2005        2006            None                          None             NaN                         NaN                   NaN                         NaN                                                                     51             NO     NaN                                NaT                      NaT           ED50     56.992222  2.496572   6316774.33  469410.10  31        1         2      initial                                                        2008-08-15       2008-02-02   NaT                5192           NaN              NaN           278245.0                 0                                 2424919.0                           NaN                2019-10-03              2019-10-03        11.01.2020
2  1/3-1  1/3-1       A/S Norske Shell             011            WILDCAT  P&A         GAS          EXPLORATION   NO   1968-07-06 1968-11-11       None   15-L         1/3-1          YES                182.0                         None       LINE 5651  SP. E165                       18.0                     26.0 NaN                                  4877.0          71.0        NaN                      LATE PERMIAN          ZECHSTEIN GP                NORTH SEA  ORION        JACK-UP 3 LEGS         MOVEABLE                   1-A                           NO           WILDCAT          1968        1968            None                          None             TOR FM                      LATE CRETACEOUS       CROMER KNOLL GP             EARLY CRETACEOUS                                                        129            NO     NaN                                NaT                      NaT           ED50     56.855833  2.851389   6301488.86  490936.87  31        1         3      initial                                                        2010-04-30       1970-11-11   NaT                154             43820.0         NaN           288604.0                 0                                 20844.0                             NaN                2019-10-03              2019-10-03        11.01.2020

<h3>Add and populate new columns</h3>

In [12]:
#Add new column(s) and assign constant value, e.g. Country: NORWAY.
df_explo['Country'] = 'NORWAY'
df_dev['Country'] = 'NORWAY'

#Check the result
df_explo[['Name', 'Country']].head(n=3)

    Name Country
0  1/2-1  NORWAY
1  1/2-2  NORWAY
2  1/3-1  NORWAY

<h3>Copy data from one column to another</h3>

In [13]:
#Versions 4.3.1 and earlier only. Fixed in 4.3.2.
#First lets rename an extraordinarily long string in column 'Seismic line' to avoid an error in IC.
#df_explo['Seismic line'] = df_explo['Seismic line'].replace('TUN15M01 3D bin datasett: Inline reference: 12688 Croslline reference: between 12383 and 12384', 'TUN15M01 3D bin: Inline 12688 Crossline 12383-12384')

#And lets remove the decimal places introduced to the 'NPDIP' columns
df_explo['NPDID discovery'] = df_explo['NPDID discovery'].fillna(0).astype(int)
df_dev['NPDID discovery'] = df_dev['NPDID discovery'].fillna(0).astype(int)
df_explo['NPDID drilling facility'] = df_explo['NPDID drilling facility'].fillna(0).astype(int)
df_dev['NPDID drilling facility'] = df_dev['NPDID drilling facility'].fillna(0).astype(int)
df_explo['NPDID field'] = df_explo['NPDID field'].fillna(0).astype(int)
df_dev['NPDID field'] = df_dev['NPDID field'].fillna(0).astype(int)

#Now lets copy some data from one column to another, preserving the original.
df_explo['UWI number'] = df_explo['NPDID wellbore']
df_dev['UWI number'] = df_dev['NPDID wellbore']

#Check the result
df_explo[['Name', 'NPDID drilling facility', 'NPDID wellbore']].head(n=3)

    Name  NPDID drilling facility  NPDID wellbore
0  1/2-1  296245                   1382
1  1/2-2  278245                   5192
2  1/3-1  288604                   154

<h3>Concatenate Well Status & Well Content to match IC's Well Symbols dictionary</h3>

In [14]:
#This cell creates a new column called 'Status', combining 'Well Status' and 'Well Content'
#These values should match IC's Well Symbols graphic dictionary entries, e.g. "P & A Oil Shows"

#Change 'P&A' to 'P & A'.
df_explo['Well status'] = df_explo['Well status'].replace(to_replace='P&A', value='P & A')
#First letter of each word capitalised
df_explo['Status'] = df_explo['Well status'].str.title() + ' ' + df_explo['Well content'].str.title()

#As above but for Development wells
df_dev['Well status'] = df_dev['Well status'].replace(to_replace='P&A', value='P & A')
df_dev['Status'] = df_dev['Well status'].str.title() + ' ' + df_dev['Well content'].str.title()

#Replace a few other things to help with matching
df_explo = df_explo.replace({'Status' : { ' Not Available' : '', ' Not Applicable' : '', '/' : ' ', 'Oil Gas ' : 'Oil & Gas '}}, regex=True)
df_dev = df_dev.replace({'Status' :     { ' Not Available' : '', ' Not Applicable' : '', '/' : ' ', 'Oil Gas ' : 'Oil & Gas '}}, regex=True)

#Check the results
df_explo[['Name', 'Status']].head(n=10)
#df_dev[['Name', 'Status']].tail(n=10)

    Name                Status
0  1/2-1  P & A Oil
1  1/2-2  P & A Oil Shows
2  1/3-1  P & A Gas
3  1/3-2  P & A Dry
4  1/3-3  P & A Oil
5  1/3-4  P & A Oil Shows
6  1/3-5  P & A Dry
7  1/3-6  P & A Gas Condensate
8  1/3-7  P & A Oil
9  1/3-8  P & A Shows

In [15]:
#List all unique entries under Status for all wells.
#In IC, open Database > Graphic Dictionaries > Well Symbols, and ensure you have dictionary entries for each.

lst_explo_status = sorted(set(df_explo['Status'].astype(str)))
lst_dev_status = sorted(set(df_dev['Status'].astype(str)))

lst_all_status = lst_explo_status + lst_dev_status
print("{} unique status values to include in IC 'Well Symbols' graphic dictionary:".format(len(lst_all_status)))
print('')
lst_unique_status = sorted(set(lst_all_status))
print(', '.join(lst_unique_status))

95 unique status values to include in IC 'Well Symbols' graphic dictionary:

Blowout Gas Shows, Closed, Closed Cuttings, Closed Gas, Closed Gas Condensate, Closed Oil, Closed Oil & Gas Condensate, Closed Oil Gas, Closed Water, Closed Water Gas, Drilling Dry, Injecting Co2, Injecting Cuttings, Injecting Gas, Injecting Gas Condensate, Injecting Oil, Injecting Oil Gas, Injecting Water, Injecting Water Gas, Junked, Junked Dry, Junked Oil, Junked Oil & Gas Shows, Junked Oil Gas, Junked Shows, Junked Water, P & A, P & A Cuttings, P & A Dry, P & A Gas, P & A Gas Condensate, P & A Gas Shows, P & A Oil, P & A Oil & Gas Condensate, P & A Oil & Gas Shows, P & A Oil Gas, P & A Oil Shows, P & A Shows, P & A Water, Plugged, Plugged Cuttings, Plugged Dry, Plugged Gas, Plugged Gas Condensate, Plugged Oil, Plugged Oil & Gas Condensate, Plugged Oil Gas, Plugged Water, Plugged Water Gas, Predrilled, Predrilled Gas, Producing Gas, Producing Gas Condensate, Producing Oil, Producing Oil & Gas Condensate, Producing Oil Gas, Producing Water, Producing Water Gas, Re-Class To Dev Dry, Re-Class To Dev Gas, Re-Class To Dev Gas Condensate, Re-Class To Dev Oil, Re-Class To Dev Oil Gas, Re-Class To Test Oil, Re-Class To Test Oil Gas, Suspended, Suspended Dry, Suspended Gas, Suspended Gas Condensate, Suspended Gas Shows, Suspended Oil, Suspended Oil & Gas Shows, Suspended Oil Gas, Suspended Oil Shows, Suspended Shows, Suspended Water, Suspended Water Gas, Will Never Be Drilled, nan

<h3>Concatenate cells to create 'Grid system' in IC format</h3>

In [16]:
#At time of writing, there are several problems with 'Geodatum' in the NPD datasets, including:
# - trailing spaces ('ED50 ') in all Explo wells
# - erroneous '56ED50', '60ED50' and '61ED50' values in Dev wells
# - missing 'ED50' values in two explo wells
#Luckily, we can just force 'ED50' on all these cells!
df_explo['Geodatum'] = 'ED50'
df_dev['Geodatum'] = 'ED50'

#Concatenate cells to create a new columns 'Grid system' in IC format (e.g. "ED50 / UTM Zone 31N").
df_explo['Grid system'] = df_explo['Geodatum'] + ' / ' + 'UTM zone ' + df_explo['UTM zone'].map(str) + 'N'
df_dev['Grid system'] = df_dev['Geodatum'] + ' / ' + 'UTM zone ' + df_dev['UTM zone'].map(str) + 'N'

print('Geodatum and Grid systems for IC:')
df_explo[['Name', 'Geodatum', 'Grid system']].head()

Geodatum and Grid systems for IC:

    Name Geodatum          Grid system
0  1/2-1  ED50     ED50 / UTM zone 31N
1  1/2-2  ED50     ED50 / UTM zone 31N
2  1/3-1  ED50     ED50 / UTM zone 31N
3  1/3-2  ED50     ED50 / UTM zone 31N
4  1/3-3  ED50     ED50 / UTM zone 31N

<h3>QC - check and re-order well headers</h3>

In [17]:
#Print out attributes lists, reflecting all the changes above.
#Use these lists to check the current order of your columns in each, and consider how you might like to re-order them.
#Any columns created above (including: Country, Status, Grid system) currently appear at the end of the lists.

print('--- BEFORE RE-ORDERING ---\n')
print(len(df_explo.columns), 'Exploration attributes:\n', list(df_explo.columns), '\n')
print(len(df_dev.columns), 'Development attributes:\n', list(df_dev.columns))

--- BEFORE RE-ORDERING ---

75 Exploration attributes:
 ['Name', 'Alternate 1', 'Operator', 'Licence number', 'Intent', 'Well status', 'Well content', 'Type', 'Subsea', 'SPUD date', 'Completion date', 'Field', 'Drill permit', 'Discovery name', 'Discovery wellbore', 'Bottom hole temperature [°C]', 'Sitesurvey', 'Seismic line', 'Maximum inclination [°]', 'KBE', 'Final vertical depth (TVD) [m RKB]', 'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 'Oldest penetrated age', 'Oldest penetrated formation', 'Location', 'Facility', 'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 'Multilateral', 'Intent - planned', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Reentry activity', '1st level with HC formation', '1st level with HC age', '2nd level with HC formation', '2nd level with HC age', '3rd level with HC formation', '3rd level with HC age', 'Drilling days', 'Reentry', 'Prod. licence for drilling target', 'Plugged and abondon date', 'Plugged date', 'Geodatum', 'Latitude', 'Longitude', 'Surface Y', 'Surface X', 'UTM zone', 'Quadrant', 'Block', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'Publication date', 'Release date', 'Reclassified date', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 'NPDID drilling facility', 'NPDID wellbore reclassified from', 'NPDID production licence drilled in', 'NPDID site survey', 'Date main level updated', 'Date all updated', 'Date sync NPD', 'Country', 'UWI number', 'Status', 'Grid system']

64 Development attributes:
 ['Name', 'Alternate 1', 'Operator', 'Licence number', 'Well status', 'Intent', 'Intent - planned', 'Well content', 'Type', 'Subsea', 'SPUD date', 'Completion date', 'Predrilled entry date', 'Predrilled completion date', 'Field', 'Drill permit', 'Discovery name', 'Discovery wellbore', 'KBE', 'Final vertical depth (TVD) [m RKB]', 'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 'Location', 'Facility', 'Drilling facility type', 'Drilling facility category', 'Production facility', 'Licensing activity awarded in', 'Multilateral', 'Content - planned', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Plugged and abondon date', 'Plugged date', 'Prod. licence for drilling target', 'Geodatum', 'Latitude', 'Longitude', 'Surface Y', 'Surface X', 'UTM zone', 'Quadrant', 'Block', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 'Publication date', 'Release date', 'NPDID production licence drilled in', 'NPDID production licence target', 'NPDID drilling facility', 'NPDID production facility', 'NPDID wellbore reclassified from', 'Date main level updated', 'Date all updated', 'Date sync NPD', 'Country', 'UWI number', 'Status', 'Grid system']

<h3>Re-order all columns (OPTIONAL)</h3>

In [18]:
#Specifies the order of columns for Exploration and Development wells in the final outputs.
#It's not compulsory to re-order columns, as IC lists all non-default attributes alphabetically.

explo_order = ['Name', 'Alternate 1', 'UWI number', 'Quadrant', 'Block', 'Operator', 'Licence number', 'Intent', 
                'Intent - planned', 'Well status', 'Well content', 'Status', 'Type', 'Subsea', 'SPUD date', 
                'Completion date', 'Field', 'Drill permit', 'Discovery name', 'Discovery wellbore', 
                'Bottom hole temperature [°C]', 'Seismic line', 'Maximum inclination [°]', 'KBE', 
                'Final vertical depth (TVD) [m RKB]', 'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 
                'Oldest penetrated age', 'Oldest penetrated formation', 'Location', 'Country', 'Facility', 
                'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 
                'Multilateral', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Reentry activity', 
                'Plot symbol', '1st level with HC formation', '1st level with HC age', '2nd level with HC formation', 
                '2nd level with HC age', '3rd level with HC formation', '3rd level with HC age', 'Drilling days', 
                'Reentry', 'Geodatum', 'Latitude', 'Longitude', 'Surface X', 'Surface Y', 'UTM zone', 'Grid system', 
                'DISKOS Well Type', 'DISKOS Wellbore Parent', 
                'Publication date', 'Release date', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 
                'NPDID drilling facility', 'NPDID wellbore reclassified from', 'NPDID production licence drilled in', 
                'Date main level updated', 'Date all updated', 'Date sync NPD']

dev_order = ['Name', 'Alternate 1', 'UWI number', 'Quadrant', 'Block', 'Operator', 'Licence number', 'Intent', 
              'Intent - planned', 'Well status', 'Well content',  'Status', 'Content - planned', 'Type', 'Subsea',
              'SPUD date', 'Completion date', 'Field', 'Predrilled entry date','Predrilled completion date', 
              'Drill permit', 'Discovery name', 'Discovery wellbore', 'KBE', 'Final vertical depth (TVD) [m RKB]',
              'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 'Location', 'Country', 'Facility', 
              'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 
              'Production facility', 'Multilateral', 'Entry year', 'Completed year','Reclassified from/to wellbore', 
              'Plot symbol', 'Geodatum', 'Latitude', 'Longitude', 'Surface Y', 'Surface X', 'UTM zone',  'Grid system', 
              'DISKOS Well Type', 'DISKOS Wellbore Parent', 'NPDID wellbore', 
              'NPDID discovery', 'NPDID field', 'Publication date', 'Release date', 'NPDID production licence drilled in', 
              'NPDID drilling facility', 'NPDID production facility','NPDID wellbore reclassified from', 
              'Date main level updated', 'Date all updated', 'Date sync NPD']

In [19]:
#Check if your list of re-ordered attributes is complete.
missing_explo = set(df_explo.columns).difference(explo_order)
missing_dev = set(df_dev.columns).difference(dev_order)

if len(missing_explo) > 0:
    print('Your re-ordered list of Exploration attributes is incomplete. You must include:\n {}.\n'.format(missing_explo))
else:
    print('Your re-ordered list of Exploration attributes is complete.\n')
    
if len(missing_dev) > 0:
    print('Your re-ordered list of Development attributes is incomplete. You must include:\n {}.'.format(missing_dev))
else:
    print('Your re-ordered list of Development attributes is complete.')

Your re-ordered list of Exploration attributes is incomplete. You must include:
 {'Sitesurvey', 'Reclassified date', 'Prod. licence for drilling target', 'Plugged and abondon date', 'NPDID site survey', 'Plugged date'}.

Your re-ordered list of Development attributes is incomplete. You must include:
 {'Plugged date', 'NPDID production licence target', 'Prod. licence for drilling target', 'Plugged and abondon date'}.

In [20]:
#Only when your re-ordered lists of Exploration and Development attributes are complete should you run this cell.
#Applies the re-ordering to the dataframes

df_explo = df_explo.reindex(columns=explo_order)
df_dev = df_dev.reindex(columns=dev_order)

<h3>QC column values</h3>

In [21]:
#Print out all unique values for selected attributes (example: Operator and Field)

def lstheaderfields (*args):
    for arg in args:
        print('---' , arg, '---')
        print('')
        words = [x for x in df_explo[arg].unique()]
        print('Exploration wells:')
        print(words)
        print('')
        words = [x for x in df_dev[arg].unique()]
        print('Development wells:')
        print(words)
        print("")
        
#Enter the names of columns you would like to check
lstheaderfields('Operator', 'Field')

--- Operator ---

Exploration wells:
['Phillips Petroleum Norsk AS', 'Paladin Resources Norge AS', 'A/S Norske Shell', 'Elf Petroleum Norge AS', 'Amoco Norway Oil Company', 'BP Norway Limited U.A.', 'DONG E&P Norge AS', 'BG Norge AS', 'Phillips Petroleum Company Norway', 'Conoco Norway Inc.', 'Amerada Hess Norge AS', 'Total E&P Norge AS', 'Den norske stats oljeselskap a.s', 'BP Petroleum Dev. of Norway AS', 'Talisman Energy Norge AS', 'Det norske oljeselskap ASA', 'Aker BP ASA', 'Saga Petroleum ASA', 'Norske Murphy Oil Company', 'Norwegian Gulf Exploration Company AS', 'Norsk Hydro Produksjon AS', 'ConocoPhillips Skandinavia AS', 'Statoil Petroleum AS', 'Norsk Agip AS', 'StatoilHydro Petroleum AS', 'Lundin Norway AS', 'MOL Norge AS', 'Faroe Petroleum Norge AS', 'Edison Norge AS', 'Elf Norge A/S', 'Premier Oil Norge AS', 'Repsol Exploration Norge AS', 'LOTOS Exploration and Production Norge AS', 'Esso Exploration and Production Norway A/S', 'Unocal Norge A/S', 'Centrica Resources (Norge) AS', 'Spirit Energy Norway AS', 'Repsol Norge AS', 'Texaco Exploration Norway AS', 'ExxonMobil Exploration and Production Norway AS', 'Wintershall Norge AS', 'Norsk Hydro Petroleum AS', 'Syracuse Oils Norge A/S', 'Statoil ASA (old)', 'Equinor Energy AS', 'StatoilHydro ASA', 'Deminex Norge AS', 'Det norske oljeselskap ASA (old)', 'Pertra AS (OLD)', 'Noil Energy ASA', 'Wintershall Norge ASA', 'BP Amoco Norge AS', 'Tullow Oil Norge AS', 'Norwegian Energy Company ASA', 'Total Norge AS', 'Marathon Petroleum Norge AS', 'Fina Production Licenses AS', 'Det Norske Oljeselskap ASA (old)', 'Wellesley Petroleum AS', 'Suncor Energy Norge AS', 'Rocksource Exploration Norway AS', 'E.ON Ruhrgas Norge AS', 'Mobil Exploration Norway INC', 'Revus Energy ASA', 'Petro-Canada Norge AS', 'Norske Conoco A/S', 'Eni Norge AS', 'RWE Dea Norge AS', 'VNG Norge (Operations) AS', 'Idemitsu Petroleum Norge AS', 'Nexen Exploration Norge AS', 'GDF SUEZ E&P Norge AS', 'Spirit Energy Norge AS', 'ENGIE E&P Norge AS', 'Maersk Oil Norway AS', 'VNG Norge AS', 'OMV (Norge) AS', 'OKEA ASA', 'Norsk Chevron AS', 'Chevron Texaco Norge AS', 'BP Norge AS', 'E.ON E&P Norge AS', 'PGNiG Upstream Norway AS', 'DNO North Sea (Norge) AS', 'Neptune Energy Norge AS', 'Capricorn Norge AS', 'Wintershall Dea Norge AS', 'Noreco Norway AS', 'Rocksource ASA', 'DEA Norge AS', 'Elf Aquitaine Norge A/S', 'Mobil Development Norway AS']

Development wells:
['DONG E&P Norge AS', 'BP Amoco Norge AS', 'Aker BP ASA', 'BP Norge AS', 'Phillips Petroleum Company Norway', 'Den norske stats oljeselskap a.s', 'BP Norway Limited U.A.', 'Talisman Energy Norge AS', 'ConocoPhillips Norge', 'ConocoPhillips Skandinavia AS', 'Amoco Norway Oil Company', 'BG Norge AS', 'Lundin Norway AS', 'Spirit Energy Norge AS', 'Elf Petroleum Norge AS', 'Statoil Petroleum AS', 'Equinor Energy AS', 'Statoil ASA (old)', 'StatoilHydro ASA', 'StatoilHydro Petroleum AS', 'Pertra AS (OLD)', 'Saga Petroleum ASA', 'Det norske oljeselskap ASA', 'Esso Exploration and Production Norway A/S', 'ExxonMobil Exploration and Production Norway AS', 'Marathon Petroleum Norge AS', 'Marathon Oil Norge AS', 'Norsk Hydro Produksjon AS', 'Norsk Hydro Petroleum AS', 'TotalFinaElf Exploration Norge AS', 'Total E&P Norge AS', 'Wintershall Norge AS', 'Wintershall Dea Norge AS', 'Mobil Exploration Norway INC', 'A/S Norske Shell', 'Neptune Energy Norge AS', 'GDF SUEZ E&P Norge AS', 'OKEA ASA', 'Vår Energi AS', 'Eni Norge AS', 'Conoco Norway Inc.', 'DEA Norge AS']

--- Field ---

Exploration wells:
['BLANE', None, 'TAMBAR', 'OSELVAR', 'FLYNDRE', 'ALBUSKJELL', 'TOMMELITEN GAMMA', 'GYDA', 'EKOFISK', 'VEST EKOFISK', 'TOR', 'ELDFISK', 'EDDA', 'EMBLA', 'VALHALL', 'HOD', 'TRYM', 'GAUPE', 'BRYNHILD', 'COD', 'MIME', 'ULA', 'ODA', 'YME', 'GUDRUN', 'GINA KROG', 'ENOCH', 'GLITNE', 'SLEIPNER VEST', 'UTGARD', 'SLEIPNER ØST', 'GUNGNE', 'VOLVE', 'VARG', 'REV', 'IVAR AASEN', 'EDVARD GRIEG', 'JOHAN SVERDRUP', 'SOLVEIG', 'SIGYN', 'ALVHEIM', 'VOLUND', 'BØYLA', 'FRIGG', 'NORDØST FRIGG', 'SKOGUL', 'ØST FRIGG', 'LILLE-FRIGG', 'FRØY', 'HEIMDAL', 'VALE', 'VILJE', 'SKIRNE', 'ATLA', 'JOTUN', 'BALDER', 'RINGHORNE ØST', 'JETTE', 'HANZ', 'GRANE', 'SVALIN', 'MARTIN LINGE', 'HULDRA', 'VESLEFRIKK', 'TUNE', 'OSEBERG', 'OSEBERG ØST', 'OSEBERG SØR', 'ODIN', 'TROLL', 'BRAGE', 'STATFJORD', 'STATFJORD ØST', 'STATFJORD NORD', 'SYGNA', 'GULLFAKS SØR', 'KNARR', 'SNORRE', 'VIGDIS', 'TORDIS', 'VISUND', 'GIMLE', 'VISUND SØR', 'GULLFAKS', 'VALEMON', 'SINDRE', 'KVITEBJØRN', 'VEGA', 'GJØA', 'NOVA', 'FRAM', 'BYRDING', 'FRAM H-NORD', 'DUVA', 'ORMEN LANGE', 'KRISTIN', 'TRESTAKK', 'ÅSGARD', 'TYRIHANS', 'MARIA', 'FENJA', 'MIKKEL', 'NJORD', 'HYME', 'BAUGE', 'DRAUGEN', 'MORVIN', 'MARULK', 'ALVE', 'SKARV', 'ÆRFUGL', 'HEIDRUN', 'DVALIN', 'YTTERGRYTA', 'NORNE', 'URD', 'SKULD', 'AASTA HANSTEEN', 'SNØHVIT', 'GOLIAT', 'JOHAN CASTBERG']

Development wells:
['OSELVAR', 'TAMBAR', 'TAMBAR ØST', 'ALBUSKJELL', 'TOMMELITEN GAMMA', 'GYDA', 'EKOFISK', 'VEST EKOFISK', 'TOR', 'ELDFISK', 'EDDA', 'EMBLA', 'VALHALL', 'HOD', 'TRYM', 'GAUPE', 'BRYNHILD', 'COD', 'ULA', 'ODA', 'YME', 'FRIGG', 'GUDRUN', 'GLITNE', 'GINA KROG', 'UTGARD', 'SLEIPNER ØST', 'GUNGNE', 'SLEIPNER VEST', 'VOLVE', 'VARG', 'REV', 'EDVARD GRIEG', 'IVAR AASEN', 'JOHAN SVERDRUP', 'SIGYN', 'ALVHEIM', 'BØYLA', None, 'VOLUND', 'NORDØST FRIGG', 'SKOGUL', 'ØST FRIGG', 'LILLE-FRIGG', 'HEIMDAL', 'VALE', 'VILJE', 'FRØY', 'SKIRNE', 'ATLA', 'JOTUN', 'BALDER', 'RINGHORNE ØST', 'JETTE', 'GRANE', 'SVALIN', 'HULDRA', 'VESLEFRIKK', 'MARTIN LINGE', 'OSEBERG', 'OSEBERG ØST', 'TUNE', 'OSEBERG SØR', 'ODIN', 'TROLL', 'TROLL BRENT B', 'BRAGE', 'STATFJORD', 'STATFJORD ØST', 'STATFJORD NORD', 'SYGNA', 'GULLFAKS SØR', 'KNARR', 'SNORRE', 'VIGDIS', 'TORDIS', 'VISUND', 'VISUND SØR', 'GULLFAKS', 'GIMLE', 'SINDRE', 'KVITEBJØRN', 'VALEMON', 'VEGA', 'GJØA', 'FRAM', 'FRAM H-NORD', 'BYRDING', 'DUVA', 'ORMEN LANGE', 'KRISTIN', 'TRESTAKK', 'TYRIHANS', 'MARIA', 'ÅSGARD', 'MIKKEL', 'NJORD', 'HYME', 'DRAUGEN', 'MORVIN', 'MARULK', 'SKARV', 'ÆRFUGL', 'ALVE', 'HEIDRUN', 'DVALIN', 'YTTERGRYTA', 'NORNE', 'URD', 'SKULD', 'AASTA HANSTEEN', 'SNØHVIT', 'GOLIAT']

<h3>CREATE FILES - create well headers for exploration and development wells</h3>

In [26]:
# #Outputs CSV files for Exploration and Development well headers.
# #If Development dataframe contains more than 3000 wells, split in two for easier handling in IC.

# #Output filenames
# file_explo_all = 'output data/IC_wellbore_exploration_all.csv'
# file_dev_all = 'output data/IC_wellbore_development_all.csv'

# df_explo.to_csv(file_explo_all, encoding='utf-8-sig', index=False)
# print('Created file: {}, which includes {} wells from {} to {}.'.format(file_explo_all, len(df_explo), 
#                                                                         df_explo['Name'][df_explo.index[0]], df_explo['Name'][df_explo.index[-1]]))

# df_dev.to_csv(file_dev_all, encoding='utf-8-sig', index=False)
# print('Created file: {}, which includes {} wells from {} to {}.'.format(file_dev_all, len(df_dev), 
#                                                                         df_dev['Name'][df_dev.index[0]], df_dev['Name'][df_dev.index[-1]]))

<h3>See which Well Attributes you need to create in IC</h3>

In [23]:
#The following attributes are not IC defaults and need to be created under Wells > Attributes.
#Alternatively, use the SQL code produced in the next cell to create these rows in SSMS. 

#Find the full list of attributes after all the editing you've done above
all_attributes = set(list(df_explo.columns) + list(df_dev.columns))

#Find and count those attributes you'll need to create in IC
non_default_attributes = list(set(all_attributes).difference(ic_default_attributes))
non_default_attributes.sort()
num_non_default_attributes = len(non_default_attributes)

print('The following {} attributes are not IC defaults and must be added to IC:\n'.format(num_non_default_attributes))
print(list(non_default_attributes))

The following 49 attributes are not IC defaults and must be added to IC:

['1st level with HC age', '1st level with HC formation', '2nd level with HC age', '2nd level with HC formation', '3rd level with HC age', '3rd level with HC formation', 'Bottom hole temperature [°C]', 'Completed year', 'Content - planned', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'Date all updated', 'Date main level updated', 'Date sync NPD', 'Discovery wellbore', 'Drill permit', 'Drilling days', 'Drilling facility category', 'Drilling facility type', 'Entry year', 'Final vertical depth (TVD) [m RKB]', 'Intent - planned', 'Kick off point [m RKB]', 'Licensing activity awarded in', 'Maximum inclination [°]', 'Multilateral', 'NPDID discovery', 'NPDID drilling facility', 'NPDID field', 'NPDID production facility', 'NPDID production licence drilled in', 'NPDID wellbore', 'NPDID wellbore reclassified from', 'Oldest penetrated age', 'Oldest penetrated formation', 'Plot symbol', 'Predrilled completion date', 'Predrilled entry date', 'Production facility', 'Publication date', 'Reclassified from/to wellbore', 'Reentry', 'Reentry activity', 'Release date', 'Subsea', 'Type', 'UTM zone', 'Well content', 'Well status']

In [24]:
#If you have database administration privileges, you can use this cell to generate the SQL Query code that will create Well Attributes in IC in the format:
    #INSERT INTO t_WellsUserFields (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)
    #VALUES (1, 'Attribute', 'False', 0, 'Description of attribute', 0, 1);
#This assumes you have no yet created any Well Attributes in IC. If you have already, you'll need to tweak the 3 variables below.

pk_index = 0 #Enter one less than your highest pk_index
original_pk_index = 0 #Enter the same number as above (this one we won't change)
f_sortorder = 0 #Enter the next appropriate f_sortorder

print("INSERT INTO t_WellsUserFields")
print("  (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)")
print("VALUES")

for i in non_default_attributes:
    pk_index += 1
    f_sortorder += 1
    if pk_index < (num_non_default_attributes + original_pk_index):
        print("  ({x}, '{y}', 'False', 0, 'Userfield {y}', 0, {z}),".format(x = pk_index, y = i, z = f_sortorder))
    else:
        print("  ({x}, '{y}', 'False', 0, 'Userfield {y}', 0, {z});".format(x = pk_index, y = i, z = f_sortorder))

# Follow these steps:
# 1. Open your IC database in SQL Server Management Studio. IC must be closed/computer restarted to open a LocalDB in SSMS.
# 2. Expand 'Tables', scroll down to 't_WellsUserFields' and right-click 'Edit Top 200 Rows'.
# 3. Press Ctrl+N to create a new query, copy and paste the following SQL code to the blank query and hit F5.

INSERT INTO t_WellsUserFields
  (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)
VALUES
  (1, '1st level with HC age', 'False', 0, 'Userfield 1st level with HC age', 0, 1),
  (2, '1st level with HC formation', 'False', 0, 'Userfield 1st level with HC formation', 0, 2),
  (3, '2nd level with HC age', 'False', 0, 'Userfield 2nd level with HC age', 0, 3),
  (4, '2nd level with HC formation', 'False', 0, 'Userfield 2nd level with HC formation', 0, 4),
  (5, '3rd level with HC age', 'False', 0, 'Userfield 3rd level with HC age', 0, 5),
  (6, '3rd level with HC formation', 'False', 0, 'Userfield 3rd level with HC formation', 0, 6),
  (7, 'Bottom hole temperature [°C]', 'False', 0, 'Userfield Bottom hole temperature [°C]', 0, 7),
  (8, 'Completed year', 'False', 0, 'Userfield Completed year', 0, 8),
  (9, 'Content - planned', 'False', 0, 'Userfield Content - planned', 0, 9),
  (10, 'DISKOS Well Type', 'False', 0, 'Userfield DISKOS Well Type', 0, 10),
  (11, 'DISKOS Wellbore Parent', 'False', 0, 'Userfield DISKOS Wellbore Parent', 0, 11),
  (12, 'Date all updated', 'False', 0, 'Userfield Date all updated', 0, 12),
  (13, 'Date main level updated', 'False', 0, 'Userfield Date main level updated', 0, 13),
  (14, 'Date sync NPD', 'False', 0, 'Userfield Date sync NPD', 0, 14),
  (15, 'Discovery wellbore', 'False', 0, 'Userfield Discovery wellbore', 0, 15),
  (16, 'Drill permit', 'False', 0, 'Userfield Drill permit', 0, 16),
  (17, 'Drilling days', 'False', 0, 'Userfield Drilling days', 0, 17),
  (18, 'Drilling facility category', 'False', 0, 'Userfield Drilling facility category', 0, 18),
  (19, 'Drilling facility type', 'False', 0, 'Userfield Drilling facility type', 0, 19),
  (20, 'Entry year', 'False', 0, 'Userfield Entry year', 0, 20),
  (21, 'Final vertical depth (TVD) [m RKB]', 'False', 0, 'Userfield Final vertical depth (TVD) [m RKB]', 0, 21),
  (22, 'Intent - planned', 'False', 0, 'Userfield Intent - planned', 0, 22),
  (23, 'Kick off point [m RKB]', 'False', 0, 'Userfield Kick off point [m RKB]', 0, 23),
  (24, 'Licensing activity awarded in', 'False', 0, 'Userfield Licensing activity awarded in', 0, 24),
  (25, 'Maximum inclination [°]', 'False', 0, 'Userfield Maximum inclination [°]', 0, 25),
  (26, 'Multilateral', 'False', 0, 'Userfield Multilateral', 0, 26),
  (27, 'NPDID discovery', 'False', 0, 'Userfield NPDID discovery', 0, 27),
  (28, 'NPDID drilling facility', 'False', 0, 'Userfield NPDID drilling facility', 0, 28),
  (29, 'NPDID field', 'False', 0, 'Userfield NPDID field', 0, 29),
  (30, 'NPDID production facility', 'False', 0, 'Userfield NPDID production facility', 0, 30),
  (31, 'NPDID production licence drilled in', 'False', 0, 'Userfield NPDID production licence drilled in', 0, 31),
  (32, 'NPDID wellbore', 'False', 0, 'Userfield NPDID wellbore', 0, 32),
  (33, 'NPDID wellbore reclassified from', 'False', 0, 'Userfield NPDID wellbore reclassified from', 0, 33),
  (34, 'Oldest penetrated age', 'False', 0, 'Userfield Oldest penetrated age', 0, 34),
  (35, 'Oldest penetrated formation', 'False', 0, 'Userfield Oldest penetrated formation', 0, 35),
  (36, 'Plot symbol', 'False', 0, 'Userfield Plot symbol', 0, 36),
  (37, 'Predrilled completion date', 'False', 0, 'Userfield Predrilled completion date', 0, 37),
  (38, 'Predrilled entry date', 'False', 0, 'Userfield Predrilled entry date', 0, 38),
  (39, 'Production facility', 'False', 0, 'Userfield Production facility', 0, 39),
  (40, 'Publication date', 'False', 0, 'Userfield Publication date', 0, 40),
  (41, 'Reclassified from/to wellbore', 'False', 0, 'Userfield Reclassified from/to wellbore', 0, 41),
  (42, 'Reentry', 'False', 0, 'Userfield Reentry', 0, 42),
  (43, 'Reentry activity', 'False', 0, 'Userfield Reentry activity', 0, 43),
  (44, 'Release date', 'False', 0, 'Userfield Release date', 0, 44),
  (45, 'Subsea', 'False', 0, 'Userfield Subsea', 0, 45),
  (46, 'Type', 'False', 0, 'Userfield Type', 0, 46),
  (47, 'UTM zone', 'False', 0, 'Userfield UTM zone', 0, 47),
  (48, 'Well content', 'False', 0, 'Userfield Well content', 0, 48),
  (49, 'Well status', 'False', 0, 'Userfield Well status', 0, 49);

In [25]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=server_name;'
                      'Database=db_name;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM db_name.Table')
# I want to insert entire block on text above. Assign as variable?

for row in cursor:
    print(row)

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'SQL Server' : file not found (0) (SQLDriverConnect)")

In [ ]:
# With userfields created, next step is to create the wells then import the well headers.

INSERT INTO WELLS
  (pk_index, well_id,  units,  created, creator, modified, modifier, project, rte, sea_bed, rig_elevation, datum, terminal_depth, spud_date, completion_date, quadrant, sub_block, kelly, symbol_id, client, utmzone, code, name, field, location, country, basin, name1, name2, strat_schemes, grnd_elev, f_block, grid_x, grid_y, latitude, longtitude, geodatum, facility, discovery_name, seismic_line, intent, f_ipid, f_licenceNumber, f_api, f_comment, f_province, f_county, f_state, f_section, f_Township, f_range, f_uwi)
VALUES
  (1, 2, M, '2020-01-08 10:58:52.280', 1, '2020-01-08 10:58:52.280', 1, NULL, 0, 72, 0, 4, 3574, '1989-03-20 00:00:00.000', '1989-06-04 00:00:00.000', 1, , 22, 3146, 'Phillips Petroleum Norsk AS TEST', 'ED50 / UTM zone 31N', '1/2-1', '1/2-1', 'BLANE', 'NORTH SEA', 'NORWAY', , '1/2-1', , , 0, 2, 468106.28125, 6305128.5, 56.887519, 2.476583, 'ED50', 'ROSS ISLE', '1/2-1 Blane', 'PW 8303A - 10   SP. 290', 'WILDCAT', NULL, 143, , , , , , , , , 1382)

In [ ]:
1, 2, M, '2020-01-08 22:59:58.987', 1, '2020-01-08 22:59:58.987', 1, NULL, 0, 72, 0, 4, 3574, '1989-03-20 00:00:00.000', '1989-06-04 00:00:00.000', 1, , 22, 3146, 'Phillips Petroleum Norsk AS', 'ED50 / UTM zone 31N', '1/2-1', '1/2-1', 'BLANE', 'NORTH SEA', 'NORWAY', , '1/2-1', , , 0, 2, 468106.28125, 6305128.5, 56.887519, 2.476583, 'ED50', 'ROSS ISLE', '1/2-1 Blane', 'PW 8303A - 10   SP. 290', 'WILDCAT', NULL, 143, , , , , , , , , 1382

In [31]:
#In order to 
#Create new column, well_id.

#df_explo['well_id] = 
         
df_explo.insert(0, 'well_id', range(0, len(df_explo)), allow_duplicates = False)
#DataFrameName.insert(loc, column, value, allow_duplicates = False)

df_explo.tail()

      well_id       Name Alternate 1  UWI number  Quadrant  Block                          Operator Licence number   Intent Intent - planned Well status Well content         Status         Type Subsea  SPUD date Completion date Field Drill permit          Discovery name Discovery wellbore  Bottom hole temperature [°C]                                   Seismic line  Maximum inclination [°]   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB] Oldest penetrated age Oldest penetrated formation     Location Country                Facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral  Entry year  Completed year Reclassified from/to wellbore Reentry activity  Plot symbol 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age  Drilling days Reentry Geodatum   Latitude  Longitude  Surface X   Surface Y  UTM zone          Grid system      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in Date main level updated Date all updated Date sync NPD
1925  1925     7324/10-1  7324/10-1   1411        7324      10     Den norske stats oljeselskap a.s  162            WILDCAT  WILDCAT          P & A       SHOWS        P & A Shows    EXPLORATION   NO   1989-06-03 1989-08-19       None  609-L        None                    NO                 119.0                         GLR 3-87-19B   SP. 3290                        2.8                      23.0  2919.0                              2919.0          408.0       NaN                      EARLY TRIASSIC        HAVERT FM                   BARENTS SEA  NORWAY  ROSS RIG (2)            SEMISUB STEEL          MOVEABLE                   12-B                          NO           1989        1989            None                          None            NaN           NaN                         NaN                   NaN                         NaN                                                                     78             NO      ED50     73.163736  24.313228  413162.08  8120918.38  35        ED50 / UTM zone 35N  initial                                                        2005-01-11       1991-08-19    1411            0                0            294382                   0                                 22108.0                             2019-10-03              2019-10-03        11.01.2020
1926  1926     7325/1-1   7325/1-1    7501        7325      1      Statoil Petroleum AS              615            WILDCAT  WILDCAT          P & A       GAS          P & A Gas      EXPLORATION   NO   2014-06-23 2014-07-21       None  1526-L       7325/1-1 (Atlantis)     YES                110.0                         3D survey MC3D-HFC09-inline 2215 & xline 8697  2.7                      40.0  2865.0                              2865.0          487.0       NaN                      EARLY TRIASSIC        HAVERT FM                   BARENTS SEA  NORWAY  TRANSOCEAN SPITSBERGEN  SEMISUB STEEL          MOVEABLE                   21                            NO           2014        2014            None                          None            NaN           SNADD FM                    LATE TRIASSIC         NaN                         NaN                                                                     29             NO      ED50     73.913528  25.116714  441758.31  8203538.99  35        ED50 / UTM zone 35N  initial                                                        2016-07-21       2016-07-21    7501            24689817         0            404201                   0                                 20429544.0                          2019-10-03              2019-10-03        11.01.2020
1927  1927     7325/4-1   7325/4-1    8211        7325      4      Statoil Petroleum AS              855            WILDCAT  WILDCAT          P & A       OIL/GAS      P & A Oil Gas  EXPLORATION   NO   2017-07-19 2017-08-03       None  1661-L       7325/4-1 (Gemini Nord)  YES                34.0                          HFC 11.inline 4920.crossline 14516             2.8                      32.0  1210.0                              1210.0          447.0       NaN                      LATE TRIASSIC         SNADD FM                    BARENTS SEA  NORWAY  SONGA ENABLER           SEMISUB STEEL          MOVEABLE                   23                            NO           2017        2017            None                          None            NaN           STØ FM                      MIDDLE JURASSIC       SNADD FM                    LATE TRIASSIC                                                           16             NO      ED50     73.649319  25.178261  442761.29  8174015.52  35        ED50 / UTM zone 35N  initial                                                        2019-08-03       2019-08-03    8211            29469097         0            439972                   0                                 28168828.0                          2019-11-13              2019-11-13        11.01.2020
1928  1928     7335/3-1   7335/3-1    8735        7335      3      Equinor Energy AS                 859            WILDCAT  WILDCAT          P & A       DRY          P & A Dry      EXPLORATION   NO   2019-05-13 2019-06-15       None  1760-L       None                    NO                NaN                            ST14005T15 Inline: 4481. Xline: 8373          NaN                       31.0 NaN                                  4300.0          239.0       NaN                      TRIASSIC              None                        BARENTS SEA  NORWAY  WEST HERCULES           SEMISUB STEEL          MOVEABLE                   23                            NO           2019        2019            None                          None            NaN           None                        NaN                   None                        NaN                   None                                              34             NO      ED50     73.997183  35.837147  402709.14  8214534.56  37        ED50 / UTM zone 37N  initial                                                        NaT              2021-06-15    8735            0                0            415836                   0                                 28169055.0                          2020-01-09              NaT               11.01.2020
1929  1929     7435/12-1  7435/12-1   8228        7435      12     Statoil Petroleum AS              859            WILDCAT  WILDCAT          P & A       GAS          P & A Gas      EXPLORATION   NO   2017-08-09 2017-09-01       None  1667-L       7435/12-1 (Korpfjell)   YES                54.0                          ST14005T15: Inline 7833. X-Line 7829           3.1                      32.0  1539.0                              1540.0          253.0       NaN                      MIDDLE TRIASSIC       KOBBE FM                    BARENTS SEA  NORWAY  SONGA ENABLER           SEMISUB STEEL          MOVEABLE                   23                            NO           2017        2017            None                          None            NaN           STØ FM                      MIDDLE JURASSIC       KOBBE FM                    MIDDLE TRIASSIC                                                         24             NO      ED50     74.071725  35.808628  402277.88  8222886.96  37        ED50 / UTM zone 37N  initial                                                        2019-09-01       2019-09-01    8228            29491696         0            439972                   0                                 28169055.0                          2019-12-07              2019-12-07        11.01.2020

In [ ]:
#Full list of columns in dbo.WELLS
#pk_index	well_id	units	created	creator	modified	modifier	project	rte	sea_bed	rig_elevation	datum	terminal_depth	spud_date	completion_date	quadrant	sub_block	kelly	symbol_id	client	utmzone	code	name	field	location	country	basin	name1	name2	strat_schemes	grnd_elev	f_block	grid_x	grid_y	latitude	longtitude	geodatum	facility	discovery_name	seismic_line	intent	f_ipid	f_licenceNumber	f_api	f_comment	f_province	f_county	f_state	f_section	f_Township	f_range	f_uwi
#1	2	M	2020-01-08 22:59:58.987	1	2020-01-08 22:59:58.987	1	NULL	0	72	0	4	3574	1989-03-20 00:00:00.000	1989-06-04 00:00:00.000	1		22	3146	Phillips Petroleum Norsk AS	ED50 / UTM zone 31N	1/2-1	1/2-1	BLANE	NORTH SEA	NORWAY		1/2-1			0	2	468106.28125	6305128.5	56.887519	2.476583	ED50	ROSS ISLE	1/2-1 Blane	PW 8303A - 10   SP. 290	WILDCAT	NULL	143									1382

#pk_index, well_id, units, created, creator, modified, modifier, project, rte, sea_bed, rig_elevation, datum, terminal_depth, spud_date, completion_date, quadrant, sub_block, kelly, symbol_id, client, utmzone, code, name, field, location, country, basin, name1, name2, strat_schemes, grnd_elev, f_block, grid_x, grid_y, latitude, longtitude, geodatum, facility, discovery_name, seismic_line, intent, f_ipid, f_licenceNumber, f_api, f_comment, f_province, f_county, f_state, f_section, f_Township, f_range, f_uwi

Will I need to split default columns and user fields out into different dataframes?
Are default columns named the exact same in actual columns?

In [ ]:
#Full list of columns in dbo.t_WellsUserFields
#pk_index, f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder

In [ ]:
#Full list of columns in dbo.t_WellUserFieldsValues
#pk_index, f_WellId, f_FieldID, f_StringValue

In [ ]:
#Import from Pandas directly to SQL using SQLAlchemy?

In [ ]:
#In order to import to dbo.t_WellsUserFieldsValues, need to know 
#     f_WellId (same as well_id from dbo.WELLS?) - why the difference?
#     f_FieldId (same as f_FieldId from t_WellsUserFields?)

SQLAlchemy practice

In [60]:
# Failed attempts to connect Azure Notebook to local SQL Server database on my machine.

#import pyodbc

# conn = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};'
#                       'Server=128.86.172.144\SQLEXPRESS;PORT=1433;'
#                       'Database=Test3;'
#                       'Trusted_Connection=yes;')

#'Driver={SQL Server};'
#'Server=LAPTOP-B5L4S0Q6\SQLEXPRESS;'
#'SERVER=128.86.172.144;PORT=1433;'

#connection_string = 'Driver={ODBC Driver 13 for SQL Server};Server:tcp:.database.windows.net,1433,Database=Test3,Trusted_Connection=Yes;'
#connection_string = pyodbc.connect('DRIVER={SQL Server};SERVER=128.86.172.144;PORT=1433;DATABASE=Test4;UID=your_user;PWD=your_pw;')

ModuleNotFoundError: No module named 'msodbcsql17'

In [7]:
import pandas as pd
import pyodbc
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, delete, insert, select, func
import urllib

import datetime
now = datetime.datetime.now()

params = 'DRIVER={ODBC Driver 13 for SQL Server};' \
         'SERVER=LAPTOP-B5L4S0Q6\SQLEXPRESS;' \
         'PORT=1433;' \
         'DATABASE=Test3;' \
         'Trusted_Connection=yes;'
            
params = urllib.parse.quote_plus(params)

engine = create_engine('mssql+pyodbc:///?odbc_connect=%s' % params)

metadata = MetaData()
                       
wells = Table('WELLS', metadata, autoload=True, autoload_with=engine)

connection = engine.connect()
                       
print(repr(wells))

OperationalError: (pyodbc.OperationalError) ('HYT00', '[HYT00] [Microsoft][ODBC Driver 13 for SQL Server]Login timeout expired (0) (SQLDriverConnect)') (Background on this error at: http://sqlalche.me/e/e3q8)

<h3>Ensure the correct co-ordinate systems are added to your IC project</h3>

In [ ]:
#In IC, open Project > Properties > Coords > Coordinate Systems
#Ensure each of the following co-ordinate system are installed **before importing well headers**

lstfield = sorted(set(df_explo['Geodatum'].astype(str)))
print('Geodatum:', ', '.join(lstfield))

lstfield = sorted(set(df_explo['Grid system'].astype(str)))
print('Grid systems:', ', '.join(lstfield))