Auto-populate a blank IC database (SQL Server) with live well data from the NPD FactPages.

<b>Part 1. Download the following data types, reformat for IC and export to .csv</b>

Exploration well headers<br>
Development well headers<br>
Core intervals<br>
Core photos<br>
Thin sections<br>
CO2<br>
Oil samples<br>
Lithostratigraphy<br>
Drill stem tests<br>
Casing and leak-off tests<br>
Drilling mud<br>
References and Documents<br>

In [1]:
import numpy as np
import pandas as pd
from pandas import ExcelFile
from pandas import ExcelWriter
import pprint
import copy
import os

# %pprint
# pp = pprint.PrettyPrinter(indent=10)

In [2]:
pd.__version__

'1.0.1'

In [3]:
# Change Pandas display settings to show all columns
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
#pd.set_option('max_colwidth', None)
pd.set_option('display.max_rows', 500)

In [4]:
# IC database folder
dbdir = 'C:\ICData\Test3'

# Data folder
outdir = '{}\output_data'.format(dbdir)

# Create data folder within IC database folder
if not os.path.exists(outdir):
    os.mkdir(outdir)

In [5]:
# Create function to save dataframe to oudir and return header

def output_to_csv(outname, df):

    filepath = '{}\{}.csv'.format(outdir, outname)
    print('Saved to:', filepath)
    
    df.to_csv(filepath, index=False, encoding='utf-8-sig')

    return pd.read_csv(filepath).head(3)

# Example: output_to_csv(outname='IC_wellbore_exploration_all', df=df_explo)

In [6]:
# Uncomment your chosen data source -
    # web: select to download data live from NPD FactPages using parameterized query strings (see https://factpages.npd.no/factpages/Parameters.aspx)
    # file: select if you have manually downloaded data in Excel format and saved to 'input data' folder 

#data_source = 'web'
data_source = 'file'

# Download data, reformat for IC and output to .csv
    
## Well Headers

In [7]:
# Download the latest NPD well headers in Excel format
# Navigate to NPD Factpages > Wellbore > Table View > Exploration/Development > All - Long List> Export Excel.
# Assign to two dataframes, one for Exploraion wells and one for Development wells

if data_source == 'web':
    df_explo = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_exploration_all&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.169&CultureCode=en')
    df_dev = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_development_all&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.169&CultureCode=en')

if data_source == 'file':
    # Navigate to NPD Factpages > Wellbore > Table View > Exploration/Development > All - Long List> Export Excel.
    df_explo = pd.read_excel('input data/wellbore_exploration_all.xlsx')
    df_dev = pd.read_excel('input data/wellbore_development_all.xlsx')

# Print the original column titles in each dataframe.
print("\nExploration well header column titles:")
print(list(df_explo.columns))
print("\nDevelopment well header column titles:")
print(list(df_dev.columns))

Exploration well header column titles:
['Wellbore name', 'Well name', 'Drilling operator', 'Drilled in production licence', 'Purpose', 'Status', 'Content', 'Type', 'Subsea', 'Entered date', 'Completed date', 'Field', 'Drill permit', 'Discovery', 'Discovery wellbore', 'Bottom hole temperature [°C]', 'Sitesurvey', 'Seismic location', 'Maximum inclination [°]', 'Kelly bushing elevation [m]', 'Final vertical depth (TVD) [m RKB]', 'Total depth (MD) [m RKB]', 'Water depth [m]', 'Kick off  point [m RKB]', 'Oldest penetrated age', 'Oldest penetrated formation', 'Main area', 'Drilling facility', 'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 'Multilateral', 'Purpose - planned', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Reentry activity', 'Plot symbol', '1st level with HC, formation', '1st level with HC, age', '2nd level with HC, formation', '2nd level with HC, age', '3rd level with HC, formation', '3rd level with HC, age', 'Drilling days', 'Reentry', 'Prod. licence for drilling target', 'Plugged and abondon date', 'Plugged date', 'Geodetic datum', 'NS degrees', 'NS minutes', 'NS seconds', 'NS code', 'EW degrees', 'EW minutes', 'EW seconds', 'EW code', 'NS decimal degrees', 'EW decimal degrees', 'NS UTM [m]', 'EW UTM [m]', 'UTM zone', 'Wellbore name, part 1', 'Wellbore name, part 2', 'Wellbore name, part 3', 'Wellbore name, part 4', 'Wellbore name, part 5', 'Wellbore name, part 6', 'Pressrelease url', 'FactPage url', 'Factmaps', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'Publication date', 'Release date', 'Reclassified date', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 'NPDID drilling facility', 'NPDID wellbore reclassified from', 'NPDID production licence drilled in', 'NPDID site survey', 'Date main level updated', 'Date all updated', 'Date sync NPD']

Development well header column titles:
['Wellbore name', 'Well name', 'Drilling operator', 'Drilled in production licence', 'Status', 'Purpose', 'Purpose - planned', 'Content', 'Type', 'Subsea', 'Entered date', 'Completed date', 'Predrilled entry date', 'Predrilled completion date', 'Field', 'Drill permit', 'Discovery', 'Discovery wellbore', 'Kelly bushing elevation [m]', 'Final vertical depth (TVD) [m RKB]', 'Total depth (MD) [m RKB]', 'Water depth [m]', 'Kick off  point [m RKB]', 'Main area', 'Drilling facility', 'Drilling facility type', 'Drilling facility category', 'Production facility', 'Licensing activity awarded in', 'Multilateral', 'Content - planned', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Plugged and abondon date', 'Plugged date', 'Prod. licence for drilling target', 'Plot symbol', 'Geodetic datum', 'NS degrees', 'NS minutes', 'NS seconds', 'NS code', 'EW degrees', 'EW minutes', 'EW seconds', 'EW code', 'NS decimal degrees', 'EW decimal degrees', 'NS UTM [m]', 'EW UTM [m]', 'UTM zone', 'Wellbore name, part 1', 'Wellbore name, part 2', 'Wellbore name, part 3', 'Wellbore name, part 4', 'Wellbore name, part 5', 'Wellbore name, part 6', 'FactPage url', 'Factmaps', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 'Publication date', 'Release date', 'NPDID production licence drilled in', 'NPDID production licence target', 'NPDID drilling facility', 'NPDID production facility', 'NPDID wellbore reclassified from', 'Date main level updated', 'Date all updated', 'Date sync NPD']

In [8]:
(num_explo_rows, num_explo_cols) = df_explo.shape
(num_dev_rows, num_dev_cols) = df_dev.shape

print('{} rows and {} columns in Exploration wells.'.format(num_explo_rows, num_explo_cols))
print('{} rows and {} columns in Development wells.'.format(num_dev_rows, num_dev_cols))

1930 rows and 87 columns in Exploration wells.
5152 rows and 75 columns in Development wells.

In [9]:
print('Exploration well headers:')
df_explo.head(3)

Exploration well headers:

  Wellbore name Well name            Drilling operator Drilled in production licence  Purpose Status    Content         Type Subsea Entered date Completed date  Field Drill permit    Discovery Discovery wellbore  Bottom hole temperature [°C] Sitesurvey                          Seismic location  Maximum inclination [°]  Kelly bushing elevation [m]  Final vertical depth (TVD) [m RKB]  Total depth (MD) [m RKB]  Water depth [m]  Kick off  point [m RKB] Oldest penetrated age Oldest penetrated formation  Main area Drilling facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral Purpose - planned  Entry year  Completed year Reclassified from/to wellbore Reentry activity  Plot symbol 1st level with HC, formation 1st level with HC, age 2nd level with HC, formation 2nd level with HC, age 3rd level with HC, formation 3rd level with HC, age  Drilling days Reentry  Prod. licence for drilling target Plugged and abondon date Plugged date Geodetic datum  NS degrees  NS minutes  NS seconds NS code  EW degrees  EW minutes  EW seconds EW code  NS decimal degrees  EW decimal degrees  NS UTM [m]  EW UTM [m]  UTM zone  Wellbore name, part 1  Wellbore name, part 2 Wellbore name, part 3  Wellbore name, part 4 Wellbore name, part 5  Wellbore name, part 6                                   Pressrelease url                                       FactPage url                                           Factmaps      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date Reclassified date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in  NPDID site survey Date main level updated Date all updated Date sync NPD
0         1/2-1     1/2-1  Phillips Petroleum Norsk AS                          143   WILDCAT    P&A        OIL  EXPLORATION     NO   1989-03-20     1989-06-04  BLANE        604-L  1/2-1 Blane                YES                         147.0       None                   PW 8303A - 10   SP. 290                      2.0                         22.0                                 NaN                    3574.0             72.0                      NaN  CAMPANIAN                   TOR FM                NORTH SEA         ROSS ISLE          SEMISUB STEEL                   MOVEABLE                            12           NO           WILDCAT        1989            1989                          None             None            5                   FORTIES FM              PALEOCENE                          NaN                    NaN                                                                 77      NO                                NaN                      NaT          NaT         ED50            56          53       15.07       N           2          28       35.70       E           56.887519            2.476583  6305128.26   468106.29        31                      1                      2                                            1                   NaN                    NaN                                                     https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...  initial                                                              2007-12-19   1991-06-04               NaT            1382          43814.0    3437650.0                 296245.0                                 0                              21956.0                NaN              2019-10-03       2019-10-03    09.02.2020
1         1/2-2     1/2-2   Paladin Resources Norge AS                        143 CS  WILDCAT    P&A  OIL SHOWS  EXPLORATION     NO   2005-12-14     2006-02-02   None       1103-L         None                 NO                         138.0       None  inline 7429-trace 4824 Survey PGS CGMNOR                      4.9                         40.0                              3432.0                    3434.0             74.0                      NaN  PALEOCENE                   EKOFISK FM            NORTH SEA       MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE                            12           NO           WILDCAT        2005            2006                          None             None           12                          NaN                    NaN                          NaN                    NaN                                                                 51      NO                                NaN                      NaT          NaT         ED50            56          59       32.00       N           2          29       47.66       E           56.992222            2.496572  6316774.33   469410.10        31                      1                      2                                            2                   NaN                    NaN  https://www.npd.no/fakta/nyheter/Resultat-av-l...  https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...  initial                                                              2008-08-15   2008-02-02               NaT            5192              NaN          NaN                 278245.0                                 0                            2424919.0                NaN              2019-10-03       2019-10-03    09.02.2020
2         1/3-1     1/3-1             A/S Norske Shell                          011   WILDCAT    P&A        GAS  EXPLORATION     NO   1968-07-06     1968-11-11   None         15-L        1/3-1                YES                         182.0       None                       LINE 5651  SP. E165                     18.0                         26.0                                 NaN                    4877.0             71.0                      NaN  LATE PERMIAN                ZECHSTEIN GP          NORTH SEA             ORION         JACK-UP 3 LEGS                   MOVEABLE                           1-A           NO           WILDCAT        1968            1968                          None             None            9                       TOR FM        LATE CRETACEOUS              CROMER KNOLL GP       EARLY CRETACEOUS                                                                129      NO                                NaN                      NaT          NaT         ED50            56          51       21.00       N           2          51        5.00       E           56.855833            2.851389  6301488.86   490936.87        31                      1                      3                                            1                   NaN                    NaN                                                     https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...  initial                                                              2010-04-30   1970-11-11               NaT             154          43820.0          NaN                 288604.0                                 0                              20844.0                NaN              2019-10-03       2019-10-03    09.02.2020

In [10]:
print('Development well headers:')
df_dev.head(3)

Development well headers:

  Wellbore name Well name  Drilling operator Drilled in production licence  Status     Purpose Purpose - planned Content         Type Subsea Entered date Completed date Predrilled entry date Predrilled completion date    Field Drill permit      Discovery Discovery wellbore  Kelly bushing elevation [m]  Final vertical depth (TVD) [m RKB]  Total depth (MD) [m RKB]  Water depth [m]  Kick off  point [m RKB]  Main area Drilling facility Drilling facility type Drilling facility category Production facility Licensing activity awarded in Multilateral Content - planned  Entry year  Completed year Reclassified from/to wellbore Plugged and abondon date Plugged date  Prod. licence for drilling target  Plot symbol Geodetic datum  NS degrees  NS minutes  NS seconds NS code  EW degrees  EW minutes  EW seconds EW code  NS decimal degrees  EW decimal degrees  NS UTM [m]  EW UTM [m]  UTM zone  Wellbore name, part 1  Wellbore name, part 2 Wellbore name, part 3  Wellbore name, part 4 Wellbore name, part 5  Wellbore name, part 6                                       FactPage url                                           Factmaps      DISKOS Well Type                    DISKOS Wellbore Parent  NPDID wellbore  NPDID discovery  NPDID field Publication date Release date  NPDID production licence drilled in  NPDID production licence target  NPDID drilling facility  NPDID production facility  NPDID wellbore reclassified from Date main level updated Date all updated Date sync NPD
0     1/3-A-1 H   1/3-A-1  DONG E&P Norge AS                          274   CLOSED  PRODUCTION        PRODUCTION     OIL  DEVELOPMENT    YES   2011-07-22     2011-09-21                   NaT                        NaT  OSELVAR       3365-P  1/3-6 Oselvar                 NO                         45.0                              3163.0                    5927.0             72.0                      NaN  NORTH SEA       MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE             OSELVAR                       NST2001           NO               OIL        2011            2011                          None                      NaT          NaT                                NaN           50         ED50            56          55       55.06       N           2          40       16.66       E           56.931961            2.671294  6310001.50   479994.47        31                      1                      3                     A                      1                   NaN                    NaN  https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...  initial                                                                   6612          43832.0    5506919.0              NaT   2013-09-21                              2060266                              NaN                 278245.0                   410592.0                                 0              2019-12-09       2015-10-06    09.02.2020
1     1/3-A-2 H   1/3-A-2  DONG E&P Norge AS                          274   CLOSED  PRODUCTION        PRODUCTION     OIL  DEVELOPMENT    YES   2011-11-18     2012-01-19            2011-06-19                 2011-07-04  OSELVAR       3366-P  1/3-6 Oselvar                 NO                         45.0                              3170.0                    5882.0             72.0                      NaN  NORTH SEA       MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE             OSELVAR                       NST2001           NO               OIL        2011            2012                          None                      NaT          NaT                                NaN           50         ED50            56          55       54.89       N           2          40       16.67       E           56.931914            2.671297  6309996.24   479994.61        31                      1                      3                     A                      2                   NaN                    NaN  https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...  initial                                                                   6613          43832.0    5506919.0              NaT   2014-01-19                              2060266                              NaN                 278245.0                   410592.0                                 0              2019-12-09       2015-10-06    09.02.2020
2     1/3-A-3 H   1/3-A-3  DONG E&P Norge AS                          274   CLOSED  PRODUCTION        PRODUCTION     OIL  DEVELOPMENT    YES   2012-03-04     2012-05-14            2011-07-05                 2011-07-21  OSELVAR       3367-P  1/3-6 Oselvar                 NO                         45.0                              3171.0                    6665.0             72.0                      NaN  NORTH SEA       MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE             OSELVAR                       NST2001           NO               OIL        2012            2012                          None                      NaT          NaT                                NaN           50         ED50            56          55       55.07       N           2          40       17.32       E           56.931964            2.671478  6310001.76   480005.63        31                      1                      3                     A                      3                   NaN                    NaN  https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...  initial                                                                   6614          43832.0    5506919.0              NaT   2014-05-14                              2060266                              NaN                 278245.0                   410592.0                                 0              2019-12-09       2015-10-06    09.02.2020

### Column headers unique to Explo & Dev wells

In [11]:
explo_columns = df_explo.columns.tolist()
dev_columns = df_dev.columns.tolist()

# List well headers unqiue to each dataframe
print('Attributes unique to Exploration wells:\n', sorted(set(explo_columns) - set(dev_columns)))
print('\nAttributes unique to Development wells:\n', sorted(set(dev_columns) - set(explo_columns)))

Attributes unique to Exploration wells:
 ['1st level with HC, age', '1st level with HC, formation', '2nd level with HC, age', '2nd level with HC, formation', '3rd level with HC, age', '3rd level with HC, formation', 'Bottom hole temperature [°C]', 'Drilling days', 'Maximum inclination [°]', 'NPDID site survey', 'Oldest penetrated age', 'Oldest penetrated formation', 'Pressrelease url', 'Reclassified date', 'Reentry', 'Reentry activity', 'Seismic location', 'Sitesurvey']

Attributes unique to Development wells:
 ['Content - planned', 'NPDID production facility', 'NPDID production licence target', 'Predrilled completion date', 'Predrilled entry date', 'Production facility']

### Rename attributes for IC

In [12]:
# These are IC's default well header attributes (when matching columns in Import Well Header File)
# Try to use as many of these as possible when renaming below.
# Any other columns will need to be added to IC as Well Attributes.

ic_default_attributes = {'Name', 'Code', 'Alternate 1', 'Alternate 2', 'API number', 'UWI number', 'Comment', 'Geodatum', 
                         'Longitude', 'Latitude', 'Grid system', 'Surface X', 'Surface Y', 'Elevation Reference',
                         'Elevation', 'KBE', 'RTE', 'DFE', 'GLE', 'SPUD date', 'Completion date', 'Status', 
                         'Quadrant', 'Block', 'Sub block', 'Field', 'Location', 'Operator', 'Country',
                         'Basin', 'Province', 'County', 'State', 'Section', 'Township', 'Range', 'Terminal depth',
                         'Water depth', 'Facility', 'Discovery name', 'Seismic line', 'Intent', 'Licence number'}

# Rename columns from/to. 
# Check spelling and capitalisation carefully when renaming to match IC's default attributes.

attributes_to_rename = {'Wellbore name' : 'Name',
                        'Well name' : 'Alternate 1',
                        'Drilling operator' : 'Operator',
                        'Drilled in production licence' : 'Licence number',
                        'Purpose' : 'Intent',
                        'Purpose - planned' : 'Intent - planned',
                        'Status' : 'Well status',
                        'Content' : 'Well content',
                        'Entered date' : 'SPUD date',
                        'Completed date' : 'Completion date',
                        'Discovery' : 'Discovery name',
                        'Seismic location' : 'Seismic line',
                        'Kelly bushing elevation [m]' : 'KBE',
                        'Total depth (MD) [m RKB]' : 'Terminal depth',
                        'Water depth [m]' : 'Water depth',
                        'Kick off  point [m RKB]' : 'Kick off point [m RKB]', #remove extra space
                        'Main area' : 'Location',
                        'Drilling facility' : 'Facility',
                        '1st level with HC, formation' : '1st level with HC formation', #remove commas to be csv friendly
                        '1st level with HC, age' : '1st level with HC age',
                        '2nd level with HC, formation' : '2nd level with HC formation',
                        '2nd level with HC, age' : '2nd level with HC age',
                        '3rd level with HC, formation' : '3rd level with HC formation',
                        '3rd level with HC, age' : '3rd level with HC age',
                        'Geodetic datum' : 'Geodatum',
                        'NS decimal degrees' : 'Latitude',
                        'EW decimal degrees' : 'Longitude',
                        'NS UTM [m]' : 'Surface Y',
                        'EW UTM [m]' : 'Surface X',
                        'Wellbore name, part 1' : 'Quadrant',
                        'Wellbore name, part 2' : 'Block', 
                        'Pressrelease url' : 'Press Release URL',
                        'FactPage url' : 'FactPage URL',
                        'Factmaps' : 'FactMaps URL'}

# Apply renaming to each of the dataframes
df_explo.rename(columns=attributes_to_rename, inplace=True)
df_dev.rename(columns=attributes_to_rename, inplace=True)

# QC only renamed columns
print("Renamed attributes only:")
renamed_columns = list(attributes_to_rename.values())
df_explo[renamed_columns].head(3)
#df_dev[renamed_columns].head(3)

Renamed attributes only:

    Name Alternate 1                     Operator Licence number   Intent Intent - planned Well status Well content  SPUD date Completion date Discovery name                              Seismic line   KBE  Terminal depth  Water depth  Kick off point [m RKB]   Location     Facility 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age Geodatum   Latitude  Longitude   Surface Y  Surface X  Quadrant  Block                                  Press Release URL                                       FactPage URL                                       FactMaps URL
0  1/2-1       1/2-1  Phillips Petroleum Norsk AS           143   WILDCAT          WILDCAT         P&A          OIL 1989-03-20      1989-06-04    1/2-1 Blane                   PW 8303A - 10   SP. 290  22.0          3574.0         72.0                     NaN  NORTH SEA    ROSS ISLE                  FORTIES FM             PALEOCENE                         NaN                   NaN                                                     ED50    56.887519   2.476583  6305128.26  468106.29         1      2                                                     https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...
1  1/2-2       1/2-2   Paladin Resources Norge AS         143 CS  WILDCAT          WILDCAT         P&A    OIL SHOWS 2005-12-14      2006-02-02           None  inline 7429-trace 4824 Survey PGS CGMNOR  40.0          3434.0         74.0                     NaN  NORTH SEA  MÆRSK GIANT                         NaN                   NaN                         NaN                   NaN                                                     ED50    56.992222   2.496572  6316774.33  469410.10         1      2  https://www.npd.no/fakta/nyheter/Resultat-av-l...  https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...
2  1/3-1       1/3-1             A/S Norske Shell           011   WILDCAT          WILDCAT         P&A          GAS 1968-07-06      1968-11-11          1/3-1                       LINE 5651  SP. E165  26.0          4877.0         71.0                     NaN  NORTH SEA        ORION                      TOR FM       LATE CRETACEOUS             CROMER KNOLL GP      EARLY CRETACEOUS                                                     ED50    56.855833   2.851389  6301488.86  490936.87         1      3                                                     https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...

### Delete attributes containing duplicate data

In [13]:
# Coordinates are repeated elsewhere so we can delete the component parts from the dataframes.
# And we've renamed Wellbore name parts 1 and 2 to Quadrant and Block, and do not need the other parts.

attributes_to_drop = ['Plot symbol', 'NS degrees', 'NS minutes', 'NS seconds', 'NS code', 'EW degrees', 'EW minutes', 'EW seconds', 'EW code', 
                      'Wellbore name, part 3', 'Wellbore name, part 4', 'Wellbore name, part 5', 'Wellbore name, part 6']

df_explo.drop(attributes_to_drop, axis=1, inplace=True)
df_dev.drop(attributes_to_drop, axis=1, inplace=True)

print('Prove we still have well names and coordinates:')
df_explo[['Name', 'Latitude', 'Longitude', 'Surface Y', 'Surface X']].head(3)

Prove we still have well names and coordinates:

    Name   Latitude  Longitude   Surface Y  Surface X
0  1/2-1  56.887519   2.476583  6305128.26  468106.29
1  1/2-2  56.992222   2.496572  6316774.33  469410.10
2  1/3-1  56.855833   2.851389  6301488.86  490936.87

### Truncate well list based on column and value(s)

In [14]:
# Enter the column and values you want to return, e.g. Location: BARENTS SEA, or Quadrant: 6204, 6205.
fltr_column = 'Location'

# List the names you want to *KEEP*!
fltr_value = ['NORTH SEA', 'NORWEGIAN SEA', 'BARENTS SEA']

# Apply the filter to the dataframes
indexNames = df_explo[~df_explo[fltr_column].isin(fltr_value)].index
df_explo.drop(indexNames , inplace=True)

indexNames = df_dev[~df_dev[fltr_column].isin(fltr_value)].index
df_dev.drop(indexNames , inplace=True)

# Get dataframe shape and unpack tuples
(exploRows, exploCols) = df_explo.shape
(devRows, devCols) = df_dev.shape

# Print out the results
print("After filtering on {}: {}, you are left with:\n {} rows for Exploration wells, and {} rows for Development wells."
      .format(fltr_column, fltr_value, exploRows, devRows))
print('The first and last rows are:')

# Print the first and last rows of the Exploration dataframe to check that the filter has worked
df_explo.iloc[[0, -1]]

After filtering on Location: ['NORTH SEA', 'NORWEGIAN SEA', 'BARENTS SEA'], you are left with:
 1930 rows for Exploration wells, and 5152 rows for Development wells.
The first and last rows are:

           Name Alternate 1                     Operator Licence number   Intent Well status Well content         Type Subsea  SPUD date Completion date  Field Drill permit         Discovery name Discovery wellbore  Bottom hole temperature [°C] Sitesurvey                          Seismic line  Maximum inclination [°]   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB] Oldest penetrated age Oldest penetrated formation     Location       Facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral Intent - planned  Entry year  Completed year Reclassified from/to wellbore Reentry activity 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age  Drilling days Reentry  Prod. licence for drilling target Plugged and abondon date Plugged date Geodatum   Latitude  Longitude   Surface Y  Surface X  UTM zone  Quadrant  Block                                  Press Release URL                                       FactPage URL                                       FactMaps URL      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date Reclassified date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in  NPDID site survey Date main level updated Date all updated Date sync NPD
0         1/2-1       1/2-1  Phillips Petroleum Norsk AS           143   WILDCAT         P&A          OIL  EXPLORATION     NO 1989-03-20      1989-06-04  BLANE        604-L            1/2-1 Blane                YES                         147.0       None               PW 8303A - 10   SP. 290                      2.0  22.0                                 NaN          3574.0         72.0                     NaN  CAMPANIAN                   TOR FM                  NORTH SEA      ROSS ISLE          SEMISUB STEEL                   MOVEABLE                            12           NO          WILDCAT        1989            1989                          None             None                  FORTIES FM             PALEOCENE                         NaN                   NaN                                                               77      NO                                NaN                      NaT          NaT   ED50    56.887519   2.476583  6305128.26  468106.29        31         1      2                                                     https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...  initial                                                              2007-12-19   1991-06-04               NaT            1382          43814.0    3437650.0                 296245.0                                 0                              21956.0                NaN              2019-10-03       2019-10-03    09.02.2020
1929  7435/12-1   7435/12-1         Statoil Petroleum AS           859   WILDCAT         P&A          GAS  EXPLORATION     NO 2017-08-09      2017-09-01   None       1667-L  7435/12-1 (Korpfjell)                YES                          54.0       None  ST14005T15: Inline 7833. X-Line 7829                      3.1  32.0                              1539.0          1540.0        253.0                     NaN  MIDDLE TRIASSIC             KOBBE FM              BARENTS SEA  SONGA ENABLER          SEMISUB STEEL                   MOVEABLE                            23           NO          WILDCAT        2017            2017                          None             None                      STØ FM       MIDDLE JURASSIC                    KOBBE FM       MIDDLE TRIASSIC                                                               24      NO                                NaN                      NaT          NaT   ED50    74.071725  35.808628  8222886.96  402277.88        37      7435     12  https://www.npd.no/fakta/nyheter/Resultat-av-l...  https://factpages.npd.no/factpages/default.asp...  https://factmaps.npd.no/factmaps/3_0/?run=Well...  initial                                                              2019-09-01   2019-09-01               NaT            8228       29491696.0          NaN                 439972.0                                 0                           28169055.0                NaN              2019-12-07       2019-12-07    09.02.2020

### CREATE FILES - create Reference files for IC containing URLs for Explo and Dev wells

In [15]:
# Converts three URL columns into three rows. Adds a Title column and sorts by Well and Title.
df_explo_references = df_explo[['Name', 'NPDID wellbore', 'Press Release URL', 'FactPage URL', 'FactMaps URL']]
df_explo_references = pd.melt(df_explo_references, id_vars=['Name', 'NPDID wellbore'], value_vars=['Press Release URL', 'FactPage URL', 'FactMaps URL'], var_name='Title', value_name='URL')
df_explo_references.sort_values(['Name', 'Title'], inplace=True)

# Remove empty rows, specifically where no 'Press Release URL' for Exploration references
df_explo_references['URL'].replace(' ', np.nan, inplace=True)
df_explo_references.dropna(subset=['URL'], inplace=True)

# Name and create file for Exploration wells
output_to_csv(outname='IC_explo_references', df=df_explo_references)

Saved to: C:\ICData\Test3\output_data\IC_explo_references.csv

    Name  NPDID wellbore         Title                                                URL
0  1/2-1            1382  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...
1  1/2-1            1382  FactPage URL  https://factpages.npd.no/factpages/default.asp...
2  1/2-2            5192  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...

In [16]:
# As above, but creates 'Reference' file for Development Wells (minus the Press Release URL)
df_dev_references = df_dev[['Name', 'NPDID wellbore', 'FactPage URL', 'FactMaps URL']]
df_dev_references = pd.melt(df_dev_references, id_vars=['Name', 'NPDID wellbore'], 
                            value_vars=['FactPage URL', 'FactMaps URL'], 
                            var_name='Title', value_name='URL')
df_dev_references.sort_values(['Name', 'Title'], inplace=True)

# Name and create file for Development wells
output_to_csv(outname='IC_dev_references', df=df_dev_references)

Saved to: C:\ICData\Test3\output_data\IC_dev_references.csv

        Name  NPDID wellbore         Title                                                URL
0  1/3-A-1 H            6612  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...
1  1/3-A-1 H            6612  FactPage URL  https://factpages.npd.no/factpages/default.asp...
2  1/3-A-2 H            6613  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...

In [17]:
# Drop URL attributes
# Now that we've output the URLs to separate files, we no longer need them in the Exploration and Development dataframes.
df_explo.drop(['Press Release URL', 'FactPage URL', 'FactMaps URL'], axis=1, inplace=True)
df_dev.drop(['FactPage URL', 'FactMaps URL'], axis=1, inplace=True)

df_explo.head(3)

    Name Alternate 1                     Operator Licence number   Intent Well status Well content         Type Subsea  SPUD date Completion date  Field Drill permit Discovery name Discovery wellbore  Bottom hole temperature [°C] Sitesurvey                              Seismic line  Maximum inclination [°]   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB] Oldest penetrated age Oldest penetrated formation   Location     Facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral Intent - planned  Entry year  Completed year Reclassified from/to wellbore Reentry activity 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age  Drilling days Reentry  Prod. licence for drilling target Plugged and abondon date Plugged date Geodatum   Latitude  Longitude   Surface Y  Surface X  UTM zone  Quadrant  Block      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date Reclassified date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in  NPDID site survey Date main level updated Date all updated Date sync NPD
0  1/2-1       1/2-1  Phillips Petroleum Norsk AS           143   WILDCAT         P&A          OIL  EXPLORATION     NO 1989-03-20      1989-06-04  BLANE        604-L    1/2-1 Blane                YES                         147.0       None                   PW 8303A - 10   SP. 290                      2.0  22.0                                 NaN          3574.0         72.0                     NaN  CAMPANIAN                   TOR FM                NORTH SEA    ROSS ISLE          SEMISUB STEEL                   MOVEABLE                            12           NO          WILDCAT        1989            1989                          None             None                  FORTIES FM             PALEOCENE                         NaN                   NaN                                                               77      NO                                NaN                      NaT          NaT   ED50    56.887519   2.476583  6305128.26  468106.29        31         1      2  initial                                                              2007-12-19   1991-06-04               NaT            1382          43814.0    3437650.0                 296245.0                                 0                              21956.0                NaN              2019-10-03       2019-10-03    09.02.2020
1  1/2-2       1/2-2   Paladin Resources Norge AS         143 CS  WILDCAT         P&A    OIL SHOWS  EXPLORATION     NO 2005-12-14      2006-02-02   None       1103-L           None                 NO                         138.0       None  inline 7429-trace 4824 Survey PGS CGMNOR                      4.9  40.0                              3432.0          3434.0         74.0                     NaN  PALEOCENE                   EKOFISK FM            NORTH SEA  MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE                            12           NO          WILDCAT        2005            2006                          None             None                         NaN                   NaN                         NaN                   NaN                                                               51      NO                                NaN                      NaT          NaT   ED50    56.992222   2.496572  6316774.33  469410.10        31         1      2  initial                                                              2008-08-15   2008-02-02               NaT            5192              NaN          NaN                 278245.0                                 0                            2424919.0                NaN              2019-10-03       2019-10-03    09.02.2020
2  1/3-1       1/3-1             A/S Norske Shell           011   WILDCAT         P&A          GAS  EXPLORATION     NO 1968-07-06      1968-11-11   None         15-L          1/3-1                YES                         182.0       None                       LINE 5651  SP. E165                     18.0  26.0                                 NaN          4877.0         71.0                     NaN  LATE PERMIAN                ZECHSTEIN GP          NORTH SEA        ORION         JACK-UP 3 LEGS                   MOVEABLE                           1-A           NO          WILDCAT        1968            1968                          None             None                      TOR FM       LATE CRETACEOUS             CROMER KNOLL GP      EARLY CRETACEOUS                                                              129      NO                                NaN                      NaT          NaT   ED50    56.855833   2.851389  6301488.86  490936.87        31         1      3  initial                                                              2010-04-30   1970-11-11               NaT             154          43820.0          NaN                 288604.0                                 0                              20844.0                NaN              2019-10-03       2019-10-03    09.02.2020

In [18]:
# Add new column(s) and assign constant value, e.g. Country: NORWAY.
df_explo['Country'] = 'NORWAY' 
df_dev['Country'] = 'NORWAY'

# IC Version 4.3.1 and earlier only. Fixed in 4.3.2.
# First lets rename an extraordinarily long string in column 'Seismic line' to avoid an error in IC.
#df_explo['Seismic line'] = df_explo['Seismic line'].replace('TUN15M01 3D bin datasett: Inline reference: 12688 Croslline reference: between 12383 and 12384', 'TUN15M01 3D bin: Inline 12688 Crossline 12383-12384')

# Remove decimal places introduced to the 'NPDIP' columns
df_explo['NPDID discovery'] = df_explo['NPDID discovery'].fillna(0).astype(int)
df_dev['NPDID discovery'] = df_dev['NPDID discovery'].fillna(0).astype(int)

df_explo['NPDID drilling facility'] = df_explo['NPDID drilling facility'].fillna(0).astype(int)
df_dev['NPDID drilling facility'] = df_dev['NPDID drilling facility'].fillna(0).astype(int)

df_explo['NPDID field'] = df_explo['NPDID field'].fillna(0).astype(int)
df_dev['NPDID field'] = df_dev['NPDID field'].fillna(0).astype(int)

# Copy data from one column to another, preserving the original.
df_explo['UWI number'] = df_explo['NPDID wellbore']
df_dev['UWI number'] = df_dev['NPDID wellbore']

# Check the result
df_explo[['Name', 'Country', 'NPDID drilling facility', 'NPDID wellbore']].head(3)

    Name Country  NPDID drilling facility  NPDID wellbore
0  1/2-1  NORWAY                   296245            1382
1  1/2-2  NORWAY                   278245            5192
2  1/3-1  NORWAY                   288604             154

### Concatenate Well Status & Well Content to match IC's Well Symbols dictionary

In [19]:
# This cell creates a new column called 'Status', combining 'Well Status' and 'Well Content'
# For example, to create a string like "P & A Oil Shows"

# Change 'P&A' to 'P & A'.
df_explo['Well status'] = df_explo['Well status'].replace(to_replace='P&A', value='P & A')

# First letter of each word capitalised
df_explo['Status'] = df_explo['Well status'].str.title() + ' ' + df_explo['Well content'].str.title()

# Check the results
df_explo[['Name', 'Status']].head(n=10)

    Name                Status
0  1/2-1             P & A Oil
1  1/2-2       P & A Oil Shows
2  1/3-1             P & A Gas
3  1/3-2             P & A Dry
4  1/3-3             P & A Oil
5  1/3-4       P & A Oil Shows
6  1/3-5             P & A Dry
7  1/3-6  P & A Gas Condensate
8  1/3-7             P & A Oil
9  1/3-8           P & A Shows

In [20]:
# List all unique entries under Status for all wells.
# In IC, open Database > Graphic Dictionaries > Well Symbols, and ensure you have dictionary entries for each.

lst_explo_status = sorted(set(df_explo['Status'].astype(str)))
lst_dev_status = sorted(set(df_dev['Status'].astype(str)))

lst_all_status = lst_explo_status + lst_dev_status

print("{} unique status values to include in IC 'Well Symbols' graphic dictionary:".format(len(lst_all_status)))
print('')
lst_unique_status = sorted(set(lst_all_status))
print(', '.join(lst_unique_status))

94 unique status values to include in IC 'Well Symbols' graphic dictionary:

Blowout Gas Shows, Closed, Closed Cuttings, Closed Gas, Closed Gas Condensate, Closed Oil, Closed Oil Gas, Closed Oil Gas Condensate, Closed Water, Closed Water Gas, Injecting Co2, Injecting Cuttings, Injecting Gas, Injecting Gas Condensate, Injecting Oil, Injecting Oil Gas, Injecting Water, Injecting Water Gas, Junked, Junked Dry, Junked Oil, Junked Oil Gas, Junked Oil Gas Shows, Junked Shows, Junked Water, P & A, P & A Cuttings, P & A Dry, P & A Gas, P & A Gas Condensate, P & A Gas Shows, P & A Oil, P & A Oil Gas, P & A Oil Gas Condensate, P & A Oil Gas Shows, P & A Oil Shows, P & A Shows, P & A Water, Plugged, Plugged Cuttings, Plugged Dry, Plugged Gas, Plugged Gas Condensate, Plugged Oil, Plugged Oil Gas, Plugged Oil Gas Condensate, Plugged Water, Plugged Water Gas, Predrilled, Predrilled Gas, Producing Gas, Producing Gas Condensate, Producing Oil, Producing Oil Gas, Producing Oil Gas Condensate, Producing Water, Producing Water Gas, Re-Class To Dev Dry, Re-Class To Dev Gas, Re-Class To Dev Gas Condensate, Re-Class To Dev Oil, Re-Class To Dev Oil Gas, Re-Class To Test Oil, Re-Class To Test Oil Gas, Suspended, Suspended Dry, Suspended Gas, Suspended Gas Condensate, Suspended Gas Shows, Suspended Oil, Suspended Oil Gas, Suspended Oil Gas Shows, Suspended Oil Shows, Suspended Shows, Suspended Water, Suspended Water Gas, Will Never Be Drilled, nan

### Concatenate cells to create 'Grid system' in IC format

In [21]:
# At time of writing, there are several problems with 'Geodatum' in the NPD datasets, including:
#  - trailing spaces ('ED50 ') in all Explo wells
#  - erroneous '56ED50', '60ED50' and '61ED50' values in Dev wells
#  - missing 'ED50' values in two explo wells
# Luckily, we can just force 'ED50' on all these cells!

df_explo['Geodatum'] = 'ED50'
df_dev['Geodatum'] = 'ED50'

# Concatenate cells to create a new column 'Grid system' in IC format (e.g. "ED50 / UTM Zone 31N")

df_explo['Grid system'] = df_explo['Geodatum'] + ' / ' + 'UTM zone ' + df_explo['UTM zone'].map(str) + 'N'
df_dev['Grid system'] = df_dev['Geodatum'] + ' / ' + 'UTM zone ' + df_dev['UTM zone'].map(str) + 'N'

print('Geodatum and Grid systems for IC:')
df_explo[['Name', 'Geodatum', 'Grid system']].head(3)

Geodatum and Grid systems for IC:

    Name Geodatum          Grid system
0  1/2-1     ED50  ED50 / UTM zone 31N
1  1/2-2     ED50  ED50 / UTM zone 31N
2  1/3-1     ED50  ED50 / UTM zone 31N

### QC Well Headers

In [22]:
# Print out attributes lists, reflecting all the changes above.
# Use these lists to check the current order of your columns in each, and consider how you might like to re-order them.
# Any columns created above (including: Country, Status, Grid system) currently appear at the end of the lists.

print('--- BEFORE RE-ORDERING ---\n')
print(len(df_explo.columns), 'Exploration attributes:\n', list(df_explo.columns), '\n')
print(len(df_dev.columns), 'Development attributes:\n', list(df_dev.columns))

--- BEFORE RE-ORDERING ---

75 Exploration attributes:
 ['Name', 'Alternate 1', 'Operator', 'Licence number', 'Intent', 'Well status', 'Well content', 'Type', 'Subsea', 'SPUD date', 'Completion date', 'Field', 'Drill permit', 'Discovery name', 'Discovery wellbore', 'Bottom hole temperature [°C]', 'Sitesurvey', 'Seismic line', 'Maximum inclination [°]', 'KBE', 'Final vertical depth (TVD) [m RKB]', 'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 'Oldest penetrated age', 'Oldest penetrated formation', 'Location', 'Facility', 'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 'Multilateral', 'Intent - planned', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Reentry activity', '1st level with HC formation', '1st level with HC age', '2nd level with HC formation', '2nd level with HC age', '3rd level with HC formation', '3rd level with HC age', 'Drilling days', 'Reentry', 'Prod. licence for drilling target', 'Plugged and abondon date', 'Plugged date', 'Geodatum', 'Latitude', 'Longitude', 'Surface Y', 'Surface X', 'UTM zone', 'Quadrant', 'Block', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'Publication date', 'Release date', 'Reclassified date', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 'NPDID drilling facility', 'NPDID wellbore reclassified from', 'NPDID production licence drilled in', 'NPDID site survey', 'Date main level updated', 'Date all updated', 'Date sync NPD', 'Country', 'UWI number', 'Status', 'Grid system']

64 Development attributes:
 ['Name', 'Alternate 1', 'Operator', 'Licence number', 'Well status', 'Intent', 'Intent - planned', 'Well content', 'Type', 'Subsea', 'SPUD date', 'Completion date', 'Predrilled entry date', 'Predrilled completion date', 'Field', 'Drill permit', 'Discovery name', 'Discovery wellbore', 'KBE', 'Final vertical depth (TVD) [m RKB]', 'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 'Location', 'Facility', 'Drilling facility type', 'Drilling facility category', 'Production facility', 'Licensing activity awarded in', 'Multilateral', 'Content - planned', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Plugged and abondon date', 'Plugged date', 'Prod. licence for drilling target', 'Geodatum', 'Latitude', 'Longitude', 'Surface Y', 'Surface X', 'UTM zone', 'Quadrant', 'Block', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 'Publication date', 'Release date', 'NPDID production licence drilled in', 'NPDID production licence target', 'NPDID drilling facility', 'NPDID production facility', 'NPDID wellbore reclassified from', 'Date main level updated', 'Date all updated', 'Date sync NPD', 'Country', 'UWI number', 'Status', 'Grid system']

### Re-order all columns (OPTIONAL)

In [23]:
# # Specifies the order of columns for Exploration and Development wells in the final outputs.
# # It's not compulsory to re-order columns, as IC lists all non-default attributes alphabetically.

# explo_order = ['Name', 'Alternate 1', 'UWI number', 'Quadrant', 'Block', 'Operator', 'Licence number', 'Intent', 
#                 'Intent - planned', 'Well status', 'Well content', 'Status', 'Type', 'Subsea', 'SPUD date', 
#                 'Completion date', 'Field', 'Drill permit', 'Discovery name', 'Discovery wellbore', 
#                 'Bottom hole temperature [°C]', 'Seismic line', 'Maximum inclination [°]', 'KBE', 
#                 'Final vertical depth (TVD) [m RKB]', 'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 
#                 'Oldest penetrated age', 'Oldest penetrated formation', 'Location', 'Country', 'Facility', 
#                 'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 
#                 'Multilateral', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Reentry activity', 
#                 'Plot symbol', '1st level with HC formation', '1st level with HC age', '2nd level with HC formation', 
#                 '2nd level with HC age', '3rd level with HC formation', '3rd level with HC age', 'Drilling days', 
#                 'Reentry', 'Geodatum', 'Latitude', 'Longitude', 'Surface X', 'Surface Y', 'UTM zone', 'Grid system', 
#                 'DISKOS Well Type', 'DISKOS Wellbore Parent', 
#                 'Publication date', 'Release date', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 
#                 'NPDID drilling facility', 'NPDID wellbore reclassified from', 'NPDID production licence drilled in', 
#                 'Date main level updated', 'Date all updated', 'Date sync NPD']

# dev_order = ['Name', 'Alternate 1', 'UWI number', 'Quadrant', 'Block', 'Operator', 'Licence number', 'Intent', 
#               'Intent - planned', 'Well status', 'Well content',  'Status', 'Content - planned', 'Type', 'Subsea',
#               'SPUD date', 'Completion date', 'Field', 'Predrilled entry date','Predrilled completion date', 
#               'Drill permit', 'Discovery name', 'Discovery wellbore', 'KBE', 'Final vertical depth (TVD) [m RKB]',
#               'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 'Location', 'Country', 'Facility', 
#               'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 
#               'Production facility', 'Multilateral', 'Entry year', 'Completed year','Reclassified from/to wellbore', 
#               'Plot symbol', 'Geodatum', 'Latitude', 'Longitude', 'Surface Y', 'Surface X', 'UTM zone',  'Grid system', 
#               'DISKOS Well Type', 'DISKOS Wellbore Parent', 'NPDID wellbore', 
#               'NPDID discovery', 'NPDID field', 'Publication date', 'Release date', 'NPDID production licence drilled in', 
#               'NPDID drilling facility', 'NPDID production facility','NPDID wellbore reclassified from', 
#               'Date main level updated', 'Date all updated', 'Date sync NPD']

In [24]:
# # Check if your list of re-ordered attributes is complete.
# missing_explo = set(df_explo.columns).difference(explo_order)
# missing_dev = set(df_dev.columns).difference(dev_order)

# if len(missing_explo) > 0:
#     print('Your re-ordered list of Exploration attributes is incomplete. You must include:\n {}.\n'.format(missing_explo))
# else:
#     print('Your re-ordered list of Exploration attributes is complete.\n')
    
# if len(missing_dev) > 0:
#     print('Your re-ordered list of Development attributes is incomplete. You must include:\n {}.'.format(missing_dev))
# else:
#     print('Your re-ordered list of Development attributes is complete.')

In [25]:
# # Only when your re-ordered lists of Exploration and Development attributes are complete should you run this cell,
# # Otherwise these will not be included in the output file!
# # Applies the re-ordering to the dataframes

# df_explo = df_explo.reindex(columns=explo_order)
# df_dev = df_dev.reindex(columns=dev_order)

### QC column values

In [26]:
# Print out all unique values for selected attributes (example: Operator and Field)

def lstheaderfields (*args):
    for arg in args:
        print('---' , arg, '---')
        print('')
        words = [x for x in df_explo[arg].unique()]
        print('Exploration wells:')
        print(words)
        print('')
        words = [x for x in df_dev[arg].unique()]
        print('Development wells:')
        print(words)
        print("")
        
# Enter the names of columns you would like to check
lstheaderfields('Operator', 'Field')

--- Operator ---

Exploration wells:
['Phillips Petroleum Norsk AS', 'Paladin Resources Norge AS', 'A/S Norske Shell', 'Elf Petroleum Norge AS', 'Amoco Norway Oil Company', 'BP Norway Limited U.A.', 'DONG E&P Norge AS', 'BG Norge AS', 'Phillips Petroleum Company Norway', 'Conoco Norway Inc.', 'Amerada Hess Norge AS', 'Total E&P Norge AS', 'Den norske stats oljeselskap a.s', 'BP Petroleum Dev. of Norway AS', 'Talisman Energy Norge AS', 'Det norske oljeselskap ASA', 'Aker BP ASA', 'Saga Petroleum ASA', 'Norske Murphy Oil Company', 'Norwegian Gulf Exploration Company AS', 'Norsk Hydro Produksjon AS', 'ConocoPhillips Skandinavia AS', 'Statoil Petroleum AS', 'Norsk Agip AS', 'StatoilHydro Petroleum AS', 'Lundin Norway AS', 'MOL Norge AS', 'Faroe Petroleum Norge AS', 'Edison Norge AS', 'Elf Norge A/S', 'Premier Oil Norge AS', 'Repsol Exploration Norge AS', 'LOTOS Exploration and Production Norge AS', 'Esso Exploration and Production Norway A/S', 'Unocal Norge A/S', 'Centrica Resources (Norge) AS', 'Spirit Energy Norway AS', 'Repsol Norge AS', 'Texaco Exploration Norway AS', 'ExxonMobil Exploration and Production Norway AS', 'Wintershall Norge AS', 'Norsk Hydro Petroleum AS', 'Syracuse Oils Norge A/S', 'Statoil ASA (old)', 'Equinor Energy AS', 'StatoilHydro ASA', 'Deminex Norge AS', 'Det norske oljeselskap ASA (old)', 'Pertra AS (OLD)', 'Noil Energy ASA', 'Wintershall Norge ASA', 'BP Amoco Norge AS', 'Tullow Oil Norge AS', 'Norwegian Energy Company ASA', 'Total Norge AS', 'Marathon Petroleum Norge AS', 'Fina Production Licenses AS', 'Det Norske Oljeselskap ASA (old)', 'Wellesley Petroleum AS', 'Suncor Energy Norge AS', 'Rocksource Exploration Norway AS', 'E.ON Ruhrgas Norge AS', 'Mobil Exploration Norway INC', 'Revus Energy ASA', 'Petro-Canada Norge AS', 'Norske Conoco A/S', 'Eni Norge AS', 'RWE Dea Norge AS', 'VNG Norge (Operations) AS', 'Idemitsu Petroleum Norge AS', 'Nexen Exploration Norge AS', 'GDF SUEZ E&P Norge AS', 'Spirit Energy Norge AS', 'ENGIE E&P Norge AS', 'Maersk Oil Norway AS', 'VNG Norge AS', 'OMV (Norge) AS', 'OKEA ASA', 'Norsk Chevron AS', 'Chevron Texaco Norge AS', 'BP Norge AS', 'E.ON E&P Norge AS', 'PGNiG Upstream Norway AS', 'DNO North Sea (Norge) AS', 'Neptune Energy Norge AS', 'Capricorn Norge AS', 'Wintershall Dea Norge AS', 'Noreco Norway AS', 'Rocksource ASA', 'DEA Norge AS', 'Elf Aquitaine Norge A/S', 'Mobil Development Norway AS']

Development wells:
['DONG E&P Norge AS', 'BP Amoco Norge AS', 'Aker BP ASA', 'BP Norge AS', 'Phillips Petroleum Company Norway', 'Den norske stats oljeselskap a.s', 'BP Norway Limited U.A.', 'Talisman Energy Norge AS', 'ConocoPhillips Norge', 'ConocoPhillips Skandinavia AS', 'Amoco Norway Oil Company', 'BG Norge AS', 'Lundin Norway AS', 'Spirit Energy Norge AS', 'Elf Petroleum Norge AS', 'Statoil Petroleum AS', 'Equinor Energy AS', 'Statoil ASA (old)', 'StatoilHydro ASA', 'StatoilHydro Petroleum AS', 'Pertra AS (OLD)', 'Saga Petroleum ASA', 'Det norske oljeselskap ASA', 'Esso Exploration and Production Norway A/S', 'ExxonMobil Exploration and Production Norway AS', 'Marathon Petroleum Norge AS', 'Marathon Oil Norge AS', 'Norsk Hydro Produksjon AS', 'Norsk Hydro Petroleum AS', 'TotalFinaElf Exploration Norge AS', 'Total E&P Norge AS', 'Wintershall Norge AS', 'Wintershall Dea Norge AS', 'Mobil Exploration Norway INC', 'A/S Norske Shell', 'Neptune Energy Norge AS', 'GDF SUEZ E&P Norge AS', 'OKEA ASA', 'Vår Energi AS', 'Eni Norge AS', 'Conoco Norway Inc.', 'DEA Norge AS']

--- Field ---

Exploration wells:
['BLANE', None, 'TAMBAR', 'OSELVAR', 'FLYNDRE', 'ALBUSKJELL', 'TOMMELITEN GAMMA', 'GYDA', 'EKOFISK', 'VEST EKOFISK', 'TOR', 'ELDFISK', 'EDDA', 'EMBLA', 'VALHALL', 'HOD', 'TRYM', 'GAUPE', 'BRYNHILD', 'COD', 'MIME', 'ULA', 'ODA', 'YME', 'GUDRUN', 'GINA KROG', 'ENOCH', 'GLITNE', 'SLEIPNER VEST', 'UTGARD', 'SLEIPNER ØST', 'GUNGNE', 'VOLVE', 'VARG', 'REV', 'IVAR AASEN', 'EDVARD GRIEG', 'JOHAN SVERDRUP', 'SOLVEIG', 'SIGYN', 'ALVHEIM', 'VOLUND', 'BØYLA', 'FRIGG', 'NORDØST FRIGG', 'SKOGUL', 'ØST FRIGG', 'LILLE-FRIGG', 'FRØY', 'HEIMDAL', 'VALE', 'VILJE', 'SKIRNE', 'ATLA', 'JOTUN', 'BALDER', 'RINGHORNE ØST', 'JETTE', 'HANZ', 'GRANE', 'SVALIN', 'MARTIN LINGE', 'HULDRA', 'VESLEFRIKK', 'TUNE', 'OSEBERG', 'OSEBERG ØST', 'OSEBERG SØR', 'ODIN', 'TROLL', 'BRAGE', 'STATFJORD', 'STATFJORD ØST', 'STATFJORD NORD', 'SYGNA', 'GULLFAKS SØR', 'KNARR', 'SNORRE', 'VIGDIS', 'TORDIS', 'VISUND', 'GIMLE', 'VISUND SØR', 'GULLFAKS', 'VALEMON', 'SINDRE', 'KVITEBJØRN', 'VEGA', 'GJØA', 'NOVA', 'FRAM', 'BYRDING', 'FRAM H-NORD', 'DUVA', 'ORMEN LANGE', 'KRISTIN', 'TRESTAKK', 'ÅSGARD', 'TYRIHANS', 'MARIA', 'FENJA', 'MIKKEL', 'NJORD', 'HYME', 'BAUGE', 'DRAUGEN', 'MORVIN', 'MARULK', 'ALVE', 'SKARV', 'ÆRFUGL', 'HEIDRUN', 'DVALIN', 'YTTERGRYTA', 'NORNE', 'URD', 'SKULD', 'AASTA HANSTEEN', 'SNØHVIT', 'GOLIAT', 'JOHAN CASTBERG']

Development wells:
['OSELVAR', 'TAMBAR', 'TAMBAR ØST', 'ALBUSKJELL', 'TOMMELITEN GAMMA', 'GYDA', 'EKOFISK', 'VEST EKOFISK', 'TOR', 'ELDFISK', 'EDDA', 'EMBLA', None, 'VALHALL', 'HOD', 'TRYM', 'GAUPE', 'BRYNHILD', 'COD', 'ULA', 'ODA', 'YME', 'FRIGG', 'GUDRUN', 'GLITNE', 'GINA KROG', 'UTGARD', 'SLEIPNER ØST', 'GUNGNE', 'SLEIPNER VEST', 'VOLVE', 'VARG', 'REV', 'EDVARD GRIEG', 'IVAR AASEN', 'JOHAN SVERDRUP', 'SIGYN', 'ALVHEIM', 'BØYLA', 'VOLUND', 'NORDØST FRIGG', 'SKOGUL', 'ØST FRIGG', 'LILLE-FRIGG', 'HEIMDAL', 'VALE', 'VILJE', 'FRØY', 'SKIRNE', 'ATLA', 'JOTUN', 'BALDER', 'RINGHORNE ØST', 'JETTE', 'GRANE', 'SVALIN', 'HULDRA', 'VESLEFRIKK', 'MARTIN LINGE', 'OSEBERG', 'OSEBERG ØST', 'TUNE', 'OSEBERG SØR', 'ODIN', 'TROLL', 'TROLL BRENT B', 'BRAGE', 'STATFJORD', 'STATFJORD ØST', 'STATFJORD NORD', 'SYGNA', 'GULLFAKS SØR', 'KNARR', 'SNORRE', 'VIGDIS', 'TORDIS', 'VISUND', 'VISUND SØR', 'GULLFAKS', 'GIMLE', 'SINDRE', 'KVITEBJØRN', 'VALEMON', 'VEGA', 'GJØA', 'FRAM', 'FRAM H-NORD', 'BYRDING', 'DUVA', 'ORMEN LANGE', 'KRISTIN', 'TRESTAKK', 'TYRIHANS', 'MARIA', 'ÅSGARD', 'MIKKEL', 'NJORD', 'HYME', 'DRAUGEN', 'MORVIN', 'MARULK', 'SKARV', 'ÆRFUGL', 'ALVE', 'HEIDRUN', 'DVALIN', 'YTTERGRYTA', 'NORNE', 'URD', 'SKULD', 'AASTA HANSTEEN', 'SNØHVIT', 'GOLIAT']

### CREATE FILES - create well header files for explo and dev wells

In [27]:
# Output exploration well headers

print('{} exploration wells from {} to {}.'.format(len(df_explo), 
                                                   df_explo['Name'][df_explo.index[0]], 
                                                   df_explo['Name'][df_explo.index[-1]]))

output_to_csv(outname='IC_wellbore_exploration_all', df=df_explo)

1930 exploration wells from 1/2-1 to 7435/12-1.
Saved to: C:\ICData\Test3\output_data\IC_wellbore_exploration_all.csv

    Name Alternate 1                     Operator Licence number   Intent Well status Well content         Type Subsea   SPUD date Completion date  Field Drill permit Discovery name Discovery wellbore  Bottom hole temperature [°C] Sitesurvey                              Seismic line  Maximum inclination [°]   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB] Oldest penetrated age Oldest penetrated formation   Location     Facility Drilling facility type Drilling facility category Licensing activity awarded in Multilateral Intent - planned  Entry year  Completed year Reclassified from/to wellbore Reentry activity 1st level with HC formation 1st level with HC age 2nd level with HC formation 2nd level with HC age 3rd level with HC formation 3rd level with HC age  Drilling days Reentry  Prod. licence for drilling target Plugged and abondon date Plugged date Geodatum   Latitude  Longitude   Surface Y  Surface X  UTM zone  Quadrant  Block      DISKOS Well Type                    DISKOS Wellbore Parent Publication date Release date Reclassified date  NPDID wellbore  NPDID discovery  NPDID field  NPDID drilling facility  NPDID wellbore reclassified from  NPDID production licence drilled in  NPDID site survey Date main level updated Date all updated Date sync NPD Country  UWI number           Status          Grid system
0  1/2-1       1/2-1  Phillips Petroleum Norsk AS           143   WILDCAT       P & A          OIL  EXPLORATION     NO  1989-03-20      1989-06-04  BLANE        604-L    1/2-1 Blane                YES                         147.0        NaN                   PW 8303A - 10   SP. 290                      2.0  22.0                                 NaN          3574.0         72.0                     NaN  CAMPANIAN                   TOR FM                NORTH SEA    ROSS ISLE          SEMISUB STEEL                   MOVEABLE                            12           NO          WILDCAT        1989            1989                           NaN              NaN                  FORTIES FM             PALEOCENE                         NaN                   NaN                                                               77      NO                                NaN                      NaN          NaN     ED50  56.887519   2.476583  6305128.26  468106.29        31         1      2  initial                                                              2007-12-19   1991-06-04               NaN            1382            43814      3437650                   296245                                 0                              21956.0                NaN              2019-10-03       2019-10-03    09.02.2020  NORWAY        1382        P & A Oil  ED50 / UTM zone 31N
1  1/2-2       1/2-2   Paladin Resources Norge AS         143 CS  WILDCAT       P & A    OIL SHOWS  EXPLORATION     NO  2005-12-14      2006-02-02    NaN       1103-L            NaN                 NO                         138.0        NaN  inline 7429-trace 4824 Survey PGS CGMNOR                      4.9  40.0                              3432.0          3434.0         74.0                     NaN  PALEOCENE                   EKOFISK FM            NORTH SEA  MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE                            12           NO          WILDCAT        2005            2006                           NaN              NaN                         NaN                   NaN                         NaN                   NaN                                                               51      NO                                NaN                      NaN          NaN     ED50  56.992222   2.496572  6316774.33  469410.10        31         1      2  initial                                                              2008-08-15   2008-02-02               NaN            5192                0            0                   278245                                 0                            2424919.0                NaN              2019-10-03       2019-10-03    09.02.2020  NORWAY        5192  P & A Oil Shows  ED50 / UTM zone 31N
2  1/3-1       1/3-1             A/S Norske Shell           011   WILDCAT       P & A          GAS  EXPLORATION     NO  1968-07-06      1968-11-11    NaN         15-L          1/3-1                YES                         182.0        NaN                       LINE 5651  SP. E165                     18.0  26.0                                 NaN          4877.0         71.0                     NaN  LATE PERMIAN                ZECHSTEIN GP          NORTH SEA        ORION         JACK-UP 3 LEGS                   MOVEABLE                           1-A           NO          WILDCAT        1968            1968                           NaN              NaN                      TOR FM       LATE CRETACEOUS             CROMER KNOLL GP      EARLY CRETACEOUS                                                              129      NO                                NaN                      NaN          NaN     ED50  56.855833   2.851389  6301488.86  490936.87        31         1      3  initial                                                              2010-04-30   1970-11-11               NaN             154            43820            0                   288604                                 0                              20844.0                NaN              2019-10-03       2019-10-03    09.02.2020  NORWAY         154        P & A Gas  ED50 / UTM zone 31N

In [28]:
# Output development well headers

print('{} development wells {} to {}.'.format(len(df_dev), 
                                                   df_dev['Name'][df_dev.index[0]], 
                                                   df_dev['Name'][df_dev.index[-1]]))

output_to_csv(outname='IC_wellbore_development_all', df=df_dev)

5152 development wells 1/3-A-1 H to 7122/10-I-4 H.
Saved to: C:\ICData\Test3\output_data\IC_wellbore_development_all.csv

        Name Alternate 1           Operator Licence number Well status      Intent Intent - planned Well content         Type Subsea                SPUD date          Completion date    Predrilled entry date Predrilled completion date    Field Drill permit Discovery name Discovery wellbore   KBE  Final vertical depth (TVD) [m RKB]  Terminal depth  Water depth  Kick off point [m RKB]   Location     Facility Drilling facility type Drilling facility category Production facility Licensing activity awarded in Multilateral Content - planned  Entry year  Completed year Reclassified from/to wellbore Plugged and abondon date Plugged date  Prod. licence for drilling target Geodatum   Latitude  Longitude   Surface Y  Surface X  UTM zone  Quadrant  Block      DISKOS Well Type                    DISKOS Wellbore Parent  NPDID wellbore  NPDID discovery  NPDID field Publication date             Release date  NPDID production licence drilled in  NPDID production licence target  NPDID drilling facility  NPDID production facility  NPDID wellbore reclassified from  Date main level updated         Date all updated Date sync NPD Country  UWI number      Status          Grid system
0  1/3-A-1 H     1/3-A-1  DONG E&P Norge AS           274       CLOSED  PRODUCTION       PRODUCTION          OIL  DEVELOPMENT    YES  2011-07-22 00:00:00.000  2011-09-21 00:00:00.000                      NaN                        NaN  OSELVAR       3365-P  1/3-6 Oselvar                 NO  45.0                              3163.0          5927.0         72.0                     NaN  NORTH SEA  MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE             OSELVAR                       NST2001           NO               OIL        2011            2011                           NaN                      NaN          NaN                                NaN     ED50  56.931961   2.671294  6310001.50  479994.47        31         1      3  initial                                                                   6612            43832      5506919              NaN  2013-09-21 00:00:00.000                              2060266                              NaN                   278245                   410592.0                                 0  2019-12-09 00:00:00.000  2015-10-06 00:00:00.000    09.02.2020  NORWAY        6612  Closed Oil  ED50 / UTM zone 31N
1  1/3-A-2 H     1/3-A-2  DONG E&P Norge AS           274       CLOSED  PRODUCTION       PRODUCTION          OIL  DEVELOPMENT    YES  2011-11-18 00:00:00.000  2012-01-19 00:00:00.000  2011-06-19 00:00:00.000    2011-07-04 00:00:00.000  OSELVAR       3366-P  1/3-6 Oselvar                 NO  45.0                              3170.0          5882.0         72.0                     NaN  NORTH SEA  MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE             OSELVAR                       NST2001           NO               OIL        2011            2012                           NaN                      NaN          NaN                                NaN     ED50  56.931914   2.671297  6309996.24  479994.61        31         1      3  initial                                                                   6613            43832      5506919              NaN  2014-01-19 00:00:00.000                              2060266                              NaN                   278245                   410592.0                                 0  2019-12-09 00:00:00.000  2015-10-06 00:00:00.000    09.02.2020  NORWAY        6613  Closed Oil  ED50 / UTM zone 31N
2  1/3-A-3 H     1/3-A-3  DONG E&P Norge AS           274       CLOSED  PRODUCTION       PRODUCTION          OIL  DEVELOPMENT    YES  2012-03-04 00:00:00.000  2012-05-14 00:00:00.000  2011-07-05 00:00:00.000    2011-07-21 00:00:00.000  OSELVAR       3367-P  1/3-6 Oselvar                 NO  45.0                              3171.0          6665.0         72.0                     NaN  NORTH SEA  MÆRSK GIANT         JACK-UP 3 LEGS                   MOVEABLE             OSELVAR                       NST2001           NO               OIL        2012            2012                           NaN                      NaN          NaN                                NaN     ED50  56.931964   2.671478  6310001.76  480005.63        31         1      3  initial                                                                   6614            43832      5506919              NaN  2014-05-14 00:00:00.000                              2060266                              NaN                   278245                   410592.0                                 0  2019-12-09 00:00:00.000  2015-10-06 00:00:00.000    09.02.2020  NORWAY        6614  Closed Oil  ED50 / UTM zone 31N

### Well Attributes to create in IC

In [29]:
# The following attributes are not IC defaults and need to be created under Wells > Attributes.
# Alternatively, use the SQL code produced in the next cell to create these rows in SSMS. 

# Find the full list of attributes after all the editing you've done above
all_attributes = set(list(df_explo.columns) + list(df_dev.columns))

# Find and count those attributes you'll need to create in IC
non_default_attributes = list(set(all_attributes).difference(ic_default_attributes))
non_default_attributes.sort()
num_non_default_attributes = len(non_default_attributes)

print('The following {} attributes are not IC defaults and must be added to IC:\n'.format(num_non_default_attributes))
print(list(non_default_attributes))

The following 55 attributes are not IC defaults and must be added to IC:

['1st level with HC age', '1st level with HC formation', '2nd level with HC age', '2nd level with HC formation', '3rd level with HC age', '3rd level with HC formation', 'Bottom hole temperature [°C]', 'Completed year', 'Content - planned', 'DISKOS Well Type', 'DISKOS Wellbore Parent', 'Date all updated', 'Date main level updated', 'Date sync NPD', 'Discovery wellbore', 'Drill permit', 'Drilling days', 'Drilling facility category', 'Drilling facility type', 'Entry year', 'Final vertical depth (TVD) [m RKB]', 'Intent - planned', 'Kick off point [m RKB]', 'Licensing activity awarded in', 'Maximum inclination [°]', 'Multilateral', 'NPDID discovery', 'NPDID drilling facility', 'NPDID field', 'NPDID production facility', 'NPDID production licence drilled in', 'NPDID production licence target', 'NPDID site survey', 'NPDID wellbore', 'NPDID wellbore reclassified from', 'Oldest penetrated age', 'Oldest penetrated formation', 'Plugged and abondon date', 'Plugged date', 'Predrilled completion date', 'Predrilled entry date', 'Prod. licence for drilling target', 'Production facility', 'Publication date', 'Reclassified date', 'Reclassified from/to wellbore', 'Reentry', 'Reentry activity', 'Release date', 'Sitesurvey', 'Subsea', 'Type', 'UTM zone', 'Well content', 'Well status']

In [30]:
# If you have database administration privileges, you can use this cell 
# to generate the SQL Query code that will create Well Attributes in IC in the format:
    
    #INSERT INTO t_WellsUserFields (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)
        #VALUES (1, 'Attribute', 'False', 0, 'Description of attribute', 0, 1);

        # This assumes you have no yet created any Well Attributes in IC. 
        # If you have already, you'll need to tweak the 3 variables below.

pk_index = 0 #Enter one less than your highest pk_index
original_pk_index = 0 #Enter the same number as above (this one we won't change)
f_sortorder = 0 #Enter the next appropriate f_sortorder

print("INSERT INTO t_WellsUserFields")
print("  (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)")
print("VALUES")

for i in non_default_attributes:
    pk_index += 1
    f_sortorder += 1
    if pk_index < (num_non_default_attributes + original_pk_index):
        print("  ({x}, '{y}', 'False', 0, 'Userfield {y}', 0, {z}),".format(x = pk_index, y = i, z = f_sortorder))
    else:
        print("  ({x}, '{y}', 'False', 0, 'Userfield {y}', 0, {z});".format(x = pk_index, y = i, z = f_sortorder))

# Follow these steps:
    # 1. Open your IC database in SQL Server Management Studio. IC must be closed/computer restarted to open a LocalDB in SSMS.
    # 2. Expand 'Tables', scroll down to 't_WellsUserFields' and right-click 'Edit Top 200 Rows'.
    # 3. Press Ctrl+N to create a new query, copy and paste the following SQL code to the blank query and hit F5.

INSERT INTO t_WellsUserFields
  (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)
VALUES
  (1, '1st level with HC age', 'False', 0, 'Userfield 1st level with HC age', 0, 1),
  (2, '1st level with HC formation', 'False', 0, 'Userfield 1st level with HC formation', 0, 2),
  (3, '2nd level with HC age', 'False', 0, 'Userfield 2nd level with HC age', 0, 3),
  (4, '2nd level with HC formation', 'False', 0, 'Userfield 2nd level with HC formation', 0, 4),
  (5, '3rd level with HC age', 'False', 0, 'Userfield 3rd level with HC age', 0, 5),
  (6, '3rd level with HC formation', 'False', 0, 'Userfield 3rd level with HC formation', 0, 6),
  (7, 'Bottom hole temperature [°C]', 'False', 0, 'Userfield Bottom hole temperature [°C]', 0, 7),
  (8, 'Completed year', 'False', 0, 'Userfield Completed year', 0, 8),
  (9, 'Content - planned', 'False', 0, 'Userfield Content - planned', 0, 9),
  (10, 'DISKOS Well Type', 'False', 0, 'Userfield DISKOS Well Type', 0, 10),
  (11, 'DISKOS Wellbore Parent', 'False', 0, 'Userfield DISKOS Wellbore Parent', 0, 11),
  (12, 'Date all updated', 'False', 0, 'Userfield Date all updated', 0, 12),
  (13, 'Date main level updated', 'False', 0, 'Userfield Date main level updated', 0, 13),
  (14, 'Date sync NPD', 'False', 0, 'Userfield Date sync NPD', 0, 14),
  (15, 'Discovery wellbore', 'False', 0, 'Userfield Discovery wellbore', 0, 15),
  (16, 'Drill permit', 'False', 0, 'Userfield Drill permit', 0, 16),
  (17, 'Drilling days', 'False', 0, 'Userfield Drilling days', 0, 17),
  (18, 'Drilling facility category', 'False', 0, 'Userfield Drilling facility category', 0, 18),
  (19, 'Drilling facility type', 'False', 0, 'Userfield Drilling facility type', 0, 19),
  (20, 'Entry year', 'False', 0, 'Userfield Entry year', 0, 20),
  (21, 'Final vertical depth (TVD) [m RKB]', 'False', 0, 'Userfield Final vertical depth (TVD) [m RKB]', 0, 21),
  (22, 'Intent - planned', 'False', 0, 'Userfield Intent - planned', 0, 22),
  (23, 'Kick off point [m RKB]', 'False', 0, 'Userfield Kick off point [m RKB]', 0, 23),
  (24, 'Licensing activity awarded in', 'False', 0, 'Userfield Licensing activity awarded in', 0, 24),
  (25, 'Maximum inclination [°]', 'False', 0, 'Userfield Maximum inclination [°]', 0, 25),
  (26, 'Multilateral', 'False', 0, 'Userfield Multilateral', 0, 26),
  (27, 'NPDID discovery', 'False', 0, 'Userfield NPDID discovery', 0, 27),
  (28, 'NPDID drilling facility', 'False', 0, 'Userfield NPDID drilling facility', 0, 28),
  (29, 'NPDID field', 'False', 0, 'Userfield NPDID field', 0, 29),
  (30, 'NPDID production facility', 'False', 0, 'Userfield NPDID production facility', 0, 30),
  (31, 'NPDID production licence drilled in', 'False', 0, 'Userfield NPDID production licence drilled in', 0, 31),
  (32, 'NPDID production licence target', 'False', 0, 'Userfield NPDID production licence target', 0, 32),
  (33, 'NPDID site survey', 'False', 0, 'Userfield NPDID site survey', 0, 33),
  (34, 'NPDID wellbore', 'False', 0, 'Userfield NPDID wellbore', 0, 34),
  (35, 'NPDID wellbore reclassified from', 'False', 0, 'Userfield NPDID wellbore reclassified from', 0, 35),
  (36, 'Oldest penetrated age', 'False', 0, 'Userfield Oldest penetrated age', 0, 36),
  (37, 'Oldest penetrated formation', 'False', 0, 'Userfield Oldest penetrated formation', 0, 37),
  (38, 'Plugged and abondon date', 'False', 0, 'Userfield Plugged and abondon date', 0, 38),
  (39, 'Plugged date', 'False', 0, 'Userfield Plugged date', 0, 39),
  (40, 'Predrilled completion date', 'False', 0, 'Userfield Predrilled completion date', 0, 40),
  (41, 'Predrilled entry date', 'False', 0, 'Userfield Predrilled entry date', 0, 41),
  (42, 'Prod. licence for drilling target', 'False', 0, 'Userfield Prod. licence for drilling target', 0, 42),
  (43, 'Production facility', 'False', 0, 'Userfield Production facility', 0, 43),
  (44, 'Publication date', 'False', 0, 'Userfield Publication date', 0, 44),
  (45, 'Reclassified date', 'False', 0, 'Userfield Reclassified date', 0, 45),
  (46, 'Reclassified from/to wellbore', 'False', 0, 'Userfield Reclassified from/to wellbore', 0, 46),
  (47, 'Reentry', 'False', 0, 'Userfield Reentry', 0, 47),
  (48, 'Reentry activity', 'False', 0, 'Userfield Reentry activity', 0, 48),
  (49, 'Release date', 'False', 0, 'Userfield Release date', 0, 49),
  (50, 'Sitesurvey', 'False', 0, 'Userfield Sitesurvey', 0, 50),
  (51, 'Subsea', 'False', 0, 'Userfield Subsea', 0, 51),
  (52, 'Type', 'False', 0, 'Userfield Type', 0, 52),
  (53, 'UTM zone', 'False', 0, 'Userfield UTM zone', 0, 53),
  (54, 'Well content', 'False', 0, 'Userfield Well content', 0, 54),
  (55, 'Well status', 'False', 0, 'Userfield Well status', 0, 55);

### Install correct co-ordinate systems to IC database

In [31]:
# In IC, open Project > Properties > Coords > Coordinate Systems
# Ensure each of the following co-ordinate system are installed **before importing well headers**
# Or use the cell below to write to file

lst_geodatum = sorted(set(df_explo['Geodatum'].astype(str)))
print('Geodatum:', ', '.join(lst_geodatum))

lst_gridsystem = sorted(set(df_explo['Grid system'].astype(str)))
print('Grid systems:', ', '.join(lst_gridsystem))

Geodatum: ED50
Grid systems: ED50 / UTM zone 31N, ED50 / UTM zone 32N, ED50 / UTM zone 33N, ED50 / UTM zone 34N, ED50 / UTM zone 35N, ED50 / UTM zone 36N, ED50 / UTM zone 37N

In [32]:
# Write Norwegian UTM Zones to Projections.def
# Note that Projections.def already contains geodatum ED50.

f = open(dbdir + '\Support\Projections.def', 'w+')

f.write('''# ED50
<4230> +proj=longlat +ellps=intl +no_defs <>
# ED50 / UTM zone 31N
<23031> +proj=utm +zone=31 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 32N
<23032> +proj=utm +zone=32 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 33N
<23033> +proj=utm +zone=33 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 34N
<23034> +proj=utm +zone=34 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 35N
<23035> +proj=utm +zone=35 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 36N
<23036> +proj=utm +zone=36 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 37N
<23037> +proj=utm +zone=37 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
''')

f.seek(0)
contents = f.read()
print(contents)

f.close()

# ED50
<4230> +proj=longlat +ellps=intl +no_defs <>
# ED50 / UTM zone 31N
<23031> +proj=utm +zone=31 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 32N
<23032> +proj=utm +zone=32 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 33N
<23033> +proj=utm +zone=33 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 34N
<23034> +proj=utm +zone=34 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 35N
<23035> +proj=utm +zone=35 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 36N
<23036> +proj=utm +zone=36 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 37N
<23037> +proj=utm +zone=37 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>

### Import the data to IC

In [33]:
# Before importing data to IC, ensure you have followed the last few steps to:
# - Create the appropriate Well Attributes in your IC Database.
# - Add the correct coordinate systems to your IC Project.

# Import reference files via Import > Well References
# Import well headers via Import > Headers.

# Note that, while the well header data imports very quickly, IC is a bit slow to create the wells if they don't already exist. Patience!

## Well Data

<h3>Core (Core Interval)</h3>

In [34]:
if data_source == 'web':
    df_core = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_core&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=165.225.81.99&CultureCode=en')

if data_source == 'file':
    df_core = pd.read_excel('input data/wellbore_core.xlsx')
    
df_core.head(3)

  Wellbore  Core sample number  Core sample - top depth  Core sample -  bottom depth Core sample depth - uom  Total core sample length [m]  Number of cores samples Cores available for sampling?  NPDID wellbore Date updated Date sync NPD
0    1/2-1                   1                  10208.0                      10208.4                  [ft  ]                          56.2                        8                           YES            1382   2016-05-31    08.02.2020
1    1/2-1                   2                  10216.0                      10233.0                  [ft  ]                          56.2                        8                           YES            1382   2016-05-31    08.02.2020
2    1/2-1                   3                      0.0                          0.0                    None                          56.2                        8                           YES            1382   2016-05-31    08.02.2020

In [35]:
df_core = df_core.replace(0, np.nan)
df_core.head(3)

  Wellbore  Core sample number  Core sample - top depth  Core sample -  bottom depth Core sample depth - uom  Total core sample length [m]  Number of cores samples Cores available for sampling?  NPDID wellbore Date updated Date sync NPD
0    1/2-1                   1                  10208.0                      10208.4                  [ft  ]                          56.2                      8.0                           YES            1382   2016-05-31    08.02.2020
1    1/2-1                   2                  10216.0                      10233.0                  [ft  ]                          56.2                      8.0                           YES            1382   2016-05-31    08.02.2020
2    1/2-1                   3                      NaN                          NaN                    None                          56.2                      8.0                           YES            1382   2016-05-31    08.02.2020

In [36]:
df_core.isnull().sum()

Wellbore                           0
Core sample number                 0
Core sample - top depth          136
Core sample -  bottom depth      136
Core sample depth - uom          130
Total core sample length [m]       5
Number of cores samples            6
Cores available for sampling?      0
NPDID wellbore                     0
Date updated                       0
Date sync NPD                      0
dtype: int64

In [37]:
filt = (df_core['Core sample - top depth'].isnull()) | (df_core['Core sample -  bottom depth'].isnull()) | (df_core['Core sample depth - uom'].isnull())

# (df_core['Core sample - top depth'] == 0.0) | (df_core['Core sample -  bottom depth'] == 0.0) |

df_core[filt].count()
df_core[filt]

            Wellbore  Core sample number  Core sample - top depth  Core sample -  bottom depth Core sample depth - uom  Total core sample length [m]  Number of cores samples Cores available for sampling?  NPDID wellbore Date updated Date sync NPD
2              1/2-1                   3                      NaN                          NaN                    None                         56.20                      8.0                           YES            1382   2016-05-31    08.02.2020
341          15/9-11                   8                      NaN                          NaN                    None                        104.30                     11.0                           YES             329   2016-05-31    08.02.2020
531           16/1-1                   9                      NaN                          NaN                    None                        171.00                     18.0                            NO             147   2018-03-16    08.02.2020
889           2/11-9                   2                      NaN                          NaN                    None                         33.25                      4.0                           YES            2153   2016-05-31    08.02.2020
903         2/11-A-2                   6                      NaN                          NaN                    None                        126.14                     10.0                           YES            1616   2016-05-31    08.02.2020
1015           2/4-2                   1                      NaN                          NaN                    None                         32.31                      8.0                           YES             172   2016-05-31    08.02.2020
1026           2/4-3                   1                      NaN                          NaN                    None                         87.48                     18.0                           YES              97   2016-05-31    08.02.2020
1136       2/4-A-4 A                   5                      NaN                          NaN                    None                        131.85                      7.0                           YES            1376   2016-05-31    08.02.2020
1196        2/4-B-12                  13                      NaN                          NaN                    None                        304.00                     40.0                           YES             616   2016-05-31    08.02.2020
1198        2/4-B-12                  15                      NaN                          NaN                    None                        304.00                     40.0                           YES             616   2016-05-31    08.02.2020
1295         2/4-B-4                   6                      NaN                          NaN                    None                         65.25                     12.0                           YES            1409   2016-05-31    08.02.2020
1300        2/4-C-11                  10                      NaN                          NaN                    None                        150.50                     40.0                            NO             945   2016-05-31    08.02.2020
1301        2/4-C-11                  11                      NaN                          NaN                    None                        150.50                     40.0                            NO             945   2016-05-31    08.02.2020
1302        2/4-C-11                  12                      NaN                          NaN                    None                        150.50                     40.0                            NO             945   2016-05-31    08.02.2020
1304        2/4-C-11                  14                      NaN                          NaN                    None                        150.50                     40.0                            NO             945   2016-05-31    08.02.2020
1305        2/4-C-11                  15                      NaN                          NaN                    None                        150.50                     40.0                            NO             945   2016-05-31    08.02.2020
1306        2/4-C-11                  16                      NaN                          NaN                    None                        150.50                     40.0                            NO             945   2016-05-31    08.02.2020
1310        2/4-C-11                   2                      NaN                          NaN                    None                        150.50                     40.0                            NO             945   2016-05-31    08.02.2020
1337        2/4-C-11                   8                      NaN                          NaN                    None                        150.50                     40.0                            NO             945   2016-05-31    08.02.2020
1338        2/4-C-11                   9                      NaN                          NaN                    None                        150.50                     40.0                            NO             945   2016-05-31    08.02.2020
1432        2/4-K-13                  13                      NaN                          NaN                    None                         92.00                     23.0                           YES             672   2016-05-31    08.02.2020
1448        2/4-K-13                   7                      NaN                          NaN                    None                         92.00                     23.0                           YES             672   2016-05-31    08.02.2020
1466        2/4-K-23                   5                      NaN                          NaN                    None                         92.00                     10.0                           YES             932   2016-05-31    08.02.2020
1488         2/4-K-4                  17                      NaN                          NaN                    None                        252.38                     48.0                           YES             670   2016-05-31    08.02.2020
1523         2/4-K-4                   5                      NaN                          NaN                    None                        252.38                     48.0                           YES             670   2016-05-31    08.02.2020
1597           2/5-7                   4                      NaN                          NaN                    None                         32.80                      5.0                           YES              25   2016-05-31    08.02.2020
1682        2/7-23 S                   1                      NaN                          NaN                    None                        273.00                     21.0                           YES            1547   2016-05-31    08.02.2020
1784        2/7-A-18                   1                      NaN                          NaN                  [ft  ]                           NaN                      NaN                           YES             793   2017-04-11    08.02.2020
1785        2/7-A-18                   2                      NaN                          NaN                  [ft  ]                           NaN                      NaN                           YES             793   2017-04-11    08.02.2020
1786        2/7-A-18                   3                      NaN                          NaN                  [ft  ]                           NaN                      NaN                           YES             793   2017-04-11    08.02.2020
1787        2/7-A-18                   4                      NaN                          NaN                  [ft  ]                           NaN                      NaN                           YES             793   2017-04-11    08.02.2020
1788        2/7-A-18                   5                      NaN                          NaN                  [ft  ]                           NaN                      NaN                           YES             793   2017-04-11    08.02.2020
1836       2/7-B-1 A                   1                      NaN                          NaN                    None                         10.57                      4.0                           YES            1380   2016-05-31    08.02.2020
1891         2/7-B-3                  19                      NaN                          NaN                    None                         54.80                     21.0                           YES             808   2016-05-31    08.02.2020
1920          2/8-10                   1                      NaN                          NaN                    None                         22.00                      4.0                           YES             280   2016-05-31    08.02.2020
2001       2/8-A-6 A                   1                      NaN                          NaN                    None                         12.40                      5.0                           YES            3321   2016-05-31    08.02.2020
2002       2/8-A-6 A                   2                      NaN                          NaN                    None                         12.40                      5.0                           YES            3321   2016-05-31    08.02.2020
2135         25/11-1                   1                      NaN                          NaN                    None                        105.60                     14.0                           YES             143   2016-05-31    08.02.2020
2141         25/11-1                   2                      NaN                          NaN                    None                        105.60                     14.0                           YES             143   2016-05-31    08.02.2020
2213         25/11-8                   1                      NaN                          NaN                    None                         40.70                      9.0                           YES             369   2016-05-31    08.02.2020
2223         25/11-9                   2                      NaN                          NaN                    None                          4.50                      4.0                           YES             213   2016-05-31    08.02.2020
2224         25/11-9                   3                      NaN                          NaN                    None                          4.50                      4.0                           YES             213   2016-05-31    08.02.2020
2242      25/11-G-24                   4                      NaN                          NaN                    None                        107.60                      9.0                           YES            4338   2016-05-31    08.02.2020
2269          25/1-7                  10                      NaN                          NaN                    None                        376.50                     33.0                           YES             463   2016-05-31    08.02.2020
2292          25/1-7                  31                      NaN                          NaN                    None                        376.50                     33.0                           YES             463   2016-05-31    08.02.2020
2293          25/1-7                  32                      NaN                          NaN                    None                        376.50                     33.0                           YES             463   2016-05-31    08.02.2020
2298          25/1-7                   7                      NaN                          NaN                    None                        376.50                     33.0                           YES             463   2016-05-31    08.02.2020
2299          25/1-7                   8                      NaN                          NaN                    None                        376.50                     33.0                           YES             463   2016-05-31    08.02.2020
2325       25/2-10 S                   2                      NaN                          NaN                    None                         53.65                      9.0                           YES             855   2016-05-31    08.02.2020
2329       25/2-10 S                   6                      NaN                          NaN                    None                         53.65                      9.0                           YES             855   2016-05-31    08.02.2020
2330       25/2-10 S                   7                      NaN                          NaN                    None                         53.65                      9.0                           YES             855   2016-05-31    08.02.2020
2333         25/2-11                   1                      NaN                          NaN                    None                         20.58                      4.0                           YES            1036   2016-05-31    08.02.2020
2337         25/2-12                   1                      NaN                          NaN                    None                         60.60                      5.0                           YES            1290   2016-05-31    08.02.2020
2343         25/2-13                  10                      NaN                          NaN                    None                        295.30                     19.0                           YES            1459   2016-05-31    08.02.2020
2361         25/2-14                   1                      NaN                          NaN                    None                         37.75                      4.0                           YES            1712   2016-05-31    08.02.2020
2362         25/2-14                   2                      NaN                          NaN                    None                         37.75                      4.0                           YES            1712   2016-05-31    08.02.2020
2403          25/2-9                  10                      NaN                          NaN                    None                        172.70                     12.0                           YES             477   2016-05-31    08.02.2020
2411          25/2-9                   7                      NaN                          NaN                    None                        172.70                     12.0                           YES             477   2016-05-31    08.02.2020
2461          25/4-4                   2                      NaN                          NaN                    None                         28.00                      4.0                           YES             362   2016-05-31    08.02.2020
2510        25/4-A-4                   7                      NaN                          NaN                    None                        129.28                      9.0                           YES             677   2016-05-31    08.02.2020
2528          25/5-1                   1                      NaN                          NaN                    None                        151.45                      9.0                           YES             884   2016-05-31    08.02.2020
2587          25/7-5                   1                      NaN                          NaN                    None                        161.40                     11.0                           YES            3132   2016-05-31    08.02.2020
2652        25/8-9 A                   3                      NaN                          NaN                  [m   ]                         53.75                      2.0                           YES            3025   2019-04-25    08.02.2020
2798          30/2-3                  14                      NaN                          NaN                    None                        170.12                     17.0                           YES            1970   2016-05-31    08.02.2020
2924          30/4-2                   1                      NaN                          NaN                    None                        122.10                     13.0                           YES             378   2016-05-31    08.02.2020
2988         30/6-13                   5                      NaN                          NaN                    None                         62.88                      9.0                           YES               7   2016-05-31    08.02.2020
3138        30/6-C-5                   5                      NaN                          NaN                    None                         41.40                      6.0                           YES            1481   2016-05-31    08.02.2020
3175          30/7-8                   6                      NaN                          NaN                    None                        296.02                     15.0                           YES             216   2016-07-06    08.02.2020
3283          30/9-2                   3                      NaN                          NaN                    None                        176.74                     12.0                           YES              11   2016-05-31    08.02.2020
3314        30/9-3 A                   1                      NaN                          NaN                    None                        170.89                     14.0                           YES             102   2016-05-31    08.02.2020
3444     30/9-B-50 H                   1                      NaN                          NaN                    None                        139.45                      9.0                           YES            1063   2016-05-31    08.02.2020
3492         31/2-11                   1                      NaN                          NaN                    None                         58.69                      8.0                           YES               6   2016-05-31    08.02.2020
3493         31/2-11                   2                      NaN                          NaN                    None                         58.69                      8.0                           YES               6   2016-05-31    08.02.2020
3494         31/2-11                   3                      NaN                          NaN                    None                         58.69                      8.0                           YES               6   2016-05-31    08.02.2020
3598          31/2-3                   7                      NaN                          NaN                    None                        211.50                     22.0                           YES             236   2016-05-31    08.02.2020
3644          31/2-5                   3                      NaN                          NaN                    None                         97.90                     21.0                           YES             210   2016-05-31    08.02.2020
3661          31/2-7                   2                      NaN                          NaN                    None                         72.25                      6.0                           YES              70   2016-05-31    08.02.2020
3747       31/2-O-41                   1                      NaN                          NaN                    None                         43.15                      4.0                           YES            4016   2016-05-31    08.02.2020
3829          31/4-3                   6                      NaN                          NaN                    None                         70.87                      7.0                           YES             402   2016-05-31    08.02.2020

In [38]:
df_core = df_core[~filt]
df_core

     Wellbore  Core sample number  Core sample - top depth  Core sample -  bottom depth Core sample depth - uom  Total core sample length [m]  Number of cores samples Cores available for sampling?  NPDID wellbore Date updated Date sync NPD
0       1/2-1                   1                  10208.0                     10208.40                  [ft  ]                         56.20                      8.0                           YES            1382   2016-05-31    08.02.2020
1       1/2-1                   2                  10216.0                     10233.00                  [ft  ]                         56.20                      8.0                           YES            1382   2016-05-31    08.02.2020
3       1/2-1                   4                  10256.0                     10286.00                  [ft  ]                         56.20                      8.0                           YES            1382   2016-05-31    08.02.2020
4       1/2-1                   5                  10286.0                     10358.00                  [ft  ]                         56.20                      8.0                           YES            1382   2016-05-31    08.02.2020
5       1/2-1                   6                  10358.0                     10364.60                  [ft  ]                         56.20                      8.0                           YES            1382   2016-05-31    08.02.2020
...       ...                 ...                      ...                          ...                     ...                           ...                      ...                           ...             ...          ...           ...
8273  9/2-A-4                   2                   4648.5                      4676.70                  [m   ]                         68.00                      3.0                           YES            2828   2016-05-31    08.02.2020
8274  9/2-A-4                   3                   4676.7                      4704.36                  [m   ]                         68.00                      3.0                           YES            2828   2016-05-31    08.02.2020
8275    9/3-1                   1                   1798.0                      1805.40                  [m   ]                          7.40                      1.0                           YES             921   2016-05-31    08.02.2020
8276    9/8-1                   1                   1926.0                      1933.35                  [m   ]                         23.77                      2.0                           YES             145   2016-05-31    08.02.2020
8277    9/8-1                   2                   2114.0                      2130.55                  [m   ]                         23.77                      2.0                           YES             145   2016-05-31    08.02.2020

[8141 rows x 11 columns]

In [39]:
#df_core.isnull().sum()

In [40]:
df_core['Core sample depth - uom'].unique()

array(['[ft  ]', '[m   ]'], dtype=object)

In [41]:
for index, row in df_core.iterrows():
    if row['Core sample depth - uom'] == '[ft  ]':
        df_core.loc[index, 'Top depth'] = (row['Core sample - top depth'] * 0.3048)
    else:
        df_core.loc[index, 'Top depth'] = row['Core sample - top depth']

In [42]:
for index, row in df_core.iterrows():
    if row['Core sample depth - uom'] == '[ft  ]':
        df_core.loc[index, 'Base depth'] = (row['Core sample -  bottom depth'] * 0.3048)
    else:
        df_core.loc[index, 'Base depth'] = row['Core sample -  bottom depth']

In [43]:
df_core.isnull().sum()

Wellbore                         0
Core sample number               0
Core sample - top depth          0
Core sample -  bottom depth      0
Core sample depth - uom          0
Total core sample length [m]     0
Number of cores samples          1
Cores available for sampling?    0
NPDID wellbore                   0
Date updated                     0
Date sync NPD                    0
Top depth                        0
Base depth                       0
dtype: int64

In [44]:
df_core.dtypes
# Note extra space in 'Core sample -  bottom depth'

Wellbore                                 object
Core sample number                        int64
Core sample - top depth                 float64
Core sample -  bottom depth             float64
Core sample depth - uom                  object
Total core sample length [m]            float64
Number of cores samples                 float64
Cores available for sampling?            object
NPDID wellbore                            int64
Date updated                     datetime64[ns]
Date sync NPD                            object
Top depth                               float64
Base depth                              float64
dtype: object

In [45]:
df_core = df_core[['Wellbore', 'NPDID wellbore', 'Top depth', 'Base depth', 'Core sample number', ]].round(2)
df_core

     Wellbore  NPDID wellbore  Top depth  Base depth  Core sample number
0       1/2-1            1382    3111.40     3111.52                   1
1       1/2-1            1382    3113.84     3119.02                   2
3       1/2-1            1382    3126.03     3135.17                   4
4       1/2-1            1382    3135.17     3157.12                   5
5       1/2-1            1382    3157.12     3159.13                   6
...       ...             ...        ...         ...                 ...
8273  9/2-A-4            2828    4648.50     4676.70                   2
8274  9/2-A-4            2828    4676.70     4704.36                   3
8275    9/3-1             921    1798.00     1805.40                   1
8276    9/8-1             145    1926.00     1933.35                   1
8277    9/8-1             145    2114.00     2130.55                   2

[8141 rows x 5 columns]

In [46]:
# Rename columns
rename_cols = {'Wellbore' : 'Well',
               'Core sample number': 'Legend'
               }
    
# Apply renaming
df_core.rename(columns=rename_cols, inplace=True)
df_core.head(3)

    Well  NPDID wellbore  Top depth  Base depth  Legend
0  1/2-1            1382    3111.40     3111.52       1
1  1/2-1            1382    3113.84     3119.02       2
3  1/2-1            1382    3126.03     3135.17       4

In [47]:
# Output file
output_to_csv(outname='wellbore_core', df=df_core)

Saved to: C:\ICData\Test3\output_data\wellbore_core.csv

    Well  NPDID wellbore  Top depth  Base depth  Legend
0  1/2-1            1382    3111.40     3111.52       1
1  1/2-1            1382    3113.84     3119.02       2
2  1/2-1            1382    3126.03     3135.17       4

<h3>Core Photos</h3>

In [48]:
# Outputs three files:
    # wellbore_core_photo_ERRONEOUS_withURL.csv (erroneous 'Core photo title' columns)
    # wellbore_core_photo_withURL.csv
    # wellbore_core_photo.csv

In [49]:
if data_source == 'web':
    df_core_photo = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_core_photo&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.129.189&CultureCode=en')

if data_source == 'file':
    df_core_photo = pd.read_excel('input data/wellbore_core_photo.xlsx')

df_core_photo.head(3)

  Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore Date updated
0    1/2-1                   1    10208-10228ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   2019-04-25
1    1/2-1                   2    19228-10262ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   2019-04-25
2    1/2-1                   3    10262-10277ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   2019-04-25

In [50]:
df_core_photo = df_core_photo.drop('Date updated', 1)

In [51]:
# See https://pythex.org/

# Match pattern:
# 10208-10228ft
# 1802-1805m

pat = '\d{3,5}-\d{3,5}\D{1,2}'
    
#filt = df_core_photo['Core photo title'].str.extract(pat)
filt = df_core_photo['Core photo title'].str.contains(pat)

# Check rows that match pattern
df_core_photo[filt].head(3)

  Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore
0    1/2-1                   1    10208-10228ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382
1    1/2-1                   2    19228-10262ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382
2    1/2-1                   3    10262-10277ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382

In [52]:
# Check rows that do not match pattern and make corrections
df_core_photo[~filt]

        Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore
1586      16/1-5                   6             2044  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3279
2121    2/4-X-47                   1      15736-15751  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2122    2/4-X-47                   2      15751-15766  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2123    2/4-X-47                   3      15766-15781  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2124    2/4-X-47                   4      15781-15796  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2125    2/4-X-47                   5      15796-15811  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2126    2/4-X-47                   6      15811-15826  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2127    2/4-X-47                   8      15826-15837  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2128    2/4-X-47                   9      15837-15852  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2129    2/4-X-47                  10      15852-15865  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2520    2/7-23 S                 159            15432  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1547
3386    25/11-22                   1          Core1-1  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3387    25/11-22                   2          Core1-2  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3388    25/11-22                   3          Core1-3  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3389    25/11-22                   4          Core1-4  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3390    25/11-22                   5          Core1-5  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3391    25/11-22                   6          Core1-6  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3392    25/11-22                   7          Core1-7  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3393    25/11-22                   8          Core1-8  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3394    25/11-22                   9          Core1-9  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3395    25/11-22                  10         Core1-10  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3396    25/11-22                  11         Core1-11  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3397    25/11-22                  12         Core1-12  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3398    25/11-22                  13         Core1-13  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3399    25/11-22                  14         Core1-14  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3400    25/11-22                  15         Core1-15  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3401    25/11-22                  16         Core1-16  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3402    25/11-22                  17         Core1-17  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3403    25/11-22                  18         Core1-18  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3404    25/11-22                  19         Core1-19  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3405    25/11-22                  20         Core1-20  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3406    25/11-22                  21         Core1-21  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3407    25/11-22                  22         Core1-22  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3408    25/11-22                  23         Core1-23  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3409    25/11-22                  24         Core1-24  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3410    25/11-22                  25         Core1-25  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3411    25/11-22                  26         Core1-26  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3412    25/11-22                  27         Core1-27  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3413    25/11-22                  28         Core1-28  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3414    25/11-22                  29         Core1-29  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3415    25/11-22                  30         Core1-30  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3416    25/11-22                  31         Core1-31  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3417    25/11-22                  32         Core1-32  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3418    25/11-22                  33          Core2-1  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3419    25/11-22                  34          Core2-2  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3420    25/11-22                  35          Core2-3  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3421    25/11-22                  36          Core2-4  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3422    25/11-22                  37          Core2-5  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3423    25/11-22                  38          Core3-1  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3424    25/11-22                  39          Core3-2  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3425    25/11-22                  40          Core3-3  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3426    25/11-22                  41          Core3-4  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3427    25/11-22                  42          Core3-5  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3428    25/11-22                  43          Core3-6  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3429    25/11-22                  44          Core3-7  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3430    25/11-22                  45          Core3-8  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3431    25/11-22                  46          Core3-9  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3432    25/11-22                  47         Core3-10  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3433    25/11-22                  48          Core4-1  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3434    25/11-22                  49          Core4-2  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3435    25/11-22                  50          Core4-3  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3436    25/11-22                  51          Core4-4  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3437    25/11-22                  52          Core4-5  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3438    25/11-22                  53          Core4-6  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3439    25/11-22                  54          Core4-7  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3440    25/11-22                  55          Core4-8  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3441    25/11-22                  56          Core4-9  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3442    25/11-22                  57         Core4-10  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3443    25/11-22                  58         Core4-11  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3444    25/11-22                  59         Core4-12  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3445    25/11-22                  60         Core4-13  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3446    25/11-22                  61         Core4-14  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
3447    25/11-22                  62         Cores5-1  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3243
8827      31/6-2                  15             1509  https://factpages.npd.no/pbl/core_photo_jpgs/3...              34
9046     33/12-2                   1            Core2  https://factpages.npd.no/pbl/core_photo_jpgs/4...             418
9047     33/12-2                   2            Core2  https://factpages.npd.no/pbl/core_photo_jpgs/4...             418
9048     33/12-2                   3            Core2  https://factpages.npd.no/pbl/core_photo_jpgs/4...             418
9049     33/12-2                   4            Core2  https://factpages.npd.no/pbl/core_photo_jpgs/4...             418
9050     33/12-2                   5            Core2  https://factpages.npd.no/pbl/core_photo_jpgs/4...             418
9051     33/12-2                   6            Core2  https://factpages.npd.no/pbl/core_photo_jpgs/4...             418
9052     33/12-2                   7            Core3  https://factpages.npd.no/pbl/core_photo_jpgs/4...             418
9053     33/12-2                   8            Core3  https://factpages.npd.no/pbl/core_photo_jpgs/4...             418
10074   34/10-22                   2              448  https://factpages.npd.no/pbl/core_photo_jpgs/4...             446
13177    35/11-5                  27             3316  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1780
14068  6204/10-1                   4              826  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2666
14234   6305/9-1                   6        24822483m  https://factpages.npd.no/pbl/core_photo_jpgs/4...            4297
15665  6506/11-2                  22             4401  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1754
15900  6506/11-6                  57        48884893m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3306
17335   6507/5-2                   5             3651  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3756
18728  6608/10-4                   1             0-0m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2256
18928   6609/7-1                   7             1944  https://factpages.npd.no/pbl/core_photo_jpgs/1...              19
19559  7119/12-2                  11             1408  https://factpages.npd.no/pbl/core_photo_jpgs/1...             114
19977   7120/8-1                  26        2233-2235  https://factpages.npd.no/pbl/core_photo_jpgs/1...             120
20016   7120/8-2                  26             2201  https://factpages.npd.no/pbl/core_photo_jpgs/5...              50
20861      9/2-2                   9             3424  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1135

In [53]:
# Note 95 rows with erroneous values
# Apply obvious corrections then drop the rest.

# Values for well 2/4-X-47 are obviously in ft.
filt_correction = df_core_photo['Wellbore'] == '2/4-X-47'
df_core_photo.loc[filt_correction, 'Core photo title'] = (df_core_photo['Core photo title'] + 'm')
df_core_photo.loc[filt_correction]

# There are other obvious corrections to be made, but leave for now.
# Example below, but don't do this on .loc as index may as more wells added.

#['Core photo title'].loc[14234] = '2482-2483m'

      Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore
2121  2/4-X-47                   1     15736-15751m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2122  2/4-X-47                   2     15751-15766m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2123  2/4-X-47                   3     15766-15781m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2124  2/4-X-47                   4     15781-15796m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2125  2/4-X-47                   5     15796-15811m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2126  2/4-X-47                   6     15811-15826m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2127  2/4-X-47                   8     15826-15837m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2128  2/4-X-47                   9     15837-15852m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2129  2/4-X-47                  10     15852-15865m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157

In [54]:
# Assign rows that do not match pattern to new dataframe

df_core_photo_ERRONEOUS = df_core_photo[~filt]
df_core_photo_ERRONEOUS

# Output data
output_to_csv(outname='wellbore_core_photo_ERRONEOUS_withURL', df=df_core_photo_ERRONEOUS)

Saved to: C:\ICData\Test3\output_data\wellbore_core_photo_ERRONEOUS_withURL.csv

   Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore
0    16/1-5                   6             2044  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3279
1  2/4-X-47                   1     15736-15751m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157
2  2/4-X-47                   2     15751-15766m  https://factpages.npd.no/pbl/core_photo_jpgs/3...            3157

In [55]:
# Keep only rows that do match pattern
# Dumps the rest (e.g. '2044', 'Core 2')

df_core_photo = df_core_photo[filt]
print(df_core_photo.shape)
df_core_photo

(20849, 5)

      Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore
0        1/2-1                   1    10208-10228ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382
1        1/2-1                   2    19228-10262ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382
2        1/2-1                   3    10262-10277ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382
3        1/2-1                   4    10277-10292ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382
4        1/2-1                   5    10292-10307ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382
...        ...                 ...              ...                                                ...             ...
20939  9/2-A-4                  13       4691-4696m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828
20940  9/2-A-4                  14       4696-4701m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828
20941  9/2-A-4                  15       4701-4704m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828
20942    9/3-1                   1       1798-1802m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921
20943    9/3-1                   2       1802-1805m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921

[20849 rows x 5 columns]

In [56]:
# Check for null values
df_core_photo.isna().sum()

Wellbore              0
Core sample number    0
Core photo title      0
Core photo URL        0
NPDID wellbore        0
dtype: int64

In [57]:
# Check datatypes
df_core_photo.dtypes

Wellbore              object
Core sample number     int64
Core photo title      object
Core photo URL        object
NPDID wellbore         int64
dtype: object

In [58]:
df_core_photo['Core photo title'].replace({'mj': 'm', #one erroneous 'mj' value
                                           'n': ',m', #one erroneous 'n' value
                                           'm': ',m', #then replace all 'm'
                                           'M': ',m',
                                           'ft': ',ft',
                                           'FT': ',ft'
                                          }, regex=True, inplace=True)

df_core_photo['Core photo title'].replace({'-': ','}, regex=True, inplace=True)

df_core_photo.head(3)

  Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore
0    1/2-1                   1   10208,10228,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382
1    1/2-1                   2   19228,10262,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382
2    1/2-1                   3   10262,10277,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382

In [59]:
df_core_photo.tail()

      Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore
20939  9/2-A-4                  13      4691,4696,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828
20940  9/2-A-4                  14      4696,4701,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828
20941  9/2-A-4                  15      4701,4704,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828
20942    9/3-1                   1      1798,1802,m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921
20943    9/3-1                   2      1802,1805,m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921

In [60]:
df_core_photo[['Top depth', 'Base depth', 'Unit']] = df_core_photo['Core photo title'].str.split(pat=',', n=2, expand=True)
df_core_photo

      Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore Top depth Base depth Unit
0        1/2-1                   1   10208,10228,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382     10208      10228   ft
1        1/2-1                   2   19228,10262,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382     19228      10262   ft
2        1/2-1                   3   10262,10277,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382     10262      10277   ft
3        1/2-1                   4   10277,10292,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382     10277      10292   ft
4        1/2-1                   5   10292,10307,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382     10292      10307   ft
...        ...                 ...              ...                                                ...             ...       ...        ...  ...
20939  9/2-A-4                  13      4691,4696,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4691       4696    m
20940  9/2-A-4                  14      4696,4701,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4696       4701    m
20941  9/2-A-4                  15      4701,4704,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4701       4704    m
20942    9/3-1                   1      1798,1802,m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921      1798       1802    m
20943    9/3-1                   2      1802,1805,m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921      1802       1805    m

[20849 rows x 8 columns]

In [61]:
df_core_photo['Unit'].unique()

array(['ft', 'm'], dtype=object)

In [62]:
# Drop columns that contain nulls
df_core_photo.isna().sum()

Wellbore              0
Core sample number    0
Core photo title      0
Core photo URL        0
NPDID wellbore        0
Top depth             0
Base depth            0
Unit                  0
dtype: int64

In [63]:
df_core_photo

      Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore Top depth Base depth Unit
0        1/2-1                   1   10208,10228,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382     10208      10228   ft
1        1/2-1                   2   19228,10262,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382     19228      10262   ft
2        1/2-1                   3   10262,10277,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382     10262      10277   ft
3        1/2-1                   4   10277,10292,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382     10277      10292   ft
4        1/2-1                   5   10292,10307,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382     10292      10307   ft
...        ...                 ...              ...                                                ...             ...       ...        ...  ...
20939  9/2-A-4                  13      4691,4696,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4691       4696    m
20940  9/2-A-4                  14      4696,4701,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4696       4701    m
20941  9/2-A-4                  15      4701,4704,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4701       4704    m
20942    9/3-1                   1      1798,1802,m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921      1798       1802    m
20943    9/3-1                   2      1802,1805,m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921      1802       1805    m

[20849 rows x 8 columns]

In [64]:
df_core_photo.dtypes

Wellbore              object
Core sample number     int64
Core photo title      object
Core photo URL        object
NPDID wellbore         int64
Top depth             object
Base depth            object
Unit                  object
dtype: object

In [65]:
# Convert all top depths to metres

for index, row in df_core_photo.iterrows():
    if row['Unit'] == 'ft':
        df_core_photo.loc[index, 'Top depth'] = int(row['Top depth']) * 0.3048
    else:
        df_core_photo.loc[index, 'Top depth'] = int(row['Top depth'])

In [66]:
# Convert all base depths to metres

for index, row in df_core_photo.iterrows():
    if row['Unit'] == 'ft':
        df_core_photo.loc[index, 'Base depth'] = int(row['Base depth']) * 0.3048
    else:
        df_core_photo.loc[index, 'Base depth'] = int(row['Base depth'])

In [67]:
df_core_photo.round(2).head(3)

  Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore Top depth Base depth Unit
0    1/2-1                   1   10208,10228,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382    3111.4    3117.49   ft
1    1/2-1                   2   19228,10262,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   5860.69    3127.86   ft
2    1/2-1                   3   10262,10277,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   3127.86    3132.43   ft

In [68]:
# Add a new column with the filepath, e.g. '.\core_photo_jpgs\9_3-1\921_01_1798-1802m.jpg'
# Where . represents the current directory

df_core_photo['Folder'] = df_core_photo['Wellbore'].str.replace('/', '_')
df_core_photo['Legend'] = '.\\' + 'core_photo_jpgs\\' + df_core_photo['Folder'] + '\\'+ df_core_photo['Core photo URL'].str.split('/').str[-1]

df_core_photo

# If you only want file name use:
# df_core_photo['Legend'] = '.\\' + df_core_photo['Core photo URL'].str.split('/').str[-1]
# df_core_photo

      Wellbore  Core sample number Core photo title                                     Core photo URL  NPDID wellbore Top depth Base depth Unit   Folder                                             Legend
0        1/2-1                   1   10208,10228,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382    3111.4    3117.49   ft    1_2-1  .\core_photo_jpgs\1_2-1\1382_01_10208-10228ft.jpg
1        1/2-1                   2   19228,10262,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   5860.69    3127.86   ft    1_2-1  .\core_photo_jpgs\1_2-1\1382_02_19228-10262ft.jpg
2        1/2-1                   3   10262,10277,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   3127.86    3132.43   ft    1_2-1  .\core_photo_jpgs\1_2-1\1382_03_10262-10277ft.jpg
3        1/2-1                   4   10277,10292,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   3132.43       3137   ft    1_2-1  .\core_photo_jpgs\1_2-1\1382_04_10277-10292ft.jpg
4        1/2-1                   5   10292,10307,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382      3137    3141.57   ft    1_2-1  .\core_photo_jpgs\1_2-1\1382_05_10292-10307ft.jpg
...        ...                 ...              ...                                                ...             ...       ...        ...  ...      ...                                                ...
20939  9/2-A-4                  13      4691,4696,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4691       4696    m  9_2-A-4   .\core_photo_jpgs\9_2-A-4\2828_13_4691-4696m.jpg
20940  9/2-A-4                  14      4696,4701,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4696       4701    m  9_2-A-4   .\core_photo_jpgs\9_2-A-4\2828_14_4696-4701m.jpg
20941  9/2-A-4                  15      4701,4704,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4701       4704    m  9_2-A-4   .\core_photo_jpgs\9_2-A-4\2828_15_4701-4704m.jpg
20942    9/3-1                   1      1798,1802,m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921      1798       1802    m    9_3-1      .\core_photo_jpgs\9_3-1\921_01_1798-1802m.jpg
20943    9/3-1                   2      1802,1805,m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921      1802       1805    m    9_3-1      .\core_photo_jpgs\9_3-1\921_02_1802-1805m.jpg

[20849 rows x 10 columns]

In [69]:
# Rename columns
rename_cols = {'Wellbore' : 'Well'}

# Apply renaming
df_core_photo.rename(columns=rename_cols, inplace=True)
df_core_photo

          Well  Core sample number Core photo title                                     Core photo URL  NPDID wellbore Top depth Base depth Unit   Folder                                             Legend
0        1/2-1                   1   10208,10228,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382    3111.4    3117.49   ft    1_2-1  .\core_photo_jpgs\1_2-1\1382_01_10208-10228ft.jpg
1        1/2-1                   2   19228,10262,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   5860.69    3127.86   ft    1_2-1  .\core_photo_jpgs\1_2-1\1382_02_19228-10262ft.jpg
2        1/2-1                   3   10262,10277,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   3127.86    3132.43   ft    1_2-1  .\core_photo_jpgs\1_2-1\1382_03_10262-10277ft.jpg
3        1/2-1                   4   10277,10292,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382   3132.43       3137   ft    1_2-1  .\core_photo_jpgs\1_2-1\1382_04_10277-10292ft.jpg
4        1/2-1                   5   10292,10307,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382      3137    3141.57   ft    1_2-1  .\core_photo_jpgs\1_2-1\1382_05_10292-10307ft.jpg
...        ...                 ...              ...                                                ...             ...       ...        ...  ...      ...                                                ...
20939  9/2-A-4                  13      4691,4696,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4691       4696    m  9_2-A-4   .\core_photo_jpgs\9_2-A-4\2828_13_4691-4696m.jpg
20940  9/2-A-4                  14      4696,4701,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4696       4701    m  9_2-A-4   .\core_photo_jpgs\9_2-A-4\2828_14_4696-4701m.jpg
20941  9/2-A-4                  15      4701,4704,m  https://factpages.npd.no/pbl/core_photo_jpgs/2...            2828      4701       4704    m  9_2-A-4   .\core_photo_jpgs\9_2-A-4\2828_15_4701-4704m.jpg
20942    9/3-1                   1      1798,1802,m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921      1798       1802    m    9_3-1      .\core_photo_jpgs\9_3-1\921_01_1798-1802m.jpg
20943    9/3-1                   2      1802,1805,m  https://factpages.npd.no/pbl/core_photo_jpgs/9...             921      1802       1805    m    9_3-1      .\core_photo_jpgs\9_3-1\921_02_1802-1805m.jpg

[20849 rows x 10 columns]

In [70]:
# Output file that includes URLs before going on to generate file for IC
output_to_csv(outname='wellbore_core_photo_withURL', df=df_core_photo)

Saved to: C:\ICData\Test3\output_data\wellbore_core_photo_withURL.csv

    Well  Core sample number Core photo title                                     Core photo URL  NPDID wellbore  Top depth  Base depth Unit Folder                                             Legend
0  1/2-1                   1   10208,10228,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382  3111.3984   3117.4944   ft  1_2-1  .\core_photo_jpgs\1_2-1\1382_01_10208-10228ft.jpg
1  1/2-1                   2   19228,10262,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382  5860.6944   3127.8576   ft  1_2-1  .\core_photo_jpgs\1_2-1\1382_02_19228-10262ft.jpg
2  1/2-1                   3   10262,10277,ft  https://factpages.npd.no/pbl/core_photo_jpgs/1...            1382  3127.8576   3132.4296   ft  1_2-1  .\core_photo_jpgs\1_2-1\1382_03_10262-10277ft.jpg

In [71]:
df_core_photo = df_core_photo[['Well', 'NPDID wellbore', 'Top depth', 'Base depth', 'Legend']]
df_core_photo.head(3)

    Well  NPDID wellbore Top depth Base depth                                             Legend
0  1/2-1            1382    3111.4    3117.49  .\core_photo_jpgs\1_2-1\1382_01_10208-10228ft.jpg
1  1/2-1            1382   5860.69    3127.86  .\core_photo_jpgs\1_2-1\1382_02_19228-10262ft.jpg
2  1/2-1            1382   3127.86    3132.43  .\core_photo_jpgs\1_2-1\1382_03_10262-10277ft.jpg

In [72]:
# Output file
output_to_csv(outname='wellbore_core_photo', df=df_core_photo)

Saved to: C:\ICData\Test3\output_data\wellbore_core_photo.csv

    Well  NPDID wellbore  Top depth  Base depth                                             Legend
0  1/2-1            1382  3111.3984   3117.4944  .\core_photo_jpgs\1_2-1\1382_01_10208-10228ft.jpg
1  1/2-1            1382  5860.6944   3127.8576  .\core_photo_jpgs\1_2-1\1382_02_19228-10262ft.jpg
2  1/2-1            1382  3127.8576   3132.4296  .\core_photo_jpgs\1_2-1\1382_03_10262-10277ft.jpg

<h3>Thin Section</h3>

In [73]:
if data_source == 'web':
    df_thin_section = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_thin_section&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')

if data_source == 'file':
    df_thin_section = pd.read_excel('input data/wellbore_thin_section.xlsx')

In [74]:
print(df_thin_section.shape)
df_thin_section.head(3)

(2136, 7)

  Wellbore  Number    Depth    Unit  NPDID wellbore Date updated Date sync NPD
0    1/3-1     117  11221.0  [ft  ]             154   2019-04-25    09.02.2020
1    1/3-1     118  11221.0  [ft  ]             154   2019-04-25    09.02.2020
2    1/3-5     121   4809.0  [m   ]             223   2018-12-20    09.02.2020

In [75]:
df_thin_section['Unit'].unique()

array(['[ft  ]', '[m   ]'], dtype=object)

In [76]:
df_thin_section.isna().sum()

Wellbore          0
Number            0
Depth             0
Unit              0
NPDID wellbore    0
Date updated      0
Date sync NPD     0
dtype: int64

In [77]:
for index, row in df_thin_section.iterrows():
    if row['Unit'] == '[ft  ]':
        df_thin_section.loc[index, 'Depth'] = row['Depth'] * 0.3048
    else:
        df_thin_section.loc[index, 'Depth'] = row['Depth']
        
df_thin_section.drop(columns='Unit', inplace=True)

In [78]:
df_thin_section.head(3)

  Wellbore  Number      Depth  NPDID wellbore Date updated Date sync NPD
0    1/3-1     117  3420.1608             154   2019-04-25    09.02.2020
1    1/3-1     118  3420.1608             154   2019-04-25    09.02.2020
2    1/3-5     121  4809.0000             223   2018-12-20    09.02.2020

In [79]:
for index, row in df_thin_section.iterrows():
    df_thin_section.loc[index, 'Legend'] = 'Thin section no. ' + str(row['Number'])
    
df_thin_section.head(3)

  Wellbore  Number      Depth  NPDID wellbore Date updated Date sync NPD                Legend
0    1/3-1     117  3420.1608             154   2019-04-25    09.02.2020  Thin section no. 117
1    1/3-1     118  3420.1608             154   2019-04-25    09.02.2020  Thin section no. 118
2    1/3-5     121  4809.0000             223   2018-12-20    09.02.2020  Thin section no. 121

In [80]:
# Rename columns
rename_cols = {'Wellbore' : 'Well'}
    
# Apply renaming
df_thin_section.rename(columns=rename_cols, inplace=True)
df_thin_section

       Well  Number      Depth  NPDID wellbore Date updated Date sync NPD                 Legend
0     1/3-1     117  3420.1608             154   2019-04-25    09.02.2020   Thin section no. 117
1     1/3-1     118  3420.1608             154   2019-04-25    09.02.2020   Thin section no. 118
2     1/3-5     121  4809.0000             223   2018-12-20    09.02.2020   Thin section no. 121
3     1/3-5     122  4812.0000             223   2018-12-20    09.02.2020   Thin section no. 122
4     1/3-5    2319  4805.3500             223   2019-03-27    09.02.2020  Thin section no. 2319
...     ...     ...        ...             ...          ...           ...                    ...
2131  8/3-1     790  3010.0000             142   2018-12-20    09.02.2020   Thin section no. 790
2132  9/4-3     793  3820.0000             152   2018-12-20    09.02.2020   Thin section no. 793
2133  9/4-3     794  3840.0000             152   2018-12-20    09.02.2020   Thin section no. 794
2134  9/4-3     795  3860.0000             152   2018-12-20    09.02.2020   Thin section no. 795
2135  9/4-3     796  3900.0000             152   2018-12-20    09.02.2020   Thin section no. 796

[2136 rows x 7 columns]

In [81]:
df_thin_section = df_thin_section[['Well', 'NPDID wellbore', 'Depth', 'Legend']]
df_thin_section = df_thin_section.round(2)
df_thin_section

       Well  NPDID wellbore    Depth                 Legend
0     1/3-1             154  3420.16   Thin section no. 117
1     1/3-1             154  3420.16   Thin section no. 118
2     1/3-5             223  4809.00   Thin section no. 121
3     1/3-5             223  4812.00   Thin section no. 122
4     1/3-5             223  4805.35  Thin section no. 2319
...     ...             ...      ...                    ...
2131  8/3-1             142  3010.00   Thin section no. 790
2132  9/4-3             152  3820.00   Thin section no. 793
2133  9/4-3             152  3840.00   Thin section no. 794
2134  9/4-3             152  3860.00   Thin section no. 795
2135  9/4-3             152  3900.00   Thin section no. 796

[2136 rows x 4 columns]

In [82]:
# Output file
output_to_csv(outname='wellbore_thin_section', df=df_thin_section)

Saved to: C:\ICData\Test3\output_data\wellbore_thin_section.csv

    Well  NPDID wellbore    Depth                Legend
0  1/3-1             154  3420.16  Thin section no. 117
1  1/3-1             154  3420.16  Thin section no. 118
2  1/3-5             223  4809.00  Thin section no. 121

In [83]:
# Point - comment
# No new IC data types

<h3>CO2</h3>

In [84]:
if data_source == 'web':
    df_co2 = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_co2&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en',
                     skiprows=[0])

if data_source == 'file':
    df_co2 = pd.read_excel('input data/wellbore_co2.xlsx', sheet_name='wellbore_co2', 
                           skiprows=[0])

In [85]:
print(df_co2.shape)
df_co2.head(3)

(94, 10)

   Unnamed: 0 Wellbore name  Sample sequence number  Sample top depth [m]  Sample bottom depth [m]  CO2 [vol %]  Sample method Sample type  NPDID wellbore Date sync NPD
0         NaN        15/3-7                       1                4073.8                   4610.1        18900            NaN        MDT             4055    09.02.2020
1         NaN        17/3-1                       1                2406.1                   2406.1         3020            NaN        MDT             2576    09.02.2020
2         NaN        2/7-22                       1                4489.0                   4496.0         4500            NaN        DST             1495    09.02.2020

In [86]:
df_co2.drop(labels='Unnamed: 0', axis=1, inplace=True)
df_co2

   Wellbore name  Sample sequence number  Sample top depth [m]  Sample bottom depth [m]  CO2 [vol %]  Sample method Sample type  NPDID wellbore Date sync NPD
0         15/3-7                       1                4073.8                   4610.1        18900            NaN        MDT             4055    09.02.2020
1         17/3-1                       1                2406.1                   2406.1         3020            NaN        MDT             2576    09.02.2020
2         2/7-22                       1                4489.0                   4496.0         4500            NaN        DST             1495    09.02.2020
3          3/7-4                       1                3440.0                   3537.0         4620            NaN        DST             1467    09.02.2020
4         30/3-4                       1                3079.0                   3096.0         5300            NaN        DST              460    09.02.2020
5       30/3-7 B                       1                5903.0                   5903.0         4900            NaN        MDT             3229    09.02.2020
6        34/11-4                       1                4151.0                   4151.0         4300            NaN        MDT             3314    09.02.2020
7        34/11-4                       1                4194.8                   4194.8         4400            NaN        MDT             3314    09.02.2020
8        34/7-12                       1                2276.2                   2282.5         3600            NaN        DST             1187    09.02.2020
9      34/7-16 R                       1                2821.0                   2837.0         3900            NaN        DST             1677    09.02.2020
10      34/8-7 R                       1                4617.7                   4731.0         6900            NaN        DST             2057    09.02.2020
11       35/10-2                       1                4217.9                   4217.9         3700            NaN        FMT             2783    09.02.2020
12      6406/1-1                       1                4680.0                   4680.0         4200            NaN        MDT             4262    09.02.2020
13      6406/2-2                       1                4654.3                   4654.3         9300            NaN        FMT             2644    09.02.2020
14      6406/2-2                       1                4714.5                   4745.6         6000            NaN        DST             2644    09.02.2020
15      6406/2-2                       2                4714.5                   4745.6         6000            NaN        DST             2644    09.02.2020
16      6406/2-2                       1                4868.0                   4927.0         6500            NaN        DST             2644    09.02.2020
17      6406/2-2                       2                4868.0                   4927.0         6100            NaN        DST             2644    09.02.2020
18      6406/2-3                       1                4629.0                   4654.4         5100            NaN        DST             2849    09.02.2020
19      6406/2-3                       1                4806.6                   4832.0         3800            NaN        DST             2849    09.02.2020
20      6406/2-3                       1                4811.5                   4811.5         3600            NaN        FMT             2849    09.02.2020
21   6406/2-4 SR                       1                4684.0                   4704.0         5800            NaN        DST             3627    09.02.2020
22   6406/2-4 SR                       2                4684.0                   4704.0         6200            NaN        DST             3627    09.02.2020
23   6406/2-4 SR                       1                4874.0                   4904.0         7900            NaN        DST             3627    09.02.2020
24      6406/3-1                       1                3782.5                   3787.5        10000            NaN        DST              108    09.02.2020
25      6406/3-1                       2                3782.5                   3787.5        13000            NaN        DST              108    09.02.2020
26      6406/3-2                       1                3937.0                   3995.0         5500            NaN        DST              863    09.02.2020
27      6406/8-1                       1                4413.5                   4453.5        18630            NaN        DST             1136    09.02.2020
28      6406/8-1                       2                4413.5                   4453.5        19070            NaN        DST             1136    09.02.2020
29      6407/1-3                       1                3676.0                   3676.0         3100            NaN        RFT               29    09.02.2020
30      6407/4-1                       1                3889.0                   3919.0         4500            NaN        DST              490    09.02.2020
31      6407/7-4                       1                3126.0                   3138.5        14600            NaN        DST             1360    09.02.2020
32     6506/11-2                       1                4005.0                   4048.0         5000            NaN        DST             1754    09.02.2020
33     6506/11-2                       1                4371.0                   4420.0         5700            NaN        DST             1754    09.02.2020
34     6506/11-2                       1                4553.2                   4597.2         7300            NaN        DST             1754    09.02.2020
35     6506/11-2                       1                4668.0                   4707.0         6300            NaN        DST             1754    09.02.2020
36   6506/11-4 S                       1                4116.5                   4137.0         7800            NaN        DST             2736    09.02.2020
37   6506/11-5 S                       1                4674.0                   4674.0         5600            NaN        MDT             2794    09.02.2020
38     6506/11-6                       1                4651.0                   4669.0         4200            NaN        DST             3306    09.02.2020
39     6506/11-6                       1                4695.0                   4737.0         3900            NaN        DST             3306    09.02.2020
40     6506/11-6                       1                4839.0                   4849.0         3100            NaN        DST             3306    09.02.2020
41     6506/11-7                       1                4590.0                   4631.0         3000            NaN        DST             3322    09.02.2020
42     6506/11-7                       1                4668.0                   4700.0         3600            NaN        DST             3322    09.02.2020
43     6506/12-1                       1                3993.0                   4011.0         5600            NaN        DST             1004    09.02.2020
44     6506/12-1                       1                4203.0                   4218.0         4900            NaN        DST             1004    09.02.2020
45     6506/12-1                       1                4251.0                   4261.0         6900            NaN        DST             1004    09.02.2020
46     6506/12-1                       1                4351.0                   4373.0         5000            NaN        DST             1004    09.02.2020
47  6506/12-10 A                       1                5279.4                   5279.4         7900            NaN        FMT             2610    09.02.2020
48  6506/12-10 A                       1                5699.4                   5699.4         6900            NaN        FMT             2610    09.02.2020
49  6506/12-11 S                       1                5197.5                   5206.5         8000            NaN        DST             2795    09.02.2020
50  6506/12-11 S                       1                5226.0                   5235.5         6000            NaN        DST             2795    09.02.2020
51     6506/12-6                       1                4312.0                   4352.0         3600            NaN        DST             1342    09.02.2020
52     6506/12-6                       1                4514.0                   4525.0         5800            NaN        DST             1342    09.02.2020
53     6506/12-7                       1                4474.0                   4514.0         4300            NaN        DST              300    09.02.2020
54     6506/12-7                       1                4702.0                   4707.0         6900            NaN        DST              300    09.02.2020
55     6506/12-7                       1                4741.0                   4748.0         5100            NaN        DST              300    09.02.2020
56   6506/12-9 S                       1                4477.0                   4510.0         5000            NaN        DST             2128    09.02.2020
57   6506/12-9 S                       1                4742.0                   4751.0         8600            NaN        DST             2128    09.02.2020
58   6506/12-9 S                       1                4805.0                   4834.0         8500            NaN        DST             2128    09.02.2020
59   6506/12-9 S                       1                4846.0                   4876.0         7700            NaN        DST             2128    09.02.2020
60      6506/6-1                       1                5033.5                   5033.5         8070            NaN        FMT             4122    09.02.2020
61      6506/6-1                       1                5035.3                   5035.3         7290            NaN        FMT             4122    09.02.2020
62      6506/6-1                       2                5035.3                   5035.3         7240            NaN        FMT             4122    09.02.2020
63      6506/6-1                       1                5169.0                   5169.0         9380            NaN        FMT             4122    09.02.2020
64      6506/6-1                       1                5267.5                   5267.5         9410            NaN        FMT             4122    09.02.2020
65      6506/6-1                       2                5267.5                   5267.5        10350            NaN        FMT             4122    09.02.2020
66      6507/2-3                       1                2852.6                   2852.6        14500            NaN        RFT             2299    09.02.2020
67      6507/3-3                       1                3543.8                   3543.8         3100            NaN        MDT             3668    09.02.2020
68      6507/3-3                       1                3700.5                   3700.5         3600            NaN        MDT             3668    09.02.2020
69    6507/3-3 B                       1                4075.6                   4075.6         3700            NaN        MDT             3773    09.02.2020
70      6507/5-1                       1                3607.0                   3653.0         4500            NaN        DST             3683    09.02.2020
71    6507/5-4 A                       1                3733.6                   3733.6         3400            NaN        MDT             4306    09.02.2020
72    6507/5-4 A                       1                3748.7                   3748.7         3300            NaN        MDT             4306    09.02.2020
73      6507/5-5                       1                3653.4                   3653.4         3300            NaN        MDT             4428    09.02.2020
74      6507/5-5                       1                3668.0                   3668.0         3200            NaN        MDT             4428    09.02.2020
75      6507/8-1                       1                2387.0                   2406.0         4000            NaN        DST              933    09.02.2020
76     6608/11-4                       1                1657.6                   1657.6         4100            NaN        MDT             4939    09.02.2020
77     6608/11-4                       1                1663.0                   1663.0         4600            NaN        MDT             4939    09.02.2020
78     6704/12-1                       1                3842.6                   3842.6         6500            NaN        MDT             3759    09.02.2020
79     6704/12-1                       2                3842.6                   3842.6         4600            NaN        MDT             3759    09.02.2020
80      7019/1-1                       1                2246.0                   2246.0        43560            NaN        MDT             4145    09.02.2020
81      7019/1-1                       1                2526.0                   2563.0        44100            NaN        DST             4145    09.02.2020
82      7019/1-1                       2                2526.0                   2563.0        14320            NaN        DST             4145    09.02.2020
83      7019/1-1                       3                2526.0                   2563.0        14940            NaN        DST             4145    09.02.2020
84   7120/1-1 R2                       1                2607.0                   2665.0        60930            NaN        DST              897    09.02.2020
85   7120/1-1 R2                       2                2607.0                   2665.0        47810            NaN        DST              897    09.02.2020
86      7120/5-1                       1                2346.0                   2346.0         5310            NaN        RFT              471    09.02.2020
87      7120/6-1                       1                2386.4                   2401.4        10200            NaN        DST              456    09.02.2020
88      7120/7-2                       1                2115.0                   2115.0         5700            NaN        RFT               18    09.02.2020
89      7120/8-1                       1                2093.0                   2110.0         6100            NaN        DST              120    09.02.2020
90      7121/4-1                       1                2465.9                   2471.9        10200            NaN        DST              135    09.02.2020
91      7121/7-1                       1                1867.0                   1872.0         6100            NaN        DST              130    09.02.2020
92      7121/7-2                       1                1881.8                   1889.8         8600            NaN        DST              881    09.02.2020
93         9/2-1                       1                3177.0                   3210.0         3100            NaN        DST             1038    09.02.2020

In [87]:
df_co2.isna().sum()

Wellbore name               0
Sample sequence number      0
Sample top depth [m]        0
Sample bottom depth [m]     0
CO2 [vol %]                 0
Sample method              94
Sample type                 0
NPDID wellbore              0
Date sync NPD               0
dtype: int64

In [88]:
df_co2.drop(labels=['Sample method', 'Date sync NPD'], axis=1, inplace=True)

In [89]:
df_co2.columns

Index(['Wellbore name', 'Sample sequence number', 'Sample top depth [m]',
       'Sample bottom depth [m]', 'CO2 [vol %]', 'Sample type',
       'NPDID wellbore'],
      dtype='object')

In [90]:
# Rename columns
rename_cols = {'Wellbore name' : 'Well',
               'Sample top depth [m]' : 'Top depth',
               'Sample bottom depth [m]' : 'Base depth'
               }
    
# Apply renaming
df_co2.rename(columns=rename_cols, inplace=True)
df_co2

            Well  Sample sequence number  Top depth  Base depth  CO2 [vol %] Sample type  NPDID wellbore
0         15/3-7                       1     4073.8      4610.1        18900        MDT             4055
1         17/3-1                       1     2406.1      2406.1         3020        MDT             2576
2         2/7-22                       1     4489.0      4496.0         4500        DST             1495
3          3/7-4                       1     3440.0      3537.0         4620        DST             1467
4         30/3-4                       1     3079.0      3096.0         5300        DST              460
5       30/3-7 B                       1     5903.0      5903.0         4900        MDT             3229
6        34/11-4                       1     4151.0      4151.0         4300        MDT             3314
7        34/11-4                       1     4194.8      4194.8         4400        MDT             3314
8        34/7-12                       1     2276.2      2282.5         3600        DST             1187
9      34/7-16 R                       1     2821.0      2837.0         3900        DST             1677
10      34/8-7 R                       1     4617.7      4731.0         6900        DST             2057
11       35/10-2                       1     4217.9      4217.9         3700        FMT             2783
12      6406/1-1                       1     4680.0      4680.0         4200        MDT             4262
13      6406/2-2                       1     4654.3      4654.3         9300        FMT             2644
14      6406/2-2                       1     4714.5      4745.6         6000        DST             2644
15      6406/2-2                       2     4714.5      4745.6         6000        DST             2644
16      6406/2-2                       1     4868.0      4927.0         6500        DST             2644
17      6406/2-2                       2     4868.0      4927.0         6100        DST             2644
18      6406/2-3                       1     4629.0      4654.4         5100        DST             2849
19      6406/2-3                       1     4806.6      4832.0         3800        DST             2849
20      6406/2-3                       1     4811.5      4811.5         3600        FMT             2849
21   6406/2-4 SR                       1     4684.0      4704.0         5800        DST             3627
22   6406/2-4 SR                       2     4684.0      4704.0         6200        DST             3627
23   6406/2-4 SR                       1     4874.0      4904.0         7900        DST             3627
24      6406/3-1                       1     3782.5      3787.5        10000        DST              108
25      6406/3-1                       2     3782.5      3787.5        13000        DST              108
26      6406/3-2                       1     3937.0      3995.0         5500        DST              863
27      6406/8-1                       1     4413.5      4453.5        18630        DST             1136
28      6406/8-1                       2     4413.5      4453.5        19070        DST             1136
29      6407/1-3                       1     3676.0      3676.0         3100        RFT               29
30      6407/4-1                       1     3889.0      3919.0         4500        DST              490
31      6407/7-4                       1     3126.0      3138.5        14600        DST             1360
32     6506/11-2                       1     4005.0      4048.0         5000        DST             1754
33     6506/11-2                       1     4371.0      4420.0         5700        DST             1754
34     6506/11-2                       1     4553.2      4597.2         7300        DST             1754
35     6506/11-2                       1     4668.0      4707.0         6300        DST             1754
36   6506/11-4 S                       1     4116.5      4137.0         7800        DST             2736
37   6506/11-5 S                       1     4674.0      4674.0         5600        MDT             2794
38     6506/11-6                       1     4651.0      4669.0         4200        DST             3306
39     6506/11-6                       1     4695.0      4737.0         3900        DST             3306
40     6506/11-6                       1     4839.0      4849.0         3100        DST             3306
41     6506/11-7                       1     4590.0      4631.0         3000        DST             3322
42     6506/11-7                       1     4668.0      4700.0         3600        DST             3322
43     6506/12-1                       1     3993.0      4011.0         5600        DST             1004
44     6506/12-1                       1     4203.0      4218.0         4900        DST             1004
45     6506/12-1                       1     4251.0      4261.0         6900        DST             1004
46     6506/12-1                       1     4351.0      4373.0         5000        DST             1004
47  6506/12-10 A                       1     5279.4      5279.4         7900        FMT             2610
48  6506/12-10 A                       1     5699.4      5699.4         6900        FMT             2610
49  6506/12-11 S                       1     5197.5      5206.5         8000        DST             2795
50  6506/12-11 S                       1     5226.0      5235.5         6000        DST             2795
51     6506/12-6                       1     4312.0      4352.0         3600        DST             1342
52     6506/12-6                       1     4514.0      4525.0         5800        DST             1342
53     6506/12-7                       1     4474.0      4514.0         4300        DST              300
54     6506/12-7                       1     4702.0      4707.0         6900        DST              300
55     6506/12-7                       1     4741.0      4748.0         5100        DST              300
56   6506/12-9 S                       1     4477.0      4510.0         5000        DST             2128
57   6506/12-9 S                       1     4742.0      4751.0         8600        DST             2128
58   6506/12-9 S                       1     4805.0      4834.0         8500        DST             2128
59   6506/12-9 S                       1     4846.0      4876.0         7700        DST             2128
60      6506/6-1                       1     5033.5      5033.5         8070        FMT             4122
61      6506/6-1                       1     5035.3      5035.3         7290        FMT             4122
62      6506/6-1                       2     5035.3      5035.3         7240        FMT             4122
63      6506/6-1                       1     5169.0      5169.0         9380        FMT             4122
64      6506/6-1                       1     5267.5      5267.5         9410        FMT             4122
65      6506/6-1                       2     5267.5      5267.5        10350        FMT             4122
66      6507/2-3                       1     2852.6      2852.6        14500        RFT             2299
67      6507/3-3                       1     3543.8      3543.8         3100        MDT             3668
68      6507/3-3                       1     3700.5      3700.5         3600        MDT             3668
69    6507/3-3 B                       1     4075.6      4075.6         3700        MDT             3773
70      6507/5-1                       1     3607.0      3653.0         4500        DST             3683
71    6507/5-4 A                       1     3733.6      3733.6         3400        MDT             4306
72    6507/5-4 A                       1     3748.7      3748.7         3300        MDT             4306
73      6507/5-5                       1     3653.4      3653.4         3300        MDT             4428
74      6507/5-5                       1     3668.0      3668.0         3200        MDT             4428
75      6507/8-1                       1     2387.0      2406.0         4000        DST              933
76     6608/11-4                       1     1657.6      1657.6         4100        MDT             4939
77     6608/11-4                       1     1663.0      1663.0         4600        MDT             4939
78     6704/12-1                       1     3842.6      3842.6         6500        MDT             3759
79     6704/12-1                       2     3842.6      3842.6         4600        MDT             3759
80      7019/1-1                       1     2246.0      2246.0        43560        MDT             4145
81      7019/1-1                       1     2526.0      2563.0        44100        DST             4145
82      7019/1-1                       2     2526.0      2563.0        14320        DST             4145
83      7019/1-1                       3     2526.0      2563.0        14940        DST             4145
84   7120/1-1 R2                       1     2607.0      2665.0        60930        DST              897
85   7120/1-1 R2                       2     2607.0      2665.0        47810        DST              897
86      7120/5-1                       1     2346.0      2346.0         5310        RFT              471
87      7120/6-1                       1     2386.4      2401.4        10200        DST              456
88      7120/7-2                       1     2115.0      2115.0         5700        RFT               18
89      7120/8-1                       1     2093.0      2110.0         6100        DST              120
90      7121/4-1                       1     2465.9      2471.9        10200        DST              135
91      7121/7-1                       1     1867.0      1872.0         6100        DST              130
92      7121/7-2                       1     1881.8      1889.8         8600        DST              881
93         9/2-1                       1     3177.0      3210.0         3100        DST             1038

In [91]:
# Output file
output_to_csv(outname='wellbore_co2', df=df_co2)

Saved to: C:\ICData\Test3\output_data\wellbore_co2.csv

     Well  Sample sequence number  Top depth  Base depth  CO2 [vol %] Sample type  NPDID wellbore
0  15/3-7                       1     4073.8      4610.1        18900        MDT             4055
1  17/3-1                       1     2406.1      2406.1         3020        MDT             2576
2  2/7-22                       1     4489.0      4496.0         4500        DST             1495

<h3>Oil Samples</h3>

In [92]:
if data_source == 'web':
    df_oil_sample = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_oil_sample&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')

if data_source == 'file':
    df_oil_sample = pd.read_excel('input data/wellbore_oil_sample.xlsx')

In [93]:
print(df_oil_sample.shape)
df_oil_sample.head(3)

(1005, 11)

  Wellbore Test type Bottle number  Top depth MD [m]  Bottom depth MD [m] Fluid type          Test time  Received date  NPDID wellbore Date updated Date sync NPD
0    1/2-1      DST     DST1                  3122.3               3137.0            1989-05-27 06:00:00    1991-09-09            1382   2016-05-19    09.02.2020
1   1/3-10      DST                              0.0                  0.0                            NaT    2011-08-06            5614   2016-05-19    09.02.2020
2   1/3-11      DST                              0.0                  0.0                            NaT           NaT            5806   2016-05-19    09.02.2020

In [94]:
df_oil_sample.isna().sum()

Wellbore                 0
Test type                0
Bottle number            0
Top depth MD [m]         0
Bottom depth MD [m]      0
Fluid type               0
Test time              196
Received date           62
NPDID wellbore           0
Date updated             0
Date sync NPD            0
dtype: int64

In [95]:
df_oil_sample.drop(labels=['Date updated', 'Date sync NPD'], axis=1, inplace=True)

In [96]:
df_oil_sample.columns

Index(['Wellbore', 'Test type', 'Bottle number', 'Top depth MD [m]',
       'Bottom depth MD [m]', 'Fluid type', 'Test time ', 'Received date',
       'NPDID wellbore'],
      dtype='object')

In [97]:
# Rename columns
rename_cols = {'Wellbore' : 'Well',
               'Top depth MD [m]' : 'Top depth',
               'Bottom depth MD [m]' : 'Base depth'
               }
    
# Apply renaming
df_oil_sample.rename(columns=rename_cols, inplace=True)
df_oil_sample

            Well Test type Bottle number  Top depth  Base depth Fluid type          Test time  Received date  NPDID wellbore
0          1/2-1      DST     DST1          3122.30     3137.00            1989-05-27 06:00:00    1991-09-09            1382
1         1/3-10      DST                      0.00        0.00                            NaT    2011-08-06            5614
2         1/3-11      DST                      0.00        0.00                            NaT           NaT            5806
3         1/3-11      MDT                   3294.50        0.00        OIL                 NaT    2014-04-03            5806
4          1/3-3      DST     DST3A         4202.00     4208.00      WATER 1983-03-06 00:00:00    1991-10-28              87
...          ...       ...           ...        ...         ...        ...                 ...           ...             ...
1000  7324/7-3 S      DST                   2232.49     1771.03        OIL                 NaT    2016-08-11            7875
1001    7324/8-1      MDT                    664.00        0.00        OIL                 NaT    2015-07-20            7221
1002    7324/8-1      MDT                    678.00        0.00        OIL                 NaT    2015-07-20            7221
1003       9/2-1      DST     TEST3         3177.00     3210.00            1987-04-20 00:00:00    1991-10-01            1038
1004       9/2-3      DST     TEST1         3258.00     3268.00            1990-01-29 05:55:00    1991-10-01            1294

[1005 rows x 9 columns]

In [98]:
df_oil_sample

            Well Test type Bottle number  Top depth  Base depth Fluid type          Test time  Received date  NPDID wellbore
0          1/2-1      DST     DST1          3122.30     3137.00            1989-05-27 06:00:00    1991-09-09            1382
1         1/3-10      DST                      0.00        0.00                            NaT    2011-08-06            5614
2         1/3-11      DST                      0.00        0.00                            NaT           NaT            5806
3         1/3-11      MDT                   3294.50        0.00        OIL                 NaT    2014-04-03            5806
4          1/3-3      DST     DST3A         4202.00     4208.00      WATER 1983-03-06 00:00:00    1991-10-28              87
...          ...       ...           ...        ...         ...        ...                 ...           ...             ...
1000  7324/7-3 S      DST                   2232.49     1771.03        OIL                 NaT    2016-08-11            7875
1001    7324/8-1      MDT                    664.00        0.00        OIL                 NaT    2015-07-20            7221
1002    7324/8-1      MDT                    678.00        0.00        OIL                 NaT    2015-07-20            7221
1003       9/2-1      DST     TEST3         3177.00     3210.00            1987-04-20 00:00:00    1991-10-01            1038
1004       9/2-3      DST     TEST1         3258.00     3268.00            1990-01-29 05:55:00    1991-10-01            1294

[1005 rows x 9 columns]

In [99]:
# Output file
output_to_csv(outname='wellbore_oil_sample', df=df_oil_sample)

Saved to: C:\ICData\Test3\output_data\wellbore_oil_sample.csv

     Well Test type Bottle number  Top depth  Base depth Fluid type           Test time         Received date  NPDID wellbore
0   1/2-1      DST     DST1           3122.3      3137.0             1989-05-27 06:00:00  1991-09-09 00:00:00            1382
1  1/3-10      DST                       0.0         0.0                             NaN  2011-08-06 00:00:00            5614
2  1/3-11      DST                       0.0         0.0                             NaN                  NaN            5806

In [100]:
df_oil_sample.columns

# What to do about rows with only with 0/Nan values?

Index(['Well', 'Test type', 'Bottle number', 'Top depth', 'Base depth',
       'Fluid type', 'Test time ', 'Received date', 'NPDID wellbore'],
      dtype='object')

<h3>Lithostratigraphy</h3>

In [101]:
# Lithostrat available in two places. 
# Compare the length, and number of unique wells in both sources.

# (A) NPD FactPages > Wellbore > Table View > With > Lithostratigraphy
    # File: wellbore_formation_top.xlsx
    # Sheet: wellbore_formation_top
    # Link: https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_formation_top&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en

df_a = pd.read_excel('input data/wellbore_formation_top.xlsx', sheet_name='wellbore_formation_top')
print('Source A:', df_a.shape)
print(df_a['Wellbore name'].nunique())

# (B) NPD FactPages > Stratigraphy > Table View > Wellbores
    # File: strat_litho_wellbore.xlsx
    # Sheet: strat_litho_wellbore
    # Link: https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/strat_litho_wellbore&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en

df_b = pd.read_excel('input data/strat_litho_wellbore.xlsx', sheet_name='strat_litho_wellbore')
print('Source B:', df_b.shape)
print(df_b['Wellbore name'].nunique())

# Both contain the same number of rows.
# Source A is preferrable as it has an exra column, 'Lithostrat. unit, parent'
# which will come in handy assigning parents to each text dictionary entry.

Source A: (36035, 11)
1777
Source B: (36037, 10)
1778

In [102]:
# Use Source A

if data_source == 'web':
    df_lithostrat = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_formation_top&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')
    
if data_source == 'file':
    df_lithostrat = pd.read_excel('input data/wellbore_formation_top.xlsx')

# Print column titles
print("Lithostratigraphy wellbore well header column titles:")
print(list(df_lithostrat.columns))

Lithostratigraphy wellbore well header column titles:
['Wellbore name', 'Top depth [m]', 'Bottom depth [m]', 'Lithostrat. unit', 'Level', 'Lithostrat. unit, parent', 'NPDID wellbore', 'NPDID lithostrat. unit', 'NPDID parent lithostrat. unit', 'Date updated', 'Date sync NPD']

In [103]:
(num_lithostrat_rows, num_lithostrat_cols) = df_lithostrat.shape
print('{} rows and {} columns in Exploration wells.'.format(num_lithostrat_rows, num_lithostrat_cols))

36035 rows and 11 columns in Exploration wells.

In [104]:
df_lithostrat.head(3)

  Wellbore name  Top depth [m]  Bottom depth [m] Lithostrat. unit      Level Lithostrat. unit, parent  NPDID wellbore  NPDID lithostrat. unit  NPDID parent lithostrat. unit Date updated Date sync NPD
0         9/8-1         1597.0            1625.0       BLODØKS FM  FORMATION              SHETLAND GP             145                      13                          143.0   2019-10-03    09.02.2020
1         9/8-1         1922.0            2109.0       SANDNES FM  FORMATION              VESTLAND GP             145                     139                          186.0   2019-10-03    09.02.2020
2         9/8-1         1275.0            1625.0      SHETLAND GP      GROUP                     None             145                     143                            NaN   2019-10-03    09.02.2020

In [105]:
df_lithostrat.tail()

      Wellbore name  Top depth [m]  Bottom depth [m] Lithostrat. unit      Level Lithostrat. unit, parent  NPDID wellbore  NPDID lithostrat. unit  NPDID parent lithostrat. unit Date updated Date sync NPD
36030         1/2-1         3335.0            3407.0       MAUREEN FM  FORMATION              ROGALAND GP            1382                     102                          131.0   2019-10-03    09.02.2020
36031         1/2-1           94.0            1777.0      NORDLAND GP      GROUP                     None            1382                     113                            NaN   2019-10-03    09.02.2020
36032         1/2-1         3059.0            3407.0      ROGALAND GP      GROUP                     None            1382                     131                            NaN   2019-10-03    09.02.2020
36033         1/2-1         3407.0            3574.0      SHETLAND GP      GROUP                     None            1382                     143                            NaN   2019-10-03    09.02.2020
36034         1/2-1         3514.0            3574.0           TOR FM  FORMATION              SHETLAND GP            1382                     171                          143.0   2019-10-03    09.02.2020

In [106]:
#Rename columns for csv
rename_stratcols = {'Wellbore name' : 'Well',
                    'Top depth [m]' : 'Top depth',
                    'Bottom depth [m]' : 'Base depth',
                    'Lithostrat. unit' : 'Legend'
                    }

#Apply renaming to dataframe
df_lithostrat.rename(columns=rename_stratcols, inplace=True)

# Create new dataframe called "df_formation_top"
# Need to keep other columns df_lithostrat for later when writing to database

df_formation_top = df_lithostrat[['Well', 'NPDID wellbore', 'Top depth', 'Base depth', 'Legend', 'Level']]
df_formation_top.head(3)

    Well  NPDID wellbore  Top depth  Base depth       Legend      Level
0  9/8-1             145     1597.0      1625.0   BLODØKS FM  FORMATION
1  9/8-1             145     1922.0      2109.0   SANDNES FM  FORMATION
2  9/8-1             145     1275.0      1625.0  SHETLAND GP      GROUP

In [107]:
# Output file
output_to_csv(outname='wellbore_formation_top', df=df_formation_top)

Saved to: C:\ICData\Test3\output_data\wellbore_formation_top.csv

    Well  NPDID wellbore  Top depth  Base depth       Legend      Level
0  9/8-1             145     1597.0      1625.0   BLODØKS FM  FORMATION
1  9/8-1             145     1922.0      2109.0   SANDNES FM  FORMATION
2  9/8-1             145     1275.0      1625.0  SHETLAND GP      GROUP

<h3>Drill stem tests</h3>

In [108]:
if data_source == 'web':
    df_dst = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_dst&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')

if data_source == 'file':
    df_dst = pd.read_excel('input data/wellbore_dst.xlsx')

In [109]:
print(df_dst.shape)
df_dst.head(20)

(1167, 17)

   Wellbore  Test number  From depth MD [m]  To depth MD [m]  Choke size [mm]  Final shut-in pressure [MPa]  Final flow pressure [MPa]  Bottom hole pressure [MPa]  Oil [Sm3/day]  Gas [Sm3/day]  Oil density [g/cm3]  Gas grav. rel.air  GOR [m3/m3]  Downhole temperature [°C]  NPDID wellbore Date updated Date sync NPD
0     1/2-1          1.0             3122.3           3137.0             25.4                           0.0                        0.0                         0.0            859          57000                0.810              0.000           66                          0            1382   2016-05-19    09.02.2020
1     1/3-1          1.0             4585.0           4602.0             12.5                          80.0                       61.0                         0.0              0           1132                0.000              0.000            0                          0             154   2016-05-19    09.02.2020
2     1/3-1          2.0             4565.0           4602.0             12.5                          52.0                       40.0                         0.0              0           6626                0.000              0.000            0                          0             154   2016-05-19    09.02.2020
3     1/3-1          3.0             3356.0           3361.0             12.5                          70.0                       50.0                         0.0              0          28317                0.000              0.000            0                          0             154   2016-05-19    09.02.2020
4    1/3-10          1.0             3158.0           3288.0             19.0                           9.0                        0.0                        38.0            457         212453                0.791              0.855          465                          0            5614   2016-05-19    09.02.2020
5     1/3-3          1.0             4529.0           4552.0             25.4                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0              87   2016-05-19    09.02.2020
6     1/3-3          2.0             4233.0           4240.0              9.5                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0              87   2016-05-19    09.02.2020
7     1/3-3          3.1             4202.0           4208.0             50.8                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0              87   2016-05-19    09.02.2020
8     1/3-3          3.3             4211.0           4214.0              6.4                           0.0                        0.0                         0.0            143          28000                0.829              0.820          196                        165              87   2016-05-19    09.02.2020
9     1/3-6          1.0             2960.5           2977.0             17.5                           0.0                        3.0                         0.0             78          93300                0.780              0.780         1196                        107            1521   2016-05-19    09.02.2020
10    1/3-6          2.0             2913.0           2953.0             15.8                           0.0                        6.8                         0.0            153         172500                0.771              0.735         1131                        112            1521   2016-05-19    09.02.2020
11    1/3-7          1.1             3183.5           3215.5             12.5                           0.0                       30.0                         0.0             49          16783                0.806              0.000          364                        119            2505   2016-05-19    09.02.2020
12    1/3-7          2.0             3183.5           3220.0             12.5                           0.0                       40.0                        41.0            137          37762                0.790              0.000          281                        126            2505   2016-05-19    09.02.2020
13    1/5-2          1.0             3338.0           3363.0              0.0                           0.0                        0.0                         0.0              5              0                0.870              0.000            0                          0             238   2016-05-19    09.02.2020
14    1/5-2          2.0             3152.0           3174.0             21.4                           0.0                        0.0                         0.0            500         180662                0.810              0.000          361                          0             238   2016-05-19    09.02.2020
15    1/5-2          3.0             3076.0           3103.0              0.0                           0.0                        0.0                         0.0             15              0                0.000              0.000            0                          0             238   2016-05-19    09.02.2020
16    1/5-2          4.0             2832.0           2841.0              0.0                           0.0                        0.0                         0.0             37          16707                0.820              0.000          456                          0             238   2016-05-19    09.02.2020
17    1/6-1          1.0             3820.0           3833.0              0.0                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0             239   2016-05-19    09.02.2020
18    1/6-1          2.0             3621.0           3633.0             12.0                           0.0                        0.0                         0.0             32          16980                0.832              0.000            0                          0             239   2016-05-19    09.02.2020
19    1/6-1          3.0             3271.0           3280.0             25.4                           0.0                        0.0                         0.0            352         466893                0.794              0.690            0                          0             239   2016-05-19    09.02.2020

In [110]:
df_dst.isna().sum()

Wellbore                        0
Test number                     0
From depth MD [m]               0
To depth MD [m]                 0
Choke size [mm]                 0
Final shut-in pressure [MPa]    0
Final flow pressure [MPa]       0
Bottom hole pressure [MPa]      0
Oil [Sm3/day]                   0
Gas [Sm3/day]                   0
Oil density [g/cm3]             0
Gas grav. rel.air               0
GOR [m3/m3]                     0
Downhole temperature [°C]       0
NPDID wellbore                  0
Date updated                    0
Date sync NPD                   0
dtype: int64

In [111]:
df_dst.drop(labels=['Date updated', 'Date sync NPD'], axis=1, inplace=True)

In [112]:
df_dst.columns

Index(['Wellbore', 'Test number', 'From depth MD [m]', 'To depth MD [m]',
       'Choke size [mm]', 'Final shut-in pressure [MPa]',
       'Final flow pressure [MPa]', 'Bottom hole pressure [MPa]',
       'Oil [Sm3/day]', 'Gas [Sm3/day]', 'Oil density [g/cm3]',
       'Gas grav. rel.air', 'GOR [m3/m3]', 'Downhole temperature [°C]',
       'NPDID wellbore'],
      dtype='object')

In [113]:
#Rename well header columns to match dbo.WELLS (does capitalisation matter?)
rename_cols = {'Wellbore' : 'Well',
               'From depth MD [m]' : 'Top depth',
               'To depth MD [m]' : 'Base depth'
               }
    
#Apply renaming
df_dst.rename(columns=rename_cols, inplace=True)
df_dst.head(20)

      Well  Test number  Top depth  Base depth  Choke size [mm]  Final shut-in pressure [MPa]  Final flow pressure [MPa]  Bottom hole pressure [MPa]  Oil [Sm3/day]  Gas [Sm3/day]  Oil density [g/cm3]  Gas grav. rel.air  GOR [m3/m3]  Downhole temperature [°C]  NPDID wellbore
0    1/2-1          1.0     3122.3      3137.0             25.4                           0.0                        0.0                         0.0            859          57000                0.810              0.000           66                          0            1382
1    1/3-1          1.0     4585.0      4602.0             12.5                          80.0                       61.0                         0.0              0           1132                0.000              0.000            0                          0             154
2    1/3-1          2.0     4565.0      4602.0             12.5                          52.0                       40.0                         0.0              0           6626                0.000              0.000            0                          0             154
3    1/3-1          3.0     3356.0      3361.0             12.5                          70.0                       50.0                         0.0              0          28317                0.000              0.000            0                          0             154
4   1/3-10          1.0     3158.0      3288.0             19.0                           9.0                        0.0                        38.0            457         212453                0.791              0.855          465                          0            5614
5    1/3-3          1.0     4529.0      4552.0             25.4                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0              87
6    1/3-3          2.0     4233.0      4240.0              9.5                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0              87
7    1/3-3          3.1     4202.0      4208.0             50.8                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0              87
8    1/3-3          3.3     4211.0      4214.0              6.4                           0.0                        0.0                         0.0            143          28000                0.829              0.820          196                        165              87
9    1/3-6          1.0     2960.5      2977.0             17.5                           0.0                        3.0                         0.0             78          93300                0.780              0.780         1196                        107            1521
10   1/3-6          2.0     2913.0      2953.0             15.8                           0.0                        6.8                         0.0            153         172500                0.771              0.735         1131                        112            1521
11   1/3-7          1.1     3183.5      3215.5             12.5                           0.0                       30.0                         0.0             49          16783                0.806              0.000          364                        119            2505
12   1/3-7          2.0     3183.5      3220.0             12.5                           0.0                       40.0                        41.0            137          37762                0.790              0.000          281                        126            2505
13   1/5-2          1.0     3338.0      3363.0              0.0                           0.0                        0.0                         0.0              5              0                0.870              0.000            0                          0             238
14   1/5-2          2.0     3152.0      3174.0             21.4                           0.0                        0.0                         0.0            500         180662                0.810              0.000          361                          0             238
15   1/5-2          3.0     3076.0      3103.0              0.0                           0.0                        0.0                         0.0             15              0                0.000              0.000            0                          0             238
16   1/5-2          4.0     2832.0      2841.0              0.0                           0.0                        0.0                         0.0             37          16707                0.820              0.000          456                          0             238
17   1/6-1          1.0     3820.0      3833.0              0.0                           0.0                        0.0                         0.0              0              0                0.000              0.000            0                          0             239
18   1/6-1          2.0     3621.0      3633.0             12.0                           0.0                        0.0                         0.0             32          16980                0.832              0.000            0                          0             239
19   1/6-1          3.0     3271.0      3280.0             25.4                           0.0                        0.0                         0.0            352         466893                0.794              0.690            0                          0             239

In [114]:
# Output file
output_to_csv(outname='wellbore_dst', df=df_dst)

Saved to: C:\ICData\Test3\output_data\wellbore_dst.csv

    Well  Test number  Top depth  Base depth  Choke size [mm]  Final shut-in pressure [MPa]  Final flow pressure [MPa]  Bottom hole pressure [MPa]  Oil [Sm3/day]  Gas [Sm3/day]  Oil density [g/cm3]  Gas grav. rel.air  GOR [m3/m3]  Downhole temperature [°C]  NPDID wellbore
0  1/2-1          1.0     3122.3      3137.0             25.4                           0.0                        0.0                         0.0            859          57000                 0.81                0.0           66                          0            1382
1  1/3-1          1.0     4585.0      4602.0             12.5                          80.0                       61.0                         0.0              0           1132                 0.00                0.0            0                          0             154
2  1/3-1          2.0     4565.0      4602.0             12.5                          52.0                       40.0                         0.0              0           6626                 0.00                0.0            0                          0             154

<h3>Casing and leak-off tests</h3>

In [115]:
if data_source == 'web':
    df_casinglot = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_casing_and_lot&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')

if data_source == 'file':
    df_casinglot = pd.read_excel('input data/wellbore_casing_and_lot.xlsx')

In [116]:
print(df_casinglot.shape)
df_casinglot.head(3)

(7561, 11)

     Wellbore Casing type Casing diam. [inch]  Casing depth [m] Hole diam. [inch]  Hole depth[m]  LOT mud eqv. [g/cm3] Formation test type  NPDID wellbore Date updated Date sync NPD
0  6507/6-4 S  CONDUCTOR               30                  30.0            36                0.0                   0.0                 LOT            6725   2017-04-11    09.02.2020
1    6406/9-3  CONDUCTOR               36                  45.0            42                0.0                   0.0                                7141   2016-10-10    09.02.2020
2       2/5-4  CONDUCTOR               30                  45.0            36               46.0                   0.0                 LOT             259   2017-04-11    09.02.2020

In [117]:
df_casinglot.isna().sum()

Wellbore                0
Casing type             0
Casing diam. [inch]     0
Casing depth [m]        0
Hole diam. [inch]       0
Hole depth[m]           0
LOT mud eqv. [g/cm3]    0
Formation test type     1
NPDID wellbore          0
Date updated            0
Date sync NPD           0
dtype: int64

In [118]:
df_casinglot.drop(labels=['Date updated', 'Date sync NPD'], axis=1, inplace=True)

In [119]:
df_casinglot.columns

Index(['Wellbore', 'Casing type', 'Casing diam. [inch]', 'Casing depth [m]',
       'Hole diam. [inch]', 'Hole depth[m]', 'LOT mud eqv. [g/cm3]',
       'Formation test type', 'NPDID wellbore'],
      dtype='object')

In [120]:
# Rename columns
rename_cols = {'Wellbore' : 'Well',
               'Casing depth [m]' : 'Depth'
               }
    
# Apply renaming
df_casinglot.rename(columns=rename_cols, inplace=True)
df_casinglot

            Well Casing type Casing diam. [inch]   Depth Hole diam. [inch]  Hole depth[m]  LOT mud eqv. [g/cm3] Formation test type  NPDID wellbore
0     6507/6-4 S  CONDUCTOR               30        30.0            36                0.0                   0.0                 LOT            6725
1       6406/9-3  CONDUCTOR               36        45.0            42                0.0                   0.0                                7141
2          2/5-4  CONDUCTOR               30        45.0            36               46.0                   0.0                 LOT             259
3          7/9-1  CONDUCTOR               30       108.0            36              110.0                   0.0                 LOT             191
4         8/12-1  CONDUCTOR               30       114.0            36              114.0                   0.0                 LOT             193
...          ...         ...                 ...     ...               ...            ...                   ...                 ...             ...
7556  34/10-48 S  OPEN HOLE                       7393.0            8 1/2          7393.0                   0.0                 LOT            4902
7557  34/10-45 S  LINER                   7       7594.0            8 1/2          7594.0                   0.0                 LOT            4450
7558  34/10-46 B  LINER                   7       7725.0            8 1/2          7725.0                   0.0                 LOT            4527
7559  34/10-55 S  OPEN HOLE                       7811.0            8 1/2          7811.0                   0.0                                8102
7560  34/10-45 B  LINER                   7       7928.0            8 1/2          7928.0                   0.0                 LOT            4824

[7561 rows x 9 columns]

In [121]:
# Output file
output_to_csv(outname='wellbore_casing_and_lot', df=df_casinglot)

Saved to: C:\ICData\Test3\output_data\wellbore_casing_and_lot.csv

         Well Casing type Casing diam. [inch]  Depth Hole diam. [inch]  Hole depth[m]  LOT mud eqv. [g/cm3] Formation test type  NPDID wellbore
0  6507/6-4 S  CONDUCTOR               30       30.0            36                0.0                   0.0                 LOT            6725
1    6406/9-3  CONDUCTOR               36       45.0            42                0.0                   0.0                                7141
2       2/5-4  CONDUCTOR               30       45.0            36               46.0                   0.0                 LOT             259

<h3>Drilling mud</h3>

In [122]:
if data_source == 'web':
    df_mud = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_mud&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')
    
if data_source == 'file':
    df_mud = pd.read_excel('input data/wellbore_mud.xlsx')

In [123]:
print(df_mud.shape)
df_mud.head(3)

(33843, 11)

   Unnamed: 0 Wellbore  Depth MD [m]  Mud weight [g/cm3]  Visc. [mPa.s]  Yield point [Pa]     Mud type Date measured  NPDID wellbore Date updated Date sync NPD
0         NaN    1/2-1         171.0                1.04            0.0               0.0  WATER BASED    1989-03-29            1382   2017-04-11    09.02.2020
1         NaN    1/2-1         279.2                1.04            0.0               0.0  WATER BASED    1989-03-29            1382   2017-04-11    09.02.2020
2         NaN    1/2-1         545.6                1.04            0.0               0.0  WATER BASED    1989-03-29            1382   2017-04-11    09.02.2020

In [124]:
# Drop blank first column
df_mud.drop(labels='Unnamed: 0', axis=1, inplace=True)
df_mud.head(3)

  Wellbore  Depth MD [m]  Mud weight [g/cm3]  Visc. [mPa.s]  Yield point [Pa]     Mud type Date measured  NPDID wellbore Date updated Date sync NPD
0    1/2-1         171.0                1.04            0.0               0.0  WATER BASED    1989-03-29            1382   2017-04-11    09.02.2020
1    1/2-1         279.2                1.04            0.0               0.0  WATER BASED    1989-03-29            1382   2017-04-11    09.02.2020
2    1/2-1         545.6                1.04            0.0               0.0  WATER BASED    1989-03-29            1382   2017-04-11    09.02.2020

In [125]:
df_mud.isna().sum()

Wellbore                  0
Depth MD [m]              0
Mud weight [g/cm3]        0
Visc. [mPa.s]             0
Yield point [Pa]          0
Mud type                  1
Date measured         15684
NPDID wellbore            0
Date updated              0
Date sync NPD             0
dtype: int64

In [126]:
df_mud.drop(labels=['Date updated', 'Date sync NPD'], axis=1, inplace=True)

In [127]:
df_mud.columns

Index(['Wellbore', 'Depth MD [m]', 'Mud weight [g/cm3]', 'Visc. [mPa.s]',
       'Yield point [Pa]', 'Mud type', 'Date measured', 'NPDID wellbore'],
      dtype='object')

In [128]:
# Rename columns
rename_cols = {'Wellbore' : 'Well',
               'Depth MD [m]' : 'Depth'
               }
    
# Apply renaming
df_mud.rename(columns=rename_cols, inplace=True)
df_mud

        Well   Depth  Mud weight [g/cm3]  Visc. [mPa.s]  Yield point [Pa]     Mud type Date measured  NPDID wellbore
0      1/2-1   171.0                1.04            0.0               0.0  WATER BASED    1989-03-29            1382
1      1/2-1   279.2                1.04            0.0               0.0  WATER BASED    1989-03-29            1382
2      1/2-1   545.6                1.04            0.0               0.0  WATER BASED    1989-03-29            1382
3      1/2-1   563.9                1.04            0.0               0.0  WATER BASED    1989-03-29            1382
4      1/2-1   648.3                1.04            0.0               0.0  WATER BASED    1989-03-29            1382
...      ...     ...                 ...            ...               ...          ...           ...             ...
33838  9/4-5  5881.1                0.00            0.0               0.0        DUMMY           NaT            5134
33839  9/8-1   137.0                0.00            0.0               0.0     seawater           NaT             145
33840  9/8-1   360.0                1.11            0.0               0.0     seawater           NaT             145
33841  9/8-1  1219.0                1.13            0.0               0.0   waterbased           NaT             145
33842  9/8-1  2175.0                1.15            0.0               0.0   waterbased           NaT             145

[33843 rows x 8 columns]

In [129]:
# Output file
output_to_csv(outname='wellbore_mud', df=df_mud)

Saved to: C:\ICData\Test3\output_data\wellbore_mud.csv

    Well  Depth  Mud weight [g/cm3]  Visc. [mPa.s]  Yield point [Pa]     Mud type Date measured  NPDID wellbore
0  1/2-1  171.0                1.04            0.0               0.0  WATER BASED    1989-03-29            1382
1  1/2-1  279.2                1.04            0.0               0.0  WATER BASED    1989-03-29            1382
2  1/2-1  545.6                1.04            0.0               0.0  WATER BASED    1989-03-29            1382

<h3>Documents</h3>

In [130]:
if data_source == 'web':
    df_document = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_document&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.188&CultureCode=en')
    
if data_source == 'file':
    df_document = pd.read_excel('input data/wellbore_document.xlsx')

df_document

     Wellbore            Document type                                      Document name                                       Document URL Document format  Document size [KB]  NPDID wellbore Date updated Date sync NPD
0       1/2-1  GEOCHEMICAL INFORMATION                                             1382_1  https://factpages.npd.no/pbl/geochemical_pdfs/...             pdf                 174            1382   2019-04-25    08.02.2020
1       1/2-1  GEOCHEMICAL INFORMATION                                             1382_2  https://factpages.npd.no/pbl/geochemical_pdfs/...             pdf                3408            1382   2019-04-25    08.02.2020
2       1/2-1             OLD NPD WDSS                   1382_01_WDSS_General_Information  https://factpages.npd.no/pbl/wdss_old/1382_01_...             pdf                 258            1382   2019-04-25    08.02.2020
3       1/2-1             OLD NPD WDSS                        1382_02_WDSS_completion_log  https://factpages.npd.no/pbl/wdss_old/1382_02_...             pdf                 168            1382   2019-04-25    08.02.2020
4       1/2-1            PRESSURE PLOT          1382_Formation_pressure_(Formasjonstrykk)  https://factpages.npd.no/pbl/wellbore_pressure...             pdf                 206            1382   2019-05-02    08.02.2020
...       ...                      ...                                                ...                                                ...             ...                 ...             ...          ...           ...
8545    9/8-1                NPD PAPER        145_01_NPD_Paper_No.5_Lithology__Well_9_8_1  https://factpages.npd.no/pbl/NPD_papers/145_01...             pdf               10850             145   2019-04-25    08.02.2020
8546    9/8-1                NPD PAPER  145_02_NPD_Paper_No.5_Interpreted_Lithology_lo...  https://factpages.npd.no/pbl/NPD_papers/145_02...             pdf               40257             145   2019-04-25    08.02.2020
8547    9/8-1             OLD NPD WDSS                    145_01_WDSS_General_Information  https://factpages.npd.no/pbl/wdss_old/145_01_W...             pdf                 192             145   2019-04-25    08.02.2020
8548    9/8-1            PRESSURE PLOT           145_Formation_pressure_(Formasjonstrykk)  https://factpages.npd.no/pbl/wellbore_pressure...             pdf                 217             145   2019-05-02    08.02.2020
8549    9/8-1     REPORTED BY LICENSEE        145_01_Completion_Report_and_Completion_log  https://factpages.npd.no/pbl/wellbore_document...             pdf                3957             145   2019-04-25    08.02.2020

[8550 rows x 9 columns]

In [131]:
df_document['Title'] = df_document['Wellbore'] + ' ' + df_document['Document type'] + ': ' + df_document['Document name'] + ' (' + df_document['Document format'] + ')'
df_document[['Wellbore', 'Title']].tail(10)

     Wellbore                                              Title
8540    9/4-5  9/4-5 GEOCHEMICAL INFORMATION: 5134_02_9_4_5_g...
8541    9/4-5        9/4-5 GEOCHEMICAL INFORMATION: 5134_1 (pdf)
8542    9/8-1                     9/8-1 COMPOSITE LOG: 145 (pdf)
8543    9/8-1         9/8-1 GEOCHEMICAL INFORMATION: 145_1 (pdf)
8544    9/8-1         9/8-1 GEOCHEMICAL INFORMATION: 145_2 (pdf)
8545    9/8-1  9/8-1 NPD PAPER: 145_01_NPD_Paper_No.5_Litholo...
8546    9/8-1  9/8-1 NPD PAPER: 145_02_NPD_Paper_No.5_Interpr...
8547    9/8-1  9/8-1 OLD NPD WDSS: 145_01_WDSS_General_Inform...
8548    9/8-1  9/8-1 PRESSURE PLOT: 145_Formation_pressure_(F...
8549    9/8-1  9/8-1 REPORTED BY LICENSEE: 145_01_Completion_...

In [132]:
df_document = df_document[['Wellbore', 'NPDID wellbore', 'Title', 'Document URL']]
df_document

     Wellbore  NPDID wellbore                                              Title                                       Document URL
0       1/2-1            1382        1/2-1 GEOCHEMICAL INFORMATION: 1382_1 (pdf)  https://factpages.npd.no/pbl/geochemical_pdfs/...
1       1/2-1            1382        1/2-1 GEOCHEMICAL INFORMATION: 1382_2 (pdf)  https://factpages.npd.no/pbl/geochemical_pdfs/...
2       1/2-1            1382  1/2-1 OLD NPD WDSS: 1382_01_WDSS_General_Infor...  https://factpages.npd.no/pbl/wdss_old/1382_01_...
3       1/2-1            1382  1/2-1 OLD NPD WDSS: 1382_02_WDSS_completion_lo...  https://factpages.npd.no/pbl/wdss_old/1382_02_...
4       1/2-1            1382  1/2-1 PRESSURE PLOT: 1382_Formation_pressure_(...  https://factpages.npd.no/pbl/wellbore_pressure...
...       ...             ...                                                ...                                                ...
8545    9/8-1             145  9/8-1 NPD PAPER: 145_01_NPD_Paper_No.5_Litholo...  https://factpages.npd.no/pbl/NPD_papers/145_01...
8546    9/8-1             145  9/8-1 NPD PAPER: 145_02_NPD_Paper_No.5_Interpr...  https://factpages.npd.no/pbl/NPD_papers/145_02...
8547    9/8-1             145  9/8-1 OLD NPD WDSS: 145_01_WDSS_General_Inform...  https://factpages.npd.no/pbl/wdss_old/145_01_W...
8548    9/8-1             145  9/8-1 PRESSURE PLOT: 145_Formation_pressure_(F...  https://factpages.npd.no/pbl/wellbore_pressure...
8549    9/8-1             145  9/8-1 REPORTED BY LICENSEE: 145_01_Completion_...  https://factpages.npd.no/pbl/wellbore_document...

[8550 rows x 4 columns]

In [133]:
# Output file
output_to_csv(outname='wellbore_document', df=df_document)

Saved to: C:\ICData\Test3\output_data\wellbore_document.csv

  Wellbore  NPDID wellbore                                              Title                                       Document URL
0    1/2-1            1382        1/2-1 GEOCHEMICAL INFORMATION: 1382_1 (pdf)  https://factpages.npd.no/pbl/geochemical_pdfs/...
1    1/2-1            1382        1/2-1 GEOCHEMICAL INFORMATION: 1382_2 (pdf)  https://factpages.npd.no/pbl/geochemical_pdfs/...
2    1/2-1            1382  1/2-1 OLD NPD WDSS: 1382_01_WDSS_General_Infor...  https://factpages.npd.no/pbl/wdss_old/1382_01_...

<h3>References and Documents combined</h3>

In [134]:
# Rename columns in both df_document and df_explo_references before merge

# Rename columns in df_document
rename_cols = {'Wellbore' : 'Well',
               'Document URL' : 'URL'}
    
#Apply renaming
df_document.rename(columns=rename_cols, inplace=True)
df_document

C:\Users\LBHAWZ\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       Well  NPDID wellbore                                              Title                                                URL
0     1/2-1            1382        1/2-1 GEOCHEMICAL INFORMATION: 1382_1 (pdf)  https://factpages.npd.no/pbl/geochemical_pdfs/...
1     1/2-1            1382        1/2-1 GEOCHEMICAL INFORMATION: 1382_2 (pdf)  https://factpages.npd.no/pbl/geochemical_pdfs/...
2     1/2-1            1382  1/2-1 OLD NPD WDSS: 1382_01_WDSS_General_Infor...  https://factpages.npd.no/pbl/wdss_old/1382_01_...
3     1/2-1            1382  1/2-1 OLD NPD WDSS: 1382_02_WDSS_completion_lo...  https://factpages.npd.no/pbl/wdss_old/1382_02_...
4     1/2-1            1382  1/2-1 PRESSURE PLOT: 1382_Formation_pressure_(...  https://factpages.npd.no/pbl/wellbore_pressure...
...     ...             ...                                                ...                                                ...
8545  9/8-1             145  9/8-1 NPD PAPER: 145_01_NPD_Paper_No.5_Litholo...  https://factpages.npd.no/pbl/NPD_papers/145_01...
8546  9/8-1             145  9/8-1 NPD PAPER: 145_02_NPD_Paper_No.5_Interpr...  https://factpages.npd.no/pbl/NPD_papers/145_02...
8547  9/8-1             145  9/8-1 OLD NPD WDSS: 145_01_WDSS_General_Inform...  https://factpages.npd.no/pbl/wdss_old/145_01_W...
8548  9/8-1             145  9/8-1 PRESSURE PLOT: 145_Formation_pressure_(F...  https://factpages.npd.no/pbl/wellbore_pressure...
8549  9/8-1             145  9/8-1 REPORTED BY LICENSEE: 145_01_Completion_...  https://factpages.npd.no/pbl/wellbore_document...

[8550 rows x 4 columns]

In [135]:
# Rename columns in df_explo_references
rename_cols = {'Name' : 'Well'}
    
#Apply renaming
df_explo_references.rename(columns=rename_cols, inplace=True)
df_explo_references.head(3)

       Well  NPDID wellbore         Title                                                URL
3860  1/2-1            1382  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...
1930  1/2-1            1382  FactPage URL  https://factpages.npd.no/factpages/default.asp...
3861  1/2-2            5192  FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...

In [136]:
# Combine References and Documents dataframes
df_refs_and_docs = df_explo_references.append(df_document) 
df_refs_and_docs.sort_values(['Well', 'Title'], ascending=[True, False], ignore_index=True, inplace=True)
df_refs_and_docs.head(20)

     Well  NPDID wellbore                                              Title                                                URL
0   1/2-1            1382                                       FactPage URL  https://factpages.npd.no/factpages/default.asp...
1   1/2-1            1382                                       FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...
2   1/2-1            1382  1/2-1 REPORTED BY LICENSEE: 1382_1_2_1_COMPLET...  https://factpages.npd.no/pbl/wellbore_document...
3   1/2-1            1382  1/2-1 REPORTED BY LICENSEE: 1382_1_2_1_COMPLET...  https://factpages.npd.no/pbl/wellbore_document...
4   1/2-1            1382  1/2-1 PRESSURE PLOT: 1382_Formation_pressure_(...  https://factpages.npd.no/pbl/wellbore_pressure...
5   1/2-1            1382  1/2-1 OLD NPD WDSS: 1382_02_WDSS_completion_lo...  https://factpages.npd.no/pbl/wdss_old/1382_02_...
6   1/2-1            1382  1/2-1 OLD NPD WDSS: 1382_01_WDSS_General_Infor...  https://factpages.npd.no/pbl/wdss_old/1382_01_...
7   1/2-1            1382        1/2-1 GEOCHEMICAL INFORMATION: 1382_2 (pdf)  https://factpages.npd.no/pbl/geochemical_pdfs/...
8   1/2-1            1382        1/2-1 GEOCHEMICAL INFORMATION: 1382_1 (pdf)  https://factpages.npd.no/pbl/geochemical_pdfs/...
9   1/2-2            5192                                  Press Release URL  https://www.npd.no/fakta/nyheter/Resultat-av-l...
10  1/2-2            5192                                       FactPage URL  https://factpages.npd.no/factpages/default.asp...
11  1/2-2            5192                                       FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...
12  1/3-1             154                                       FactPage URL  https://factpages.npd.no/factpages/default.asp...
13  1/3-1             154                                       FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...
14  1/3-1             154  1/3-1 REPORTED BY LICENSEE: 154_1_3_1_COMPLETI...  https://factpages.npd.no/pbl/wellbore_document...
15  1/3-1             154  1/3-1 REPORTED BY LICENSEE: 154_1_3_1_COMPLETI...  https://factpages.npd.no/pbl/wellbore_document...
16  1/3-1             154  1/3-1 REPORTED BY LICENSEE: 154_01_1_3_1_Well_...  https://factpages.npd.no/pbl/wellbore_document...
17  1/3-1             154  1/3-1 REPORTED BY LICENSEE: 154_01_1_3_1_Core_...  https://factpages.npd.no/pbl/wellbore_document...
18  1/3-1             154  1/3-1 REPORTED BY LICENSEE: 154_01_1_3_1_Compl...  https://factpages.npd.no/pbl/wellbore_document...
19  1/3-1             154  1/3-1 OLD NPD WDSS: 154_01_WDSS_General_Inform...  https://factpages.npd.no/pbl/wdss_old/154_01_W...

In [137]:
# Output file
output_to_csv(outname='wellbore_references_and_documents', df=df_refs_and_docs)

Saved to: C:\ICData\Test3\output_data\wellbore_references_and_documents.csv

    Well  NPDID wellbore                                              Title                                                URL
0  1/2-1            1382                                       FactPage URL  https://factpages.npd.no/factpages/default.asp...
1  1/2-1            1382                                       FactMaps URL  https://factmaps.npd.no/factmaps/3_0/?run=Well...
2  1/2-1            1382  1/2-1 REPORTED BY LICENSEE: 1382_1_2_1_COMPLET...  https://factpages.npd.no/pbl/wellbore_document...

# Overview

## Data summary

In [138]:
df_summary = pd.DataFrame({'Data type':
                        ['Exploration well header',
                         'Development well header',
                         'Exploration reference',
                         'Development reference',
                         'Core',
                         'Core photo',
                         'Thin section',
                         'CO2',
                         'Oil sample',
                         'Lithostratigraphy',
                         'Drill stem test',
                         'Casing and leak-off test',
                         'Drilling mud',
                         'Document',
                         'Document & Reference combined'
                        ], 
                        'No. unique wells':
                        [df_explo['Name'].nunique(),
                         df_dev['Name'].nunique(),
                         df_explo_references['Well'].nunique(),
                         df_dev_references['Name'].nunique(),
                         df_core['Well'].nunique(),
                         df_core_photo['Well'].nunique(),
                         df_thin_section['Well'].nunique(),
                         df_co2['Well'].nunique(),
                         df_oil_sample['Well'].nunique(),
                         df_formation_top['Well'].nunique(),
                         df_dst['Well'].nunique(),
                         df_casinglot['Well'].nunique(),
                         df_mud['Well'].nunique(),
                         df_document['Well'].nunique(),
                         df_refs_and_docs['Well'].nunique()
                        ],
                        'No. records':
                        [df_explo['Name'].shape[0],
                         df_dev['Name'].shape[0],
                         df_explo_references['Well'].shape[0],
                         df_dev_references['Name'].shape[0],
                         df_core['Well'].shape[0],
                         df_core_photo['Well'].shape[0],
                         df_thin_section['Well'].shape[0],
                         df_co2['Well'].shape[0],
                         df_oil_sample['Well'].shape[0],
                         df_formation_top['Well'].shape[0],
                         df_dst['Well'].shape[0],
                         df_casinglot['Well'].shape[0],
                         df_mud['Well'].shape[0],
                         df_document['Well'].shape[0],
                         df_refs_and_docs['Well'].shape[0]]
                       })

print('Data for', (df_explo['Name'].nunique()+df_dev['Name'].nunique()), 'wells in total.')

#Add thousands separators
df_summary['No. unique wells'] = df_summary['No. unique wells'].apply(lambda x : "{:,}".format(x))
df_summary['No. records'] = df_summary['No. records'].apply(lambda x : "{:,}".format(x))
df_summary = df_summary.style.hide_index()
df_summary

Data for 7082 wells in total.

## Dataframes in project

In [139]:
# Show all the dataframes used in this notebook
%whos DataFrame

Variable                  Type         Data/Info
------------------------------------------------
df_a                      DataFrame          Wellbore name  Top <...>[36035 rows x 11 columns]
df_b                      DataFrame          Wellbore name  Top <...>[36037 rows x 10 columns]
df_casinglot              DataFrame                Well Casing t<...>\n[7561 rows x 9 columns]
df_co2                    DataFrame                Well  Sample <...>     DST             1038
df_core                   DataFrame             Well  NPDID well<...>\n[8141 rows x 5 columns]
df_core_photo             DataFrame              Well  NPDID wel<...>n[20849 rows x 5 columns]
df_core_photo_ERRONEOUS   DataFrame            Wellbore  Core sa<...>jpgs/1...            1135
df_dev                    DataFrame                   Name  Alte<...>n[5152 rows x 64 columns]
df_dev_references         DataFrame               Name  NPDID we<...>n[10304 rows x 4 columns]
df_document               DataFrame           Well  NPDID wellbo<...>\n[8550 rows x 4 columns]
df_dst                    DataFrame            Well  Test number<...>n[1167 rows x 15 columns]
df_explo                  DataFrame               Name Alternate<...>n[1930 rows x 75 columns]
df_explo_references       DataFrame           Well  NPDID wellbo<...>\n[4594 rows x 4 columns]
df_formation_top          DataFrame            Well  NPDID wellb<...>n[36035 rows x 6 columns]
df_lithostrat             DataFrame            Well  Top depth  <...>[36035 rows x 11 columns]
df_mud                    DataFrame            Well   Depth  Mud<...>n[33843 rows x 8 columns]
df_oil_sample             DataFrame                Well Test typ<...>\n[1005 rows x 9 columns]
df_refs_and_docs          DataFrame            Well  NPDID wellb<...>n[13144 rows x 4 columns]
df_thin_section           DataFrame           Well  NPDID wellbo<...>\n[2136 rows x 4 columns]