<h1>autobuildicdb NPD</h1><br>
Auto-populate a blank IC database (SQL Server) with live well data from the <a href="https://factpages.npd.no/factpages/Default.aspx?culture=en", target="_blank">NPD FactPages</a>.

<b>Part 1. Download the following data types, reformat for IC and export to .csv</b>

Exploration well headers<br>
Development well headers<br>
Core intervals<br>
Core photos<br>
Thin sections<br>
CO2<br>
Oil samples<br>
Lithostratigraphy<br>
Drill stem tests<br>
Casing and leak-off tests<br>
Drilling mud<br>
References and Documents<br>

<b>Part 2. Connect to the database and populate tables</b><br>

dbo.WELLS<br>
dbo.t_WellsUserFields<br>
dbo.t_WellsUserFieldsValues<br>
dbo.PROJECTS<br>
dbo.T_WELLQUERYFOLDERS<br>
dbo.WELLQUERIES<br>
dbo.PROJECTWELLS<br>
dbo.tablenames<br>
dbo.intervalcolumns<br>
DATA_Core_NPD<br>
DATA_Petrography_NPD<br>
DATA_CO2_NPD<br>
DATA_OilSample_NPD<br>
DATA_Lithostrat_NPD<br>
DATA_DrillStemTest_NPD<br>
DATA_CasingLOT_NPD<br>
DATA_DrillingMud_NPD<br>
DATA_Tops_NPD

Only handles data for Well Headers, References and Lithostrat just now.<br>
Creates dynamic IC projects, well queries, and builds text dictionaries from Lithostrat.<br>

<b>Additional scripts</b>

Build Text Dictionaries from Lithostrat.<br>
Download all Core Photos to file (using hyperlinks).<br>
Download and unzip shapefiles from 'NPD Map Services'.<br>

In [ ]:
import numpy as np
import pandas as pd
from pandas import ExcelFile
from pandas import ExcelWriter
import requests, zipfile, io
import pyodbc
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, Column, delete, insert, select, func, sql
from sqlalchemy.types import SmallInteger, Integer, String, Float, NVARCHAR
from datetime import datetime
import pprint
import urllib
import urllib.request
import copy
import os

# %pprint
# pp = pprint.PrettyPrinter(indent=10)

print('Pandas version: ', pd.__version__)

In [ ]:
# Change Pandas display settings to show all columns
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
#pd.set_option('max_colwidth', None)
pd.set_option('display.max_rows', 500)

In [ ]:
# IC database folder
dbdir = 'C:\ICData\Test51'

# Output folder
outdir = '{}\output_data'.format(dbdir)

# Create outdir folder within IC database folder
if not os.path.exists(outdir):
    os.mkdir(outdir)

In [ ]:
# Create function to save dataframe to oudir and return header

def output_to_csv(outname, df):

    filepath = '{}\{}.csv'.format(outdir, outname)
    print('Saved to:', filepath)
    
    df.to_csv(filepath, index=False, encoding='utf-8-sig')

    return pd.read_csv(filepath).head(3)

# Example: output_to_csv(outname='IC_wellbore_exploration_all', df=df_explo)

In [ ]:
# Uncomment your chosen data source -
    # web: select to download data live from NPD FactPages using parameterized query strings (see https://factpages.npd.no/factpages/Parameters.aspx)
    # file: select if you have manually downloaded data in Excel format and saved to 'input data' folder 

#data_source = 'web'
data_source = 'file'

# Download data, reformat for IC and output to .csv
    
## Well Headers

In [ ]:
# Download the latest NPD well headers in Excel format
# Navigate to NPD Factpages > Wellbore > Table View > Exploration/Development > All - Long List> Export Excel.
# Assign to two dataframes, one for Exploraion wells and one for Development wells

if data_source == 'web':
    df_explo = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_exploration_all&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.169&CultureCode=en')
    df_dev = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_development_all&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.169&CultureCode=en')

if data_source == 'file':
    # Navigate to NPD Factpages > Wellbore > Table View > Exploration/Development > All - Long List> Export Excel.
    df_explo = pd.read_excel('input data/wellbore_exploration_all.xlsx')
    df_dev = pd.read_excel('input data/wellbore_development_all.xlsx')

# Print the original column titles in each dataframe.
print("\nExploration well header column titles:")
print(list(df_explo.columns))
print("\nDevelopment well header column titles:")
print(list(df_dev.columns))

In [ ]:
(num_explo_rows, num_explo_cols) = df_explo.shape
(num_dev_rows, num_dev_cols) = df_dev.shape
print('{} rows and {} columns in Exploration wells.'.format(num_explo_rows, num_explo_cols))
print('{} rows and {} columns in Development wells.'.format(num_dev_rows, num_dev_cols))

In [ ]:
print('Exploration well headers:')
df_explo.head(3)

In [ ]:
print('Development well headers:')
df_dev.head(3)

### Column headers unique to Explo & Dev wells

In [ ]:
explo_columns = df_explo.columns.tolist()
dev_columns = df_dev.columns.tolist()

# List well headers unqiue to each dataframe
print('Attributes unique to Exploration wells:\n', sorted(set(explo_columns) - set(dev_columns)))
print('\nAttributes unique to Development wells:\n', sorted(set(dev_columns) - set(explo_columns)))

### Rename attributes for IC

In [ ]:
# These are IC's default well header attributes (when matching columns in Import Well Header File)
# Try to use as many of these as possible when renaming below.
# Any other columns will need to be added to IC as Well Attributes.

ic_default_attributes = {'Name', 'Code', 'Alternate 1', 'Alternate 2', 'API number', 'UWI number', 'Comment', 'Geodatum', 
                         'Longitude', 'Latitude', 'Grid system', 'Surface X', 'Surface Y', 'Elevation Reference',
                         'Elevation', 'KBE', 'RTE', 'DFE', 'GLE', 'SPUD date', 'Completion date', 'Status', 
                         'Quadrant', 'Block', 'Sub block', 'Field', 'Location', 'Operator', 'Country',
                         'Basin', 'Province', 'County', 'State', 'Section', 'Township', 'Range', 'Terminal depth',
                         'Water depth', 'Facility', 'Discovery name', 'Seismic line', 'Intent', 'Licence number'}

# Rename columns from/to. 
# Check spelling and capitalisation carefully when renaming to match IC's default attributes.

attributes_to_rename = {'Wellbore name' : 'Name',
                        'Well name' : 'Alternate 1',
                        'Drilling operator' : 'Operator',
                        'Drilled in production licence' : 'Licence number',
                        'Purpose' : 'Intent',
                        'Purpose - planned' : 'Intent - planned',
                        'Status' : 'Well status',
                        'Content' : 'Well content',
                        'Entered date' : 'SPUD date',
                        'Completed date' : 'Completion date',
                        'Discovery' : 'Discovery name',
                        'Seismic location' : 'Seismic line',
                        'Kelly bushing elevation [m]' : 'KBE',
                        'Total depth (MD) [m RKB]' : 'Terminal depth',
                        'Water depth [m]' : 'Water depth',
                        'Kick off  point [m RKB]' : 'Kick off point [m RKB]', #remove extra space
                        'Main area' : 'Location',
                        'Drilling facility' : 'Facility',
                        '1st level with HC, formation' : '1st level with HC formation', #remove commas to be csv friendly
                        '1st level with HC, age' : '1st level with HC age',
                        '2nd level with HC, formation' : '2nd level with HC formation',
                        '2nd level with HC, age' : '2nd level with HC age',
                        '3rd level with HC, formation' : '3rd level with HC formation',
                        '3rd level with HC, age' : '3rd level with HC age',
                        'Geodetic datum' : 'Geodatum',
                        'NS decimal degrees' : 'Latitude',
                        'EW decimal degrees' : 'Longitude',
                        'NS UTM [m]' : 'Surface Y',
                        'EW UTM [m]' : 'Surface X',
                        'Wellbore name, part 1' : 'Quadrant',
                        'Wellbore name, part 2' : 'Block', 
                        'Pressrelease url' : 'Press Release URL',
                        'FactPage url' : 'FactPage URL',
                        'Factmaps' : 'FactMaps URL'}

# Apply renaming to each of the dataframes
df_explo.rename(columns=attributes_to_rename, inplace=True)
df_dev.rename(columns=attributes_to_rename, inplace=True)

# QC only renamed columns
print("Renamed attributes only:")
renamed_columns = list(attributes_to_rename.values())
df_explo[renamed_columns].head(3)
#df_dev[renamed_columns].head(3)

### Delete attributes containing duplicate data

In [ ]:
# Coordinates are repeated elsewhere so we can delete the component parts from the dataframes.
# And we've renamed Wellbore name parts 1 and 2 to Quadrant and Block, and do not need the other parts.

attributes_to_drop = ['Plot symbol', 'NS degrees', 'NS minutes', 'NS seconds', 'NS code', 'EW degrees', 'EW minutes', 'EW seconds', 'EW code', 
                      'Wellbore name, part 3', 'Wellbore name, part 4', 'Wellbore name, part 5', 'Wellbore name, part 6']

df_explo.drop(attributes_to_drop, axis=1, inplace=True)
df_dev.drop(attributes_to_drop, axis=1, inplace=True)

print('Prove we still have well names and coordinates:')
df_explo[['Name', 'Latitude', 'Longitude', 'Surface Y', 'Surface X']].head(3)

### Truncate well list based on column and value(s)

In [ ]:
# Enter the column and values you want to return, e.g. Location: BARENTS SEA, or Quadrant: 6204, 6205.
fltr_column = 'Location'

# List the names you want to *KEEP*!
fltr_value = ['NORTH SEA', 'NORWEGIAN SEA', 'BARENTS SEA']

# Apply the filter to the dataframes
indexNames = df_explo[~df_explo[fltr_column].isin(fltr_value)].index
df_explo.drop(indexNames , inplace=True)

indexNames = df_dev[~df_dev[fltr_column].isin(fltr_value)].index
df_dev.drop(indexNames , inplace=True)

# Get dataframe shape and unpack tuples
(exploRows, exploCols) = df_explo.shape
(devRows, devCols) = df_dev.shape

# Print out the results
print("After filtering on {}: {}, you are left with:\n {} rows for Exploration wells, and {} rows for Development wells."
      .format(fltr_column, fltr_value, exploRows, devRows))
print('The first and last rows are:')

# Print the first and last rows of the Exploration dataframe to check that the filter has worked
df_explo.iloc[[0, -1]]

### CREATE FILES - create Reference files for IC containing URLs for Explo and Dev wells

In [ ]:
# Converts three URL columns into three rows. Adds a Title column and sorts by Well and Title.
df_explo_references = df_explo[['Name', 'NPDID wellbore', 'Press Release URL', 'FactPage URL', 'FactMaps URL']]
df_explo_references = pd.melt(df_explo_references, id_vars=['Name', 'NPDID wellbore'], value_vars=['Press Release URL', 'FactPage URL', 'FactMaps URL'], var_name='Title', value_name='URL')
df_explo_references.sort_values(['Name', 'Title'], inplace=True)

# Remove empty rows, specifically where no 'Press Release URL' for Exploration references
df_explo_references['URL'].replace(' ', np.nan, inplace=True)
df_explo_references.dropna(subset=['URL'], inplace=True)

# Name and create file for Exploration wells
output_to_csv(outname='IC_explo_references', df=df_explo_references)

In [ ]:
# As above, but creates 'Reference' file for Development Wells (minus the Press Release URL)
df_dev_references = df_dev[['Name', 'NPDID wellbore', 'FactPage URL', 'FactMaps URL']]
df_dev_references = pd.melt(df_dev_references, id_vars=['Name', 'NPDID wellbore'], 
                            value_vars=['FactPage URL', 'FactMaps URL'], 
                            var_name='Title', value_name='URL')
df_dev_references.sort_values(['Name', 'Title'], inplace=True)

# Name and create file for Development wells
output_to_csv(outname='IC_dev_references', df=df_dev_references)

In [ ]:
# Drop URL attributes
# Now that we've output the URLs to separate files, we no longer need them in the Exploration and Development dataframes.
df_explo.drop(['Press Release URL', 'FactPage URL', 'FactMaps URL'], axis=1, inplace=True)
df_dev.drop(['FactPage URL', 'FactMaps URL'], axis=1, inplace=True)

df_explo.head(3)

In [ ]:
# Add new column(s) and assign constant value, e.g. Country: NORWAY.
df_explo['Country'] = 'NORWAY' 
df_dev['Country'] = 'NORWAY'

# IC Version 4.3.1 and earlier only. Fixed in 4.3.2.
# First lets rename an extraordinarily long string in column 'Seismic line' to avoid an error in IC.
#df_explo['Seismic line'] = df_explo['Seismic line'].replace('TUN15M01 3D bin datasett: Inline reference: 12688 Croslline reference: between 12383 and 12384', 'TUN15M01 3D bin: Inline 12688 Crossline 12383-12384')

# Remove decimal places introduced to the 'NPDIP' columns
df_explo['NPDID discovery'] = df_explo['NPDID discovery'].fillna(0).astype(int)
df_dev['NPDID discovery'] = df_dev['NPDID discovery'].fillna(0).astype(int)

df_explo['NPDID drilling facility'] = df_explo['NPDID drilling facility'].fillna(0).astype(int)
df_dev['NPDID drilling facility'] = df_dev['NPDID drilling facility'].fillna(0).astype(int)

df_explo['NPDID field'] = df_explo['NPDID field'].fillna(0).astype(int)
df_dev['NPDID field'] = df_dev['NPDID field'].fillna(0).astype(int)

# Copy data from one column to another, preserving the original.
df_explo['UWI number'] = df_explo['NPDID wellbore']
df_dev['UWI number'] = df_dev['NPDID wellbore']

# Check the result
df_explo[['Name', 'Country', 'NPDID drilling facility', 'NPDID wellbore']].head(3)

### Concatenate Well Status & Well Content to match IC's Well Symbols dictionary

In [ ]:
# This cell creates a new column called 'Status', combining 'Well Status' and 'Well Content'
# These values should match IC's Well Symbols graphic dictionary entries, e.g. "P & A Oil Shows"

# Change 'P&A' to 'P & A'.
df_explo['Well status'] = df_explo['Well status'].replace(to_replace='P&A', value='P & A')
# First letter of each word capitalised
df_explo['Status'] = df_explo['Well status'].str.title() + ' ' + df_explo['Well content'].str.title()

# As above but for Development wells
df_dev['Well status'] = df_dev['Well status'].replace(to_replace='P&A', value='P & A')
df_dev['Status'] = df_dev['Well status'].str.title() + ' ' + df_dev['Well content'].str.title()

# Replace a few other things to help with matching
df_explo = df_explo.replace({'Status' : { ' Not Available' : '', ' Not Applicable' : '', '/' : ' ', 'Oil Gas ' : 'Oil & Gas '}}, regex=True)
df_dev = df_dev.replace({'Status' :     { ' Not Available' : '', ' Not Applicable' : '', '/' : ' ', 'Oil Gas ' : 'Oil & Gas '}}, regex=True)

# Rename Status to status? (links to symbol_id??? e.g. 22)

# Check the results
df_explo[['Name', 'Status']].head(n=10)
#df_dev[['Name', 'Status']].tail(n=10)

In [ ]:
# List all unique entries under Status for all wells.
# In IC, open Database > Graphic Dictionaries > Well Symbols, and ensure you have dictionary entries for each.

lst_explo_status = sorted(set(df_explo['Status'].astype(str)))
lst_dev_status = sorted(set(df_dev['Status'].astype(str)))

lst_all_status = lst_explo_status + lst_dev_status

print("{} unique status values to include in IC 'Well Symbols' graphic dictionary:".format(len(lst_all_status)))
print('')
lst_unique_status = sorted(set(lst_all_status))
print(', '.join(lst_unique_status))

### Concatenate cells to create 'Grid system' in IC format

In [ ]:
# At time of writing, there are several problems with 'Geodatum' in the NPD datasets, including:
#  - trailing spaces ('ED50 ') in all Explo wells
#  - erroneous '56ED50', '60ED50' and '61ED50' values in Dev wells
#  - missing 'ED50' values in two explo wells
# Luckily, we can just force 'ED50' on all these cells!

df_explo['Geodatum'] = 'ED50'
df_dev['Geodatum'] = 'ED50'

# Concatenate cells to create a new column 'Grid system' in IC format (e.g. "ED50 / UTM Zone 31N")

df_explo['Grid system'] = df_explo['Geodatum'] + ' / ' + 'UTM zone ' + df_explo['UTM zone'].map(str) + 'N'
df_dev['Grid system'] = df_dev['Geodatum'] + ' / ' + 'UTM zone ' + df_dev['UTM zone'].map(str) + 'N'

print('Geodatum and Grid systems for IC:')
df_explo[['Name', 'Geodatum', 'Grid system']].head(3)

### QC Well Headers

In [ ]:
# Print out attributes lists, reflecting all the changes above.
# Use these lists to check the current order of your columns in each, and consider how you might like to re-order them.
# Any columns created above (including: Country, Status, Grid system) currently appear at the end of the lists.

print('--- BEFORE RE-ORDERING ---\n')
print(len(df_explo.columns), 'Exploration attributes:\n', list(df_explo.columns), '\n')
print(len(df_dev.columns), 'Development attributes:\n', list(df_dev.columns))

### Re-order all columns (OPTIONAL)

In [ ]:
# # Specifies the order of columns for Exploration and Development wells in the final outputs.
# # It's not compulsory to re-order columns, as IC lists all non-default attributes alphabetically.

# explo_order = ['Name', 'Alternate 1', 'UWI number', 'Quadrant', 'Block', 'Operator', 'Licence number', 'Intent', 
#                 'Intent - planned', 'Well status', 'Well content', 'Status', 'Type', 'Subsea', 'SPUD date', 
#                 'Completion date', 'Field', 'Drill permit', 'Discovery name', 'Discovery wellbore', 
#                 'Bottom hole temperature [°C]', 'Seismic line', 'Maximum inclination [°]', 'KBE', 
#                 'Final vertical depth (TVD) [m RKB]', 'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 
#                 'Oldest penetrated age', 'Oldest penetrated formation', 'Location', 'Country', 'Facility', 
#                 'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 
#                 'Multilateral', 'Entry year', 'Completed year', 'Reclassified from/to wellbore', 'Reentry activity', 
#                 'Plot symbol', '1st level with HC formation', '1st level with HC age', '2nd level with HC formation', 
#                 '2nd level with HC age', '3rd level with HC formation', '3rd level with HC age', 'Drilling days', 
#                 'Reentry', 'Geodatum', 'Latitude', 'Longitude', 'Surface X', 'Surface Y', 'UTM zone', 'Grid system', 
#                 'DISKOS Well Type', 'DISKOS Wellbore Parent', 
#                 'Publication date', 'Release date', 'NPDID wellbore', 'NPDID discovery', 'NPDID field', 
#                 'NPDID drilling facility', 'NPDID wellbore reclassified from', 'NPDID production licence drilled in', 
#                 'Date main level updated', 'Date all updated', 'Date sync NPD']

# dev_order = ['Name', 'Alternate 1', 'UWI number', 'Quadrant', 'Block', 'Operator', 'Licence number', 'Intent', 
#               'Intent - planned', 'Well status', 'Well content',  'Status', 'Content - planned', 'Type', 'Subsea',
#               'SPUD date', 'Completion date', 'Field', 'Predrilled entry date','Predrilled completion date', 
#               'Drill permit', 'Discovery name', 'Discovery wellbore', 'KBE', 'Final vertical depth (TVD) [m RKB]',
#               'Terminal depth', 'Water depth', 'Kick off point [m RKB]', 'Location', 'Country', 'Facility', 
#               'Drilling facility type', 'Drilling facility category', 'Licensing activity awarded in', 
#               'Production facility', 'Multilateral', 'Entry year', 'Completed year','Reclassified from/to wellbore', 
#               'Plot symbol', 'Geodatum', 'Latitude', 'Longitude', 'Surface Y', 'Surface X', 'UTM zone',  'Grid system', 
#               'DISKOS Well Type', 'DISKOS Wellbore Parent', 'NPDID wellbore', 
#               'NPDID discovery', 'NPDID field', 'Publication date', 'Release date', 'NPDID production licence drilled in', 
#               'NPDID drilling facility', 'NPDID production facility','NPDID wellbore reclassified from', 
#               'Date main level updated', 'Date all updated', 'Date sync NPD']

In [ ]:
# # Check if your list of re-ordered attributes is complete.
# missing_explo = set(df_explo.columns).difference(explo_order)
# missing_dev = set(df_dev.columns).difference(dev_order)

# if len(missing_explo) > 0:
#     print('Your re-ordered list of Exploration attributes is incomplete. You must include:\n {}.\n'.format(missing_explo))
# else:
#     print('Your re-ordered list of Exploration attributes is complete.\n')
    
# if len(missing_dev) > 0:
#     print('Your re-ordered list of Development attributes is incomplete. You must include:\n {}.'.format(missing_dev))
# else:
#     print('Your re-ordered list of Development attributes is complete.')

In [ ]:
# # Only when your re-ordered lists of Exploration and Development attributes are complete should you run this cell,
# # Otherwise these will not be included in the output file!
# # Applies the re-ordering to the dataframes

# df_explo = df_explo.reindex(columns=explo_order)
# df_dev = df_dev.reindex(columns=dev_order)

### QC column values

In [ ]:
# Print out all unique values for selected attributes (example: Operator and Field)

def lstheaderfields (*args):
    for arg in args:
        print('---' , arg, '---')
        print('')
        words = [x for x in df_explo[arg].unique()]
        print('Exploration wells:')
        print(words)
        print('')
        words = [x for x in df_dev[arg].unique()]
        print('Development wells:')
        print(words)
        print("")
        
# Enter the names of columns you would like to check
lstheaderfields('Operator', 'Field')

### CREATE FILES - create well header files for explo and dev wells

In [ ]:
# Output exploration well headers

print('{} exploration wells from {} to {}.'.format(len(df_explo), 
                                                   df_explo['Name'][df_explo.index[0]], 
                                                   df_explo['Name'][df_explo.index[-1]]))

output_to_csv(outname='IC_wellbore_exploration_all', df=df_explo)

In [ ]:
# Output development well headers

print('{} development wells {} to {}.'.format(len(df_dev), 
                                                   df_dev['Name'][df_dev.index[0]], 
                                                   df_dev['Name'][df_dev.index[-1]]))

output_to_csv(outname='IC_wellbore_development_all', df=df_dev)

### Well Attributes to create in IC

In [ ]:
# The following attributes are not IC defaults and need to be created under Wells > Attributes.
# Alternatively, use the SQL code produced in the next cell to create these rows in SSMS. 

# Find the full list of attributes after all the editing you've done above
all_attributes = set(list(df_explo.columns) + list(df_dev.columns))

# Find and count those attributes you'll need to create in IC
non_default_attributes = list(set(all_attributes).difference(ic_default_attributes))
non_default_attributes.sort()
num_non_default_attributes = len(non_default_attributes)

print('The following {} attributes are not IC defaults and must be added to IC:\n'.format(num_non_default_attributes))
print(list(non_default_attributes))

In [ ]:
# If you have database administration privileges, you can use this cell 
# to generate the SQL Query code that will create Well Attributes in IC in the format:
    
    #INSERT INTO t_WellsUserFields (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)
        #VALUES (1, 'Attribute', 'False', 0, 'Description of attribute', 0, 1);

        # This assumes you have no yet created any Well Attributes in IC. 
        # If you have already, you'll need to tweak the 3 variables below.

pk_index = 0 #Enter one less than your highest pk_index
original_pk_index = 0 #Enter the same number as above (this one we won't change)
f_sortorder = 0 #Enter the next appropriate f_sortorder

print("INSERT INTO t_WellsUserFields")
print("  (f_FieldId, f_FieldName, f_IsInputUsed, f_InputID, f_Description, f_Origin, f_SortOrder)")
print("VALUES")

for i in non_default_attributes:
    pk_index += 1
    f_sortorder += 1
    if pk_index < (num_non_default_attributes + original_pk_index):
        print("  ({x}, '{y}', 'False', 0, 'Userfield {y}', 0, {z}),".format(x = pk_index, y = i, z = f_sortorder))
    else:
        print("  ({x}, '{y}', 'False', 0, 'Userfield {y}', 0, {z});".format(x = pk_index, y = i, z = f_sortorder))

# Follow these steps:
    # 1. Open your IC database in SQL Server Management Studio. IC must be closed/computer restarted to open a LocalDB in SSMS.
    # 2. Expand 'Tables', scroll down to 't_WellsUserFields' and right-click 'Edit Top 200 Rows'.
    # 3. Press Ctrl+N to create a new query, copy and paste the following SQL code to the blank query and hit F5.

### Install correct co-ordinate systems to IC database

In [ ]:
# In IC, open Project > Properties > Coords > Coordinate Systems
# Ensure each of the following co-ordinate system are installed **before importing well headers**
# Or use the cell below to write to file

lst_geodatum = sorted(set(df_explo['Geodatum'].astype(str)))
print('Geodatum:', ', '.join(lst_geodatum))

lst_gridsystem = sorted(set(df_explo['Grid system'].astype(str)))
print('Grid systems:', ', '.join(lst_gridsystem))

In [ ]:
# Write Norwegian UTM Zones to Projections.def
# Note that Projections.def already contains geodatum ED50.

f = open(dbdir + '\Support\Projections.def', 'w+')

f.write('''# ED50
<4230> +proj=longlat +ellps=intl +no_defs <>
# ED50 / UTM zone 31N
<23031> +proj=utm +zone=31 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 32N
<23032> +proj=utm +zone=32 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 33N
<23033> +proj=utm +zone=33 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 34N
<23034> +proj=utm +zone=34 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 35N
<23035> +proj=utm +zone=35 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 36N
<23036> +proj=utm +zone=36 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
# ED50 / UTM zone 37N
<23037> +proj=utm +zone=37 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs <>
''')

f.seek(0)
contents = f.read()
print(contents)

f.close()

### Import the data to IC

In [ ]:
# Before importing data to IC, ensure you have followed the last few steps to:
# - Create the appropriate Well Attributes in your IC Database.
# - Add the correct coordinate systems to your IC Project.

# Import reference files via Import > Well References
# Import well headers via Import > Headers.

# Note that, while the well header data imports very quickly, IC is a bit slow to create the wells if they don't already exist. Patience!

## Well Data

<h3>Core (Core Interval)</h3>

In [ ]:
if data_source == 'web':
    df_core = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_core&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=165.225.81.99&CultureCode=en')

if data_source == 'file':
    df_core = pd.read_excel('input data/wellbore_core.xlsx')
    
df_core.head(3)

In [ ]:
df_core = df_core.replace(0, np.nan)
df_core.head(3)

In [ ]:
df_core.isnull().sum()

In [ ]:
filt = (df_core['Core sample - top depth'].isnull()) | (df_core['Core sample -  bottom depth'].isnull()) | (df_core['Core sample depth - uom'].isnull())

# (df_core['Core sample - top depth'] == 0.0) | (df_core['Core sample -  bottom depth'] == 0.0) |

df_core[filt].count()
df_core[filt]

In [ ]:
df_core = df_core[~filt]
df_core

In [ ]:
#df_core.isnull().sum()

In [ ]:
df_core['Core sample depth - uom'].unique()

In [ ]:
for index, row in df_core.iterrows():
    if row['Core sample depth - uom'] == '[ft  ]':
        df_core.loc[index, 'Top depth'] = (row['Core sample - top depth'] * 0.3048)
    else:
        df_core.loc[index, 'Top depth'] = row['Core sample - top depth']

In [ ]:
for index, row in df_core.iterrows():
    if row['Core sample depth - uom'] == '[ft  ]':
        df_core.loc[index, 'Base depth'] = (row['Core sample -  bottom depth'] * 0.3048)
    else:
        df_core.loc[index, 'Base depth'] = row['Core sample -  bottom depth']

In [ ]:
df_core.isnull().sum()

In [ ]:
df_core.dtypes
# Note extra space in 'Core sample -  bottom depth'

In [ ]:
df_core = df_core[['Wellbore', 'NPDID wellbore', 'Top depth', 'Base depth', 'Core sample number', ]].round(2)
df_core

In [ ]:
# Rename columns
rename_cols = {'Wellbore' : 'Well',
               'Core sample number': 'Legend'
               }
    
# Apply renaming
df_core.rename(columns=rename_cols, inplace=True)
df_core.head(3)

In [ ]:
# Output file
output_to_csv(outname='wellbore_core', df=df_core)

<h3>Core Photos</h3>

In [ ]:
# Outputs three files:
    # wellbore_core_photo_ERRONEOUS_withURL.csv (erroneous 'Core photo title' columns)
    # wellbore_core_photo_withURL.csv
    # wellbore_core_photo.csv

In [ ]:
if data_source == 'web':
    df_core_photo = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_core_photo&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.129.189&CultureCode=en')

if data_source == 'file':
    df_core_photo = pd.read_excel('input data/wellbore_core_photo.xlsx')

df_core_photo.head(3)

In [ ]:
df_core_photo = df_core_photo.drop('Date updated', 1)

In [ ]:
# See https://pythex.org/

# Match pattern:
# 10208-10228ft
# 1802-1805m

pat = '\d{3,5}-\d{3,5}\D{1,2}'
    
#filt = df_core_photo['Core photo title'].str.extract(pat)
filt = df_core_photo['Core photo title'].str.contains(pat)

# Check rows that match pattern
df_core_photo[filt].head(3)

In [ ]:
# Check rows that do not match pattern and make corrections
df_core_photo[~filt]

In [ ]:
# Note 95 rows with erroneous values
# Apply obvious corrections then drop the rest.

# Values for well 2/4-X-47 are obviously in ft.
filt_correction = df_core_photo['Wellbore'] == '2/4-X-47'
df_core_photo.loc[filt_correction, 'Core photo title'] = (df_core_photo['Core photo title'] + 'm')
df_core_photo.loc[filt_correction]

# There are other obvious corrections to be made, but leave for now.
# Example below, but don't do this on .loc as index may as more wells added.

#['Core photo title'].loc[14234] = '2482-2483m'

In [ ]:
# Assign rows that do not match pattern to new dataframe

df_core_photo_ERRONEOUS = df_core_photo[~filt]
df_core_photo_ERRONEOUS

# Output data
output_to_csv(outname='wellbore_core_photo_ERRONEOUS_withURL', df=df_core_photo_ERRONEOUS)

In [ ]:
# Keep only rows that do match pattern
# Dumps the rest (e.g. '2044', 'Core 2')

df_core_photo = df_core_photo[filt]
print(df_core_photo.shape)
df_core_photo

In [ ]:
# Check for null values
df_core_photo.isna().sum()

In [ ]:
# Check datatypes
df_core_photo.dtypes

In [ ]:
df_core_photo['Core photo title'].replace({'mj': 'm', #one erroneous 'mj' value
                                           'n': ',m', #one erroneous 'n' value
                                           'm': ',m', #then replace all 'm'
                                           'M': ',m',
                                           'ft': ',ft',
                                           'FT': ',ft'
                                          }, regex=True, inplace=True)

df_core_photo['Core photo title'].replace({'-': ','}, regex=True, inplace=True)

df_core_photo.head(3)

In [ ]:
df_core_photo.tail()

In [ ]:
df_core_photo[['Top depth', 'Base depth', 'Unit']] = df_core_photo['Core photo title'].str.split(pat=',', n=2, expand=True)
df_core_photo

In [ ]:
df_core_photo['Unit'].unique()

In [ ]:
# Drop columns that contain nulls
df_core_photo.isna().sum()

In [ ]:
df_core_photo

In [ ]:
df_core_photo.dtypes

In [ ]:
# Convert all top depths to metres

for index, row in df_core_photo.iterrows():
    if row['Unit'] == 'ft':
        df_core_photo.loc[index, 'Top depth'] = int(row['Top depth']) * 0.3048
    else:
        df_core_photo.loc[index, 'Top depth'] = int(row['Top depth'])

In [ ]:
# Convert all base depths to metres

for index, row in df_core_photo.iterrows():
    if row['Unit'] == 'ft':
        df_core_photo.loc[index, 'Base depth'] = int(row['Base depth']) * 0.3048
    else:
        df_core_photo.loc[index, 'Base depth'] = int(row['Base depth'])

In [ ]:
df_core_photo.round(2).head(3)

In [ ]:
# Add a new column with the filepath, e.g. '.\core_photo_jpgs\9_3-1\921_01_1798-1802m.jpg'
# Where . represents the current directory

df_core_photo['Folder'] = df_core_photo['Wellbore'].str.replace('/', '_')
df_core_photo['Legend'] = '.\\' + 'core_photo_jpgs\\' + df_core_photo['Folder'] + '\\'+ df_core_photo['Core photo URL'].str.split('/').str[-1]

df_core_photo

# If you only want file name use:
# df_core_photo['Legend'] = '.\\' + df_core_photo['Core photo URL'].str.split('/').str[-1]
# df_core_photo

In [ ]:
# Rename columns
rename_cols = {'Wellbore' : 'Well'}

# Apply renaming
df_core_photo.rename(columns=rename_cols, inplace=True)
df_core_photo

In [ ]:
# Output file that includes URLs before going on to generate file for IC
output_to_csv(outname='wellbore_core_photo_withURL', df=df_core_photo)

In [ ]:
df_core_photo = df_core_photo[['Well', 'NPDID wellbore', 'Top depth', 'Base depth', 'Legend']]
df_core_photo.head(3)

In [ ]:
# Output file
output_to_csv(outname='wellbore_core_photo', df=df_core_photo)

<h3>Thin Section</h3>

In [ ]:
if data_source == 'web':
    df_thin_section = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_thin_section&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')

if data_source == 'file':
    df_thin_section = pd.read_excel('input data/wellbore_thin_section.xlsx')

In [ ]:
print(df_thin_section.shape)
df_thin_section.head(3)

In [ ]:
df_thin_section['Unit'].unique()

In [ ]:
df_thin_section.isna().sum()

In [ ]:
for index, row in df_thin_section.iterrows():
    if row['Unit'] == '[ft  ]':
        df_thin_section.loc[index, 'Depth'] = row['Depth'] * 0.3048
    else:
        df_thin_section.loc[index, 'Depth'] = row['Depth']
        
df_thin_section.drop(columns='Unit', inplace=True)

In [ ]:
df_thin_section.head(3)

In [ ]:
for index, row in df_thin_section.iterrows():
    df_thin_section.loc[index, 'Legend'] = 'Thin section no. ' + str(row['Number'])
    
df_thin_section.head(3)

In [ ]:
# Rename columns
rename_cols = {'Wellbore' : 'Well'}
    
# Apply renaming
df_thin_section.rename(columns=rename_cols, inplace=True)
df_thin_section

In [ ]:
df_thin_section = df_thin_section[['Well', 'NPDID wellbore', 'Depth', 'Legend']]
df_thin_section = df_thin_section.round(2)
df_thin_section

In [ ]:
# Output file
output_to_csv(outname='wellbore_thin_section', df=df_thin_section)

In [ ]:
# Point - comment
# No new IC data types

<h3>CO2</h3>

In [ ]:
if data_source == 'web':
    df_co2 = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_co2&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en',
                     skiprows=[0])

if data_source == 'file':
    df_co2 = pd.read_excel('input data/wellbore_co2.xlsx', sheet_name='wellbore_co2', 
                           skiprows=[0])

In [ ]:
print(df_co2.shape)
df_co2.head(3)

In [ ]:
df_co2.drop(labels='Unnamed: 0', axis=1, inplace=True)
df_co2

In [ ]:
df_co2.isna().sum()

In [ ]:
df_co2.drop(labels=['Sample method', 'Date sync NPD'], axis=1, inplace=True)

In [ ]:
df_co2.columns

In [ ]:
# Rename columns
rename_cols = {'Wellbore name' : 'Well',
               'Sample top depth [m]' : 'Top depth',
               'Sample bottom depth [m]' : 'Base depth'
               }
    
# Apply renaming
df_co2.rename(columns=rename_cols, inplace=True)
df_co2

In [ ]:
# Output file
output_to_csv(outname='wellbore_co2', df=df_co2)

<h3>Oil Samples</h3>

In [ ]:
if data_source == 'web':
    df_oil_sample = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_oil_sample&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')

if data_source == 'file':
    df_oil_sample = pd.read_excel('input data/wellbore_oil_sample.xlsx')

In [ ]:
print(df_oil_sample.shape)
df_oil_sample.head(3)

In [ ]:
df_oil_sample.isna().sum()

In [ ]:
df_oil_sample.drop(labels=['Date updated', 'Date sync NPD'], axis=1, inplace=True)

In [ ]:
df_oil_sample.columns

In [ ]:
# Rename columns
rename_cols = {'Wellbore' : 'Well',
               'Top depth MD [m]' : 'Top depth',
               'Bottom depth MD [m]' : 'Base depth'
               }
    
# Apply renaming
df_oil_sample.rename(columns=rename_cols, inplace=True)
df_oil_sample

In [ ]:
df_oil_sample

In [ ]:
# Output file
output_to_csv(outname='wellbore_oil_sample', df=df_oil_sample)

In [ ]:
df_oil_sample.columns

# What to do about rows with only with 0/Nan values?

<h3>Lithostratigraphy</h3>

In [ ]:
# Lithostrat available in two places. 
# Compare the length, and number of unique wells in both sources.

# (A) NPD FactPages > Wellbore > Table View > With > Lithostratigraphy
    # File: wellbore_formation_top.xlsx
    # Sheet: wellbore_formation_top
    # Link: https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_formation_top&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en

df_a = pd.read_excel('input data/wellbore_formation_top.xlsx', sheet_name='wellbore_formation_top')
print('Source A:', df_a.shape)
print(df_a['Wellbore name'].nunique())

# (B) NPD FactPages > Stratigraphy > Table View > Wellbores
    # File: strat_litho_wellbore.xlsx
    # Sheet: strat_litho_wellbore
    # Link: https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/strat_litho_wellbore&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en

df_b = pd.read_excel('input data/strat_litho_wellbore.xlsx', sheet_name='strat_litho_wellbore')
print('Source B:', df_b.shape)
print(df_b['Wellbore name'].nunique())

# Both contain the same number of rows.
# Source A is preferrable as it has an exra column, 'Lithostrat. unit, parent'
# which will come in handy assigning parents to each text dictionary entry.

In [ ]:
# Use Source A

if data_source == 'web':
    df_lithostrat = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_formation_top&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')
    
if data_source == 'file':
    df_lithostrat = pd.read_excel('input data/wellbore_formation_top.xlsx')

# Print column titles
print("Lithostratigraphy wellbore well header column titles:")
print(list(df_lithostrat.columns))

In [ ]:
(num_lithostrat_rows, num_lithostrat_cols) = df_lithostrat.shape
print('{} rows and {} columns in Exploration wells.'.format(num_lithostrat_rows, num_lithostrat_cols))

In [ ]:
df_lithostrat.head(3)

In [ ]:
df_lithostrat.tail()

In [ ]:
#Rename columns for csv
rename_stratcols = {'Wellbore name' : 'Well',
                    'Top depth [m]' : 'Top depth',
                    'Bottom depth [m]' : 'Base depth',
                    'Lithostrat. unit' : 'Legend'
                    }

#Apply renaming to dataframe
df_lithostrat.rename(columns=rename_stratcols, inplace=True)

# Create new dataframe called "df_formation_top"
# Need to keep other columns df_lithostrat for later when writing to database

df_formation_top = df_lithostrat[['Well', 'Top depth', 'Base depth', 'Legend']]
df_formation_top.head(3)

In [ ]:
# Output file
output_to_csv(outname='wellbore_formation_top', df=df_formation_top)

<h3>Drill stem tests</h3>

In [ ]:
if data_source == 'web':
    df_dst = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_dst&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')

if data_source == 'file':
    df_dst = pd.read_excel('input data/wellbore_dst.xlsx')

In [ ]:
print(df_dst.shape)
df_dst.head(20)

In [ ]:
df_dst.isna().sum()

In [ ]:
df_dst.drop(labels=['Date updated', 'Date sync NPD'], axis=1, inplace=True)

In [ ]:
df_dst.columns

In [ ]:
#Rename well header columns to match dbo.WELLS (does capitalisation matter?)
rename_cols = {'Wellbore' : 'Well',
               'From depth MD [m]' : 'Top depth',
               'To depth MD [m]' : 'Base depth'
               }
    
#Apply renaming
df_dst.rename(columns=rename_cols, inplace=True)
df_dst.head(20)

In [ ]:
# Output file
output_to_csv(outname='wellbore_dst', df=df_dst)

<h3>Casing and leak-off tests</h3>

In [ ]:
if data_source == 'web':
    df_casinglot = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_casing_and_lot&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')

if data_source == 'file':
    df_casinglot = pd.read_excel('input data/wellbore_casing_and_lot.xlsx')

In [ ]:
print(df_casinglot.shape)
df_casinglot.head(3)

In [ ]:
df_casinglot.isna().sum()

In [ ]:
df_casinglot.drop(labels=['Date updated', 'Date sync NPD'], axis=1, inplace=True)

In [ ]:
df_casinglot.columns

In [ ]:
# Rename columns
rename_cols = {'Wellbore' : 'Well',
               'Casing depth [m]' : 'Depth'
               }
    
# Apply renaming
df_casinglot.rename(columns=rename_cols, inplace=True)
df_casinglot

In [ ]:
# Output file
output_to_csv(outname='wellbore_casing_and_lot', df=df_casinglot)

<h3>Drilling mud</h3>

In [ ]:
if data_source == 'web':
    df_mud = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_mud&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.189&CultureCode=en')
    
if data_source == 'file':
    df_mud = pd.read_excel('input data/wellbore_mud.xlsx')

In [ ]:
print(df_mud.shape)
df_mud.head(3)

In [ ]:
# Drop blank first column
df_mud.drop(labels='Unnamed: 0', axis=1, inplace=True)
df_mud.head(3)

In [ ]:
df_mud.isna().sum()

In [ ]:
df_mud.drop(labels=['Date updated', 'Date sync NPD'], axis=1, inplace=True)

In [ ]:
df_mud.columns

In [ ]:
# Rename columns
rename_cols = {'Wellbore' : 'Well',
               'Depth MD [m]' : 'Depth'
               }
    
# Apply renaming
df_mud.rename(columns=rename_cols, inplace=True)
df_mud

In [ ]:
# Output file
output_to_csv(outname='wellbore_mud', df=df_mud)

<h3>Documents</h3>

In [ ]:
if data_source == 'web':
    df_document = pd.read_excel('https://factpages.npd.no/ReportServer_npdpublic?/FactPages/TableView/wellbore_document&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&rs:Format=EXCEL&Top100=false&IpAddress=108.171.128.188&CultureCode=en')
    
if data_source == 'file':
    df_document = pd.read_excel('input data/wellbore_document.xlsx')

df_document

In [ ]:
df_document['Title'] = df_document['Wellbore'] + ' ' + df_document['Document type'] + ': ' + df_document['Document name'] + ' (' + df_document['Document format'] + ')'
df_document[['Wellbore', 'Title']].tail(10)

In [ ]:
df_document = df_document[['Wellbore', 'NPDID wellbore', 'Title', 'Document URL']]
df_document

In [ ]:
# Output file
output_to_csv(outname='wellbore_document', df=df_document)

<h3>References and Documents combined</h3>

In [ ]:
# Rename columns in both df_document and df_explo_references before merge

# Rename columns in df_document
rename_cols = {'Wellbore' : 'Well',
               'Document URL' : 'URL'}
    
#Apply renaming
df_document.rename(columns=rename_cols, inplace=True)
df_document

In [ ]:
# Rename columns in df_explo_references
rename_cols = {'Name' : 'Well'}
    
#Apply renaming
df_explo_references.rename(columns=rename_cols, inplace=True)
df_explo_references.head(3)

In [ ]:
# Combine References and Documents dataframes
df_refs_and_docs = df_explo_references.append(df_document) 
df_refs_and_docs.sort_values(['Well', 'Title'], ascending=[True, False], ignore_index=True, inplace=True)
df_refs_and_docs.head(20)

In [ ]:
# Output file
output_to_csv(outname='wellbore_references_and_documents', df=df_refs_and_docs)

<h3>Summary</h3>

In [ ]:
df_summary = pd.DataFrame({'Data type':
                        ['Exploration well header',
                         'Development well header',
                         'Exploration reference',
                         'Development reference',
                         'Core',
                         'Core photo',
                         'Thin section',
                         'CO2',
                         'Oil sample',
                         'Lithostratigraphy',
                         'Drill stem test',
                         'Casing and leak-off test',
                         'Drilling mud',
                         'Document',
                         'Document & Reference combined'
                        ], 
                        'No. unique wells':
                        [df_explo['Name'].nunique(),
                         df_dev['Name'].nunique(),
                         df_explo_references['Well'].nunique(),
                         df_dev_references['Name'].nunique(),
                         df_core['Well'].nunique(),
                         df_core_photo['Well'].nunique(),
                         df_thin_section['Well'].nunique(),
                         df_co2['Well'].nunique(),
                         df_oil_sample['Well'].nunique(),
                         df_formation_top['Well'].nunique(),
                         df_dst['Well'].nunique(),
                         df_casinglot['Well'].nunique(),
                         df_mud['Well'].nunique(),
                         df_document['Well'].nunique(),
                         df_refs_and_docs['Well'].nunique()
                        ],
                        'No. records':
                        [df_explo['Name'].shape[0],
                         df_dev['Name'].shape[0],
                         df_explo_references['Well'].shape[0],
                         df_dev_references['Name'].shape[0],
                         df_core['Well'].shape[0],
                         df_core_photo['Well'].shape[0],
                         df_thin_section['Well'].shape[0],
                         df_co2['Well'].shape[0],
                         df_oil_sample['Well'].shape[0],
                         df_formation_top['Well'].shape[0],
                         df_dst['Well'].shape[0],
                         df_casinglot['Well'].shape[0],
                         df_mud['Well'].shape[0],
                         df_document['Well'].shape[0],
                         df_refs_and_docs['Well'].shape[0]]
                       })

print('Data for', (df_explo['Name'].nunique()+df_dev['Name'].nunique()), 'wells in total.')

#Add thousands separators
df_summary['No. unique wells'] = df_summary['No. unique wells'].apply(lambda x : "{:,}".format(x))
df_summary['No. records'] = df_summary['No. records'].apply(lambda x : "{:,}".format(x))
df_summary = df_summary.style.hide_index()
df_summary

In [ ]:
#break me here

# Import data to SQL Server database

## Configure and connect to database

In [ ]:
params = 'DRIVER={ODBC Driver 13 for SQL Server};' \
         'SERVER=5SQFPQ2\SQLEXPRESS;' \
         'PORT=1433;' \
         'DATABASE=Test51;' \
         'Trusted_Connection=yes;'
            
params = urllib.parse.quote_plus(params)

engine = create_engine('mssql+pyodbc:///?odbc_connect=%s' % params, echo = True)

metadata = MetaData()
  
connection = engine.connect()
                       
#pp.pprint(repr(wells))

In [ ]:
# Get current time for use in Created and Modified columns

now = datetime.now()
now

timestampStr = now.strftime("%Y-%m-%d %H:%M:%S.%f")
print('Current Timestamp : ', timestampStr)

In [ ]:
# Convert 'now' timestamp to OLE date/variant date

def datetime2ole(date):
    
    #convert date string to a datetime object
    date = datetime.strptime(date, "%Y-%m-%d %H:%M:%S.%f")
    
    #Calculate OLE manually from OLE origin date
    OLE_TIME_ZERO = datetime(1899, 12, 30)
    delta = date - OLE_TIME_ZERO
    
    return float(delta.days) + (float(delta.seconds) / 86400)  # 86,400 seconds in day

now = datetime2ole(timestampStr)
now

### Create new Tables in Database

In [ ]:
# Create new table in database for each item is list

new_table_names = ['DATA_Core_NPD',
                   'DATA_Petrography_NPD',
                   'DATA_CO2_NPD',
                   'DATA_OilSample_NPD',
                   'DATA_Lithostrat_NPD',
                   'DATA_DST_NPD',
                   'DATA_CasingLOT_NPD',
                   'DATA_DrillingMud_NPD',
                   'DATA_Tops_NPD']

for new_table_name in new_table_names:
    
    # Template for 'DATA_' tables in IC
    
    students = Table(
        new_table_name, metadata,
        Column('pk_index', Integer, primary_key=True, nullable=False), # [pk_index] [int] IDENTITY(1,1) NOT NULL,
        Column('data_type', Integer),
        Column('top_depth', Float),
        Column('base_depth', Float),
        Column('top_boundary', SmallInteger),
        Column('base_boundary', SmallInteger),
        Column('symbol_id', Integer),
        Column('legend', NVARCHAR),
        Column('interpreter', NVARCHAR(6)),
        Column('created', Float),
        Column('modified', Float),
        Column('obsno', Integer),
        Column('mindepth', Float),
        Column('maxdepth', Float),
        Column('remark', NVARCHAR(80)),
        Column('geofeature', NVARCHAR(40)),
        Column('dipangle', Float),
        Column('dipazimuth', Float),
        Column('age', Float),
        Column('owconf', NVARCHAR(2)),
        Column('owqual', NVARCHAR(4)),
        Column('owkind', NVARCHAR(42)),
        Column('owbaseconf', NVARCHAR(2)),
        Column('owbasequal', NVARCHAR(4)),
        Column('owbasekind', NVARCHAR(42)),
        Column('top_age', Float),
        Column('base_age', Float),
        Column('f_interpid', Integer),
        Column('creator', NVARCHAR(64)),
        Column('modifier', NVARCHAR(64)),
        Column('abr', NVARCHAR(80)),
        Column('source', NVARCHAR(255)),
        Column('attr', NVARCHAR),
        Column('well_id', Integer),
              )
    
    metadata.create_all(engine)

### Modify dbo.tablenames (insert IC Data Tables)

In [ ]:
sql = '''

INSERT INTO dbo.tablenames 
(tabletype, tablename, tabledescription, hascores, fileprefix, interp, samplebased, f_tableid)
VALUES 
('I', 'DATA_Core_NPD', 'Core (NPD)', 'False', 'A', '2', '0', '900'),
('I', 'DATA_Petrography_NPD', 'Petrography (NPD)', 'False', 'A', '2', '0', '901'),
('I', 'DATA_CO2_NPD', 'CO2 Content (NPD)', 'False', 'A', '2', '1', '902'),
('I', 'DATA_OilSample_NPD', 'Oil Sample (NPD)', 'False', 'A', '2', '1', '903'),
('I', 'DATA_Lithostrat_NPD', 'Lithostratigraphy (NPD)', 'False', 'A', '2', '0', '904'),
('I', 'DATA_DST_NPD', 'Drill Stem Test (NPD)', 'False', 'A', '2', '1', '905'),
('I', 'DATA_CasingLOT_NPD', 'Casing and LOT (NPD)', 'False', 'A', '2', '1', '906'),
('I', 'DATA_DrillingMud_NPD', 'Drilling Mud (NPD)', 'False', 'A', '2', '1', '907'),
('I', 'DATA_Tops_NPD', 'Tops (NPD)', 'False', 'A', '2', '0', '908');

'''
#pd.read_sql_query(sql, engine)
with engine.begin() as conn:
    conn.execute(sql)

In [ ]:
# Each IC Data Table is assigned a number, as above
# Assign these to variables for use elsewhere
# Used for tablenames.f_tableid and INTERVALCOLUMNS.dest_table

core_npd_tablenum = 900
petrography_tablenum = 901
co2_content_tablenum = 902
oil_sample_tablenum = 903
lithostrat_tablenum = 904
dst_tablenum = 905
casinglot_tablenum = 906
drillingmud_tablenum = 907
tops_tablenum = 908

### Function to create new IC Data Types

In [ ]:
# Create list of default intervalcolumn values
# Create list of valid IC data "styles"
# Function intervalcolumns_variations to create new data types

intervalcolumns_def = {'data_type': 0, #int
                        'dest_table': 0, #int
                        'description': 'description', #nvarchar(80)
                        'title': 'title', #nvarchar(80)
                        'graphic': 0, #bit
                        'zonal': 0, #bit
                        'boundaries': 0, #bit
                        'legend': 0, #bit
                        'dic_driven': 0, #bit
                        'col_width': 15, #real
                        'back_colour': '1;12648447;255', #nvarchar(50)
                        'brush_style': 0, #smallint
                        'hatch_style': 0, #smallint
                        'int_colour': '8;12648447;8454143', #nvarchar(50)
                        'row_height': 15, #smallint
                        'table_header': 'Legend', #nvarchar(50)
                        'horiz_justify': 1, #int
                        'vert_justify': 1, #smallint
                        'orientation': 0, #smallint
                        'fontname': 'Arial', #nvarchar(50)
                        'fontsize': 8, #smallint
                        'fontweight': 0, #smallint
                        'fontitalic': 0, #smallint
                        'fontunderline': 0, #smallint
                        'fontcolour': 0, #int
                        'plotwith': 0, #nvarchar(20)
                        'style': 'I', #nvarchar(50)
                        'maximum': 100, #real
                        'minimum': 0, #real
                        'units': '_', #nvarchar(10)
                        'horiz_grid': 0, #smallint
                        'chartstyle': 0, #smallint
                        'plotsymbol': 0, #int
                        'labelpoints': 0, #smallint
                        'mergeevents': 0, #smallint
                        'eventalign': 0, #smallint
                        'sbugs_igdtype': 0, #int
                        'sbugs_igdplotpos': 0, #int
                        'allowoverlap': 0, #smallint
                        'alttable': 'NULL', #nvarchar(30)
                        'altfield': 'NULL', #nvarchar(30)
                        'plotassequence': 0, #smallint
                        'owinterp': 'NULL', #nvarchar(30)
                        'ordering': 0, #smallint
                        'wellcore': 0, #smallint
                        'surface': 0, #smallint
                        'f_order': 0, #smallint
                        'isdepthage': 0, #smallint
                        'f_style': 0, #int
                        'f_coreshiftid': 0 #int
                         }

#intervalcolumns_defaults

In [ ]:
valid_styles = ['interval_text-boundaries',
                'interval_text-noboundaries',
                'interval_notext-boundaries',
                'interval_notext-noboundaries',
                'interval_graphicfill-noboundaries',
                'interval_externalimagefile',
                'interval_value',
                'interval_comment',
                'interval_text-systemtract',
                'point_pick-noboundary',
                'point_pick-sequenceboundary',
                'point_pick-boundary',
                'point_comment',
                'point_value',
                'point_depth-agemapping',
                'point_occurrenceevent',
                'pointsample',
                'point_symboltext',
                'graphicqualifier',
                'welltest-perforation',
                'wellcore'
               ]

#valid_styles

In [ ]:
# Function to build IC Data Types

# Known knowns:
# I know what Data Table I want to use (desttable)
# And need to provide a unique datatype
# I know what I want to name my Data Type (description and title)
# With a known style (e.g. interval_value)
# So pass in desttable, datatype, title and style.


def intervalcolumns_var(desttable, datatype, title, style):
    
    # Start with default values for dbo.INTERVALCOLUMNS
    #intervalcolumns_dict = copy.deepcopy(intervalcolumns_def)
    intervalcolumns_dict = intervalcolumns_def.copy()
    #intervalcolumns_dict = intervalcolumns_def
    
    # Update with values passed into function
    intervalcolumns_dict.update({'data_type': datatype, 'dest_table': desttable, 'description': title, 'title': title})
    
    # Then update other values based on the style of IC Data Type
    
    if style == 'interval_text-boundaries':
        intervalcolumns_dict.update({'zonal': 1, 'boundaries': 1, 'legend': 1})
        
    elif style == 'interval_text-noboundaries':
        intervalcolumns_dict.update({'zonal': 1, 'legend': 1})

    elif style == 'interval_notext-boundaries': 
        intervalcolumns_dict.update({'zonal': 1, 'boundaries': 1})
        
    elif style == 'interval_notext-noboundaries':
        intervalcolumns_dict.update({'zonal': 1})
        
    elif style == 'interval_graphicfill-noboundaries':
        intervalcolumns_dict.update({'graphic': 1, 'zonal': 1, 'dic_driven': 1})
        
    elif style == 'interval_externalimagefile':
        intervalcolumns_dict.update({'graphic': 1, 'zonal': 1, 'style': 'IMAGEFILE'})
        
    elif style == 'interval_value':
        intervalcolumns_dict.update({'zonal': 1, 'style': 'H', 'maximum': -2})

    elif style == 'interval_comment':
        intervalcolumns_dict.update({'zonal': 1, 'legend': 1, 'row_height': 45, 'style': 'C'})
        
    elif style == 'interval_text-systemtract':
        intervalcolumns_dict.update({'zonal': 1, 'legend': 1, 'plot_as_sequence': 1})
        
    elif style == 'point_pick-noboundary':
        intervalcolumns_dict.update({'legend': 1, 'int_colour': '1;12648447;255'})
        
    elif style == 'point_pick-sequenceboundary':
        intervalcolumns_dict.update({'boundaries': 1, 'legend': 1, 'plot_as_sequence': 1})
        
    elif style == 'point_pick-boundary':
        intervalcolumns_dict.update({'boundaries': 1, 'legend': 1, 'int_colour': '1;12648447;255'})

    elif style == 'point_comment':
        intervalcolumns_dict.update({'legend': 1, 'int_colour': '1;12648447;255', 'row_height': 45, 'style': 'C'})

    elif style == 'point_value':
        intervalcolumns_dict.update({'int_colour': '1;12648447;255', 'style': 'H', 'f_style': 189})
        
    elif style == 'point_depth-agemapping':
        intervalcolumns_dict.update({'int_colour': '1;12648447;255', 'style': 'H', 'f_style': 190})
        
    elif style == 'point_occurrenceevent':
        intervalcolumns_dict.update({'legend': 1, 'dic_driven': 1, 'int_colour': '1;12648447;255', 'table_header': 'Event', 'style': 'E'})
        
    elif style == 'pointsample':
        intervalcolumns_dict.update({'graphic': 1, 'legend': 1, 'dic_driven': 1, 'int_colour': '1;12648447;255', 'style': 'SA'})
        
    elif style == 'point_symboltext':
        intervalcolumns_dict.update({'graphic': 1, 'legend': 1, 'int_colour': '1;12648447;255', 'style': 'SC'})
        
    elif style == 'graphicqualifier':
        intervalcolumns_dict.update({'graphic': 1, 'dic_driven': 1, 'int_colour': '1;12648447;255', 'style': 'S'})
        
    elif style == 'welltest-perforation':
        intervalcolumns_dict.update({'zonal': 1, 'legend': 1, 'style': 'ENGDATA'})
        
    elif style == 'wellcore':
        intervalcolumns_dict.update({'zonal': 1, 'legend': 1, 'wellcore': 1})
        
    else:
        print('Invalid style')
    
    lst = list(intervalcolumns_dict.values())
    return lst

    # Clear the dictionary after each execution so clean copy is made of defaults
    intervalcolumns_dict.clear()
    
    #print(intervalcolumns_dict)

cols = list(intervalcolumns_def)
cols_set = (', '.join(cols))

In [ ]:
# Generate datatype numbers using next() function
dtypenums = list(range(9000, 9050, 1))
dtypenums_iter = iter(dtypenums)

# Cores (NPD) > Core Interval (NPD) and Core Photo (NPD)
vals_0 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = core_npd_tablenum, title = 'Core Interval (NPD)', style = 'wellcore')
vals_1 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = core_npd_tablenum, title = 'Core Photo (NPD)', style = 'interval_externalimagefile')

# Petrography (NPD)
vals_2 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = petrography_tablenum, title = 'Thin Section (NPD)', style = 'point_comment')

# CO2 (NPD) - interval data
vals_3 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = co2_content_tablenum, title = 'Sample sequence number (NPD)', style = 'interval_value')
vals_4 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = co2_content_tablenum, title = 'CO2 [vol %] (NPD)', style = 'interval_value')
vals_5 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = co2_content_tablenum, title = 'Sample type (NPD)', style = 'interval_comment')

# Oil Sample (sample data, intervals)
vals_6 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = oil_sample_tablenum, title = 'Test type (NPD)', style = 'interval_comment')
vals_7 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = oil_sample_tablenum, title = 'Bottle number (NPD)', style = 'interval_comment')
vals_8 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = oil_sample_tablenum, title = 'Fluid type (NPD)', style = 'interval_comment')
vals_9 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = oil_sample_tablenum, title = 'Test time (NPD)', style = 'interval_comment')
vals_10 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = oil_sample_tablenum, title = 'Received date (NPD)', style = 'interval_comment')

# Lithostratigraphy (NPD)
vals_11 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = lithostrat_tablenum , title = 'Group (NPD)', style = 'interval_text-noboundaries')
vals_12 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = lithostrat_tablenum , title = 'Formation (NPD)', style = 'interval_text-noboundaries')
vals_13 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = lithostrat_tablenum , title = 'Member (NPD)', style = 'interval_text-noboundaries')

# Drill Stem Test (NPD) -sample data, intervals <--- note existing table "Drill Stem Tests - DST"
vals_14 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'Test number (NPD)', style = 'interval_value')
vals_15 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'Choke size [mm] (NPD)', style = 'interval_value')
vals_16 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'Final shut-in pressure [MPa] (NPD)', style = 'interval_value')
vals_17 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'Final flow pressure [MPa] (NPD)', style = 'interval_value')
vals_18 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'Bottom hole pressure [MPa] (NPD)', style = 'interval_value')
vals_19 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'Oil [Sm3/day] (NPD)', style = 'interval_value')
vals_20 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'Gas [Sm3/day] (NPD)', style = 'interval_value')
vals_21 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'Oil density [g/cm3] (NPD)', style = 'interval_value')
vals_22 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'Gas grav. rel.air (NPD)', style = 'interval_value')
vals_23 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'GOR [m3/m3] (NPD)', style = 'interval_value')
vals_24 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = dst_tablenum, title = 'Downhole temperature [°C] (NPD)', style = 'interval_value')

# casing/lot (sample data, points) <--- note existing table "Casing"
vals_25 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = casinglot_tablenum, title = 'Casing type (NPD)', style = 'point_comment')
vals_26 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = casinglot_tablenum, title = 'Casing diam. [inch] (NPD)', style = 'point_value')
vals_27 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = casinglot_tablenum, title = 'Hole diam. [inch] (NPD)', style = 'point_value')
vals_28 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = casinglot_tablenum, title = 'Hole depth[m] (NPD)', style = 'point_value')
vals_29 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = casinglot_tablenum, title = 'LOT mud eqv. [g/cm3] (NPD)', style = 'point_value')
vals_30 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = casinglot_tablenum, title = 'Formation test type (NPD)', style = 'point_comment')

# Drilling Mud (sample data, points)
vals_31 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = drillingmud_tablenum, title = 'Mud weight [g/cm3] (NPD)', style = 'point_value')
vals_32 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = drillingmud_tablenum, title = 'Visc. [mPa.s] (NPD)', style = 'point_value')
vals_33 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = drillingmud_tablenum, title = 'Yield point [Pa] (NPD)', style = 'point_value')
vals_34 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = drillingmud_tablenum, title = 'Mud type (NPD)', style = 'point_comment')
vals_35 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = drillingmud_tablenum, title = 'Date measured (NPD)', style = 'point_comment')

# Tops (NPD)
vals_36 = intervalcolumns_var(datatype = next(dtypenums_iter), desttable = tops_tablenum, title = 'Tops_ALL (NPD)', style = 'point_pick-noboundary')


sql_stmt_icdatatypes = str('INSERT INTO dbo.INTERVALCOLUMNS ({}) VALUES {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {};'.format(cols_set, vals_0, vals_1, vals_2, vals_3, vals_4,
                                                                                                                                                                                                                    vals_5, vals_6, vals_7, vals_8, vals_9, 
                                                                                                                                                                                                                    vals_10, vals_11, vals_12, vals_13, vals_14, 
                                                                                                                                                                                                                    vals_15, vals_16, vals_17, vals_18, vals_19, 
                                                                                                                                                                                                                    vals_20, vals_21, vals_22, vals_23, vals_24, 
                                                                                                                                                                                                                    vals_25, vals_26, vals_27, vals_28, vals_29, 
                                                                                                                                                                                                                    vals_30, vals_31, vals_32, vals_33, vals_34, 
                                                                                                                                                                                                                    vals_35, vals_36))

sql_stmt_icdatatypes = sql_stmt_icdatatypes.replace('[', '(').replace(']', ')') # Hack for SQL formatting
print(sql_stmt_icdatatypes)

In [ ]:
# Execute sql statement to create new IC Data Types

with engine.begin() as conn:
    conn.execute(sql_stmt_icdatatypes)

In [ ]:
# Review created IC Data Tables and Data Types

sql = '''
SELECT 
ic.dest_table, tn.tablename, tn.tabledescription, ic.data_type, ic.description
FROM dbo.tablenames AS tn
JOIN dbo.INTERVALCOLUMNS AS ic
ON tn.f_tableid = ic.dest_table
WHERE data_type >= 9000
ORDER BY ic.data_type;
'''
pd.read_sql_query(sql, engine)

### Create SQLAlchemy Table Objects

In [ ]:
wells = Table('WELLS', metadata, autoload=True, autoload_with=engine)
wellsuserfieldsvalues = Table('t_WellsUserFieldsValues', metadata, autoload=True, autoload_with=engine)
wellsuserfields = Table('t_WellsUserFields', metadata, autoload=True, autoload_with=engine)
projects = Table('PROJECTS', metadata, autoload=True, autoload_with=engine)
wellqueries = Table('WELLQUERIES', metadata, autoload=True, autoload_with=engine)
projectwells = Table('PROJECTWELLS', metadata, autoload=True, autoload_with=engine)
tablesnames = Table('tablenames', metadata, autoload=True, autoload_with=engine)
intervalcolumns = Table('INTERVALCOLUMNS', metadata, autoload=True, autoload_with=engine)
datacore = Table('DATA_Core_NPD', metadata, autoload=True, autoload_with=engine)
datapetrography = Table('DATA_Petrography_NPD', metadata, autoload=True, autoload_with=engine)
dataco2 = Table('DATA_CO2_NPD', metadata, autoload=True, autoload_with=engine)
dataoilsample = Table('DATA_OilSample_NPD', metadata, autoload=True, autoload_with=engine)
datalithostrat = Table('DATA_Lithostrat_NPD', metadata, autoload=True, autoload_with=engine)
datadrillstemtests = Table('DATA_DST_NPD', metadata, autoload=True, autoload_with=engine)
datacasing = Table('DATA_CasingLOT_NPD', metadata, autoload=True, autoload_with=engine)
datadrillingmud = Table('DATA_DrillingMud_NPD', metadata, autoload=True, autoload_with=engine)
datatops = Table('DATA_Tops_NPD', metadata, autoload=True, autoload_with=engine)
references_nglinks = Table('NG_LINKS', metadata, autoload=True, autoload_with=engine)

# = Table('', metadata, autoload=True, autoload_with=engine)

In [ ]:
# Create a function to select all rows from table

def sqlselect_rows(tablename):
    
    select_stmt = select(tablename)
    result = connection.execute(select_stmt)
    
    # Equivalent to:
    # result = engine.execute('SELECT * FROM PROJECTS')

    for row in result:
        print(row)
    
    result.close()

### Populate T_WELLQUERYFOLDERS and dbo.WELLQUERIES

In [ ]:
sql = '''

INSERT INTO dbo.T_WELLQUERYFOLDERS 
(f_key, f_value)
VALUES
('FolderIdCounter', '1'),
('Folder:1:Info', '{"FolderName":"NPD FactPages data"}'),
('Folder:1:Parent', 'ProjectFolder(1)'),
('Folder:ProjectFolder(1):SubFolders', '["1"]');

'''

#pd.read_sql_query(sql, engine)
with engine.begin() as conn:
    conn.execute(sql)

In [ ]:
# Create Well Queries to use with Dynamic Projects (creating queries first!)

wellqueries_data = {'invertresults' : (['0'] * 13),
                    'category' : ['ProjectFolder(1)', 
                                  'ProjectFolder(2)', 
                                  'ProjectFolder(3)', 
                                  'ProjectFolder(4)',
                                  '1', # catgory 1 is folder "NPD FactPages data"
                                  '1',
                                  '1',
                                  '1',
                                  '1',
                                  '1',
                                  '1',
                                  '1',
                                  '1'], 
                    'query_id' : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13'], 
                    'project_id' : (['-1'] * 13),
                    'title' : ['Country = NORWAY', 
                               'Location = North Sea', 
                               'Location = Norwegian Sea', 
                               'Location = Barents Sea',
                               'Core Intervals (NPD) has data logged',
                               'Core Photos (NPD) has data logged',
                               'Thin Sections (NPD) has data logged',
                               'CO2 Content (NPD) has data logged',
                               'Oil Samples (NPD) has data logged',
                               'Lithostrat - Group (NPD) has data logged',
                               'DST (NPD) has data logged',
                               'Casing & LOT (NPD) has data logged',
                               'Drilling Mud (NPD) has data logged'], 
                    'nentries' : (['1'] * 13),
                    'pencolour' : (['0'] * 13),
                    'enttype' : ['4', '4', '4', '4', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
                    'entdatatype' : ['0', '0', '0', '0', '9000', '9001', '9002', '9003', '9006', '9011', '9014', '9025', '9031'],
                    'entfunction' : ['=', 
                                     '=', 
                                     '=', 
                                     '=', 
                                     'Has data logged', 
                                     'Has data logged', 
                                     'Has data logged', 
                                     'Has data logged', 
                                     'Has data logged', 
                                     'Has data logged', 
                                     'Has data logged', 
                                     'Has data logged', 
                                     'Has data logged'],
                    'entvalue' : ['NORWAY', 
                                  'NORTH SEA', 
                                  'NORWEGIAN SEA', 
                                  'BARENTS SEA',
                                  '',
                                  '',
                                  '',
                                  '',
                                  '',
                                  '',
                                  '',
                                  '',
                                  ''], 
                    'entinfokey' : ['Country', 
                                    'Location', 
                                    'Location', 
                                    'Location',
                                    '',
                                    '',
                                    '',
                                    '',
                                    '',
                                    '',
                                    '',
                                    '',
                                    ''], 
                    'highlightstyle' : (['1'] * 13),
                    'highlightsymbol' : (['4198'] * 13)}

wellqueries_data

df_wellqueries = pd.DataFrame(wellqueries_data)

df_wellqueries

In [ ]:
# Write df to database

df_wellqueries.to_sql('WELLQUERIES', engine, if_exists='append', index = False)

print('dbo.WELLQUERIES')
sqlselect_rows([wellqueries])

<h3>Populate PROJECTS</h3>

In [ ]:
# Populate dbo.PROJECTS with relevant fields to create 4 new dynamic projects:
# ALL WELLS, NORWAY NORTH SEA, NORWAY NORWEGIAN SEA & NORWAY BARENTS SEA

# Blank IC database has 1 default project, 'NEW PROJECT'
# Rename this to 'NORWAY ALL WELLS' and set to dynamic project
# Add code to check for existing project_id so as not to conflict?

sql = '''
UPDATE dbo.PROJECTS
SET title = 'NORWAY ALL WELLS', Units = 'M', Map = 'NULL', datum = 4230, utmzone = 'ED50 / UTM zone 31N', TVD_datum = 'MSL', OWTranslation = 2, defchronodatatype = 0, deftwtdata = 'NULL', deffaultsdatatype = 0, defchronointerpid = 0, WellGroupField = 0, WellGroupFieldIsUserDefined = 0, WellOrderField = 0, WellOrderFieldIsUserDefined = 0, WellPatternTable = 'NULL', WellPatternTableLayerField = 'NULL', WellPatternTablePolygonField = 'NULL', DefaultSummaryCharts = '{}', DefaultWellstickTemplates = '{}', f_dynamic = 1, f_WellQueryId = 1
WHERE project_id = 1;
'''
#pd.read_sql_query(sql, engine)
with engine.begin() as conn:
    conn.execute(sql)

In [ ]:
# Create 3 new dynamic projects 

dyprojects_data = {'project_id' : ['2', '3', '4'],
                   'title' : ['NORWAY NORTH SEA', 'NORWAY NORWEGIAN SEA', 'NORWAY BARENTS SEA'],
                   #'client' : ['', '', ''],
                   #'jobno' : ['', '', ''],
                   #'code' : ['', '', ''],
                   #'notes' : ['', '', ''],
                   'Units' : 'M',
                   'Map' : ['NULL', 'NULL', 'NULL'],
                   'datum' : ['4230', '4230', '4230'],
                   'utmzone' : ['ED50 / UTM zone 31N', 'ED50 / UTM zone 32N', 'ED50 / UTM zone 34N'],
                   'TVD_datum' : 'MSL',
                   'OWTranslation' : '2', 
                   #'f_fieldname' : ['', '', '', ''],
                   'defchronodatatype' : '0',
                   #'deftstprops' : ['', '', '', ''],
                   'deftwtdata' : 'NULL',
                   'deffaultsdatatype' : '0',
                   'defchronointerpid' : '0',
                   'WellGroupField' : '0',
                   'WellGroupFieldIsUserDefined' : '0',
                   'WellOrderField' : '0',
                   'WellOrderFieldIsUserDefined' : '0',
                   'WellPatternTable' : 'NULL',
                   'WellPatternTableLayerField' : 'NULL',
                   'WellPatternTablePolygonField' : 'NULL',
                   #'RPMWellTypeField' : ['', '', '', ''],
                   #'DefaultRPMTemplates' : ['', '', '', ''],
                   'DefaultSummaryCharts' : '{}',
                   'DefaultWellstickTemplates' : '{}',
                   'f_dynamic' : '1',
                   'f_WellQueryId' : ['2', '3', '4']}

# Create temp index, not sent to db
df_dyprojects = pd.DataFrame(dyprojects_data, index = ['project_2', 'project_3', 'project_4'])
df_dyprojects.head(3)

In [ ]:
# Write df to database
# See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

df_dyprojects.to_sql('PROJECTS', engine, if_exists='append', index = False)

print('dbo.PROJECTS')
sqlselect_rows([projects])

<h3>Populate WELLS</h3>

In [ ]:
# Rename well header columns from NPD to match dbo.WELLS
# All column titles in dbo.WELLS table

rename_for_sql = {'Name' : 'name',
                'Alternate 1' : 'name1',
                'Operator' : 'client',
                'Licence number' : 'f_licenceNumber',
                'Intent' : 'intent',
                'Field' : 'field',
                'SPUD date' : 'spud_date',
                'Completion date' : 'completion_date',
                'Discovery name' : 'discovery_name',
                'Seismic line' : 'seismic_line',
                'Country' : 'country',
                'KBE' : 'kelly',
                'Terminal depth' : 'terminal_depth',
                'Water depth' : 'sea_bed',
                'Location' : 'location',
                'Facility' : 'facility',
                'Geodatum' : 'geodatum',
                'Latitude' : 'latitude',
                'Longitude' : 'longtitude', #spelled incorrectly to match column longtitude in dbo.WELLS
                'Grid system' : 'utmzone',
                'Surface X' : 'grid_x',
                'Surface Y' : 'grid_y',
                'Quadrant' : 'quadrant',
                'Block' : 'f_block'}
    
# Apply renaming to each of the dataframes
df_explo.rename(columns=rename_for_sql, inplace=True)
df_dev.rename(columns=rename_for_sql, inplace=True)

# QC renamed columns
print("Renamed attributes only:")
renamed_columns = list(rename_for_sql.values())
df_explo[renamed_columns].head(3)
# df_dev[renamed_columns].head(3)

In [ ]:
# Add new columns for dbo.WELLS that are not in well header file

df_explo['datum'] = 4
df_dev['datum'] = 4
df_explo['symbol_id'] = 3146 #correct later, refer to Status?
df_dev['symbol_id'] = 3146 #correct later, refer to Status?
df_explo['units'] = 'M'
df_dev['units'] = 'M'
df_explo['created'] = now
df_dev['created'] = now
df_explo['creator'] = 1 #correct later
df_dev['creator'] = 1 #correct later

# df_explo['modified'] = null
# df_dev['modified'] = null
# df_explo['modifier'] = null
# df_dev['modifier'] = null
# df_explo['project'] = null
# df_dev['project'] = null

# Check the result
df_explo[['name', 'datum', 'symbol_id', 'units', 'created', 'creator']].head(3)

In [ ]:
# Duplicate columns, preserving the original
df_explo['well_id'] = df_explo['NPDID wellbore']
df_dev['well_id'] = df_dev['NPDID wellbore']

df_explo['f_uwi'] = df_explo['NPDID wellbore']
df_dev['f_uwi'] = df_dev['NPDID wellbore']

df_explo['code'] = df_explo['name']
df_dev['code'] = df_dev['name']

# Limit seismic_line to match nvarchar(80) limit
df_explo["seismic_line"] = df_explo["seismic_line"].str[:80]

# Check the result
df_explo[['name', 'well_id', 'f_uwi', 'code', 'seismic_line']].head(n=10)

#### Explo wells

In [ ]:
# Filter and re-order explo_dbwells to match dbo.WELLS (filters out fields destined for User Fields!)

explo_dbowells_order = ["well_id", "units", "created", "creator", "modified", "modifier", "project", 
                        "sea_bed", "datum", "terminal_depth", "spud_date", "completion_date", "quadrant", "kelly", 
                        "symbol_id", "client", "utmzone", "code", "name", "field", "location", "country", "name1", 
                        "f_block", "grid_x", "grid_y", "latitude", "longtitude", "geodatum", "facility", "discovery_name", 
                        "seismic_line", "intent", "f_licenceNumber", "f_uwi"]

df_explo_dbowells = df_explo.filter(explo_dbowells_order)

df_explo_dbowells = df_explo_dbowells.reindex(columns=explo_dbowells_order)

df_explo_dbowells.head(3)

In [ ]:
df_explo_dbowells.tail(3)

In [ ]:
df_explo_dbowells.dtypes

In [ ]:
df_explo_dbowells

In [ ]:
# Write df to database
df_explo_dbowells.to_sql('WELLS', engine, if_exists='append', index = False)

print('dbo.WELLS')
#sqlselect_rows([wells])

In [ ]:
# Return dbo.WELLS table
# See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html#pandas.read_sql

sql = '''
SELECT *
FROM dbo.WELLS
WHERE intent = 'EXPLORATION'
'''

pd.read_sql_query(sql, engine)

#### Dev Wells

In [ ]:
# Filter and re-order dev_dbwells to match dbo.WELLS (filters out fields destined for User Fields!)

dev_dbowells_order = ["well_id", "units", "created", "creator", "modified", "modifier", "project", 
                        "sea_bed", "datum", "terminal_depth", "spud_date", "completion_date", "quadrant", "kelly", 
                        "symbol_id", "client", "utmzone", "code", "name", "field", "location", "country", "name1", 
                        "f_block", "grid_x", "grid_y", "latitude", "longtitude", "geodatum", "facility", "discovery_name", 
                        "seismic_line", "intent", "f_licenceNumber", "f_uwi"]

df_dev_dbowells = df_dev.filter(dev_dbowells_order)

df_dev_dbowells = df_dev_dbowells.reindex(columns=dev_dbowells_order)

df_dev_dbowells.head(3)

In [ ]:
# Write df to database
# See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

#####df_dev_dbowells.to_sql('WELLS', engine, if_exists='append', index = False)

#####print('dbo.WELLS')
#sqlselect_rows([wells])

# Still to correct datum, symbol_id, creator. I think these might have to read other tables.
# Is well_id ok as npdid_wellbore? Will this cause any problems creating new wells in IC?

In [ ]:
# Return dbo.WELLS table
# See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html#pandas.read_sql

sql = '''
SELECT *
FROM dbo.WELLS
WHERE intent = 'PRODUCTION'
'''

#####pd.read_sql_query(sql, engine)

## Populate dbo.PROJECTWELLS (which wells in which Projects)

In [ ]:
# dbo.PROJECTWELLS requires 3 columns (not null):
    #pk_index 11 PK int not null
    #well_id FK 2 int not null
    #project_id 2 FK int not null

In [ ]:
sql = ' SELECT project_id, title FROM PROJECTS '
pd.read_sql_query(sql, engine)

In [ ]:
df_projectwells_explo = df_explo_dbowells[['well_id', 'location']]
df_projectwells_explo

In [ ]:
# Need to populate the project column in dbo.WELLS
# This appears empty just now because none of my wells have projects.
# Create a function that populates a project number based on well name

def location_projectid(row):
    if row == 'NORTH SEA':
        return 2
    elif row == 'NORWEGIAN SEA':
        return 3
    elif row == 'BARENTS SEA':
        return 4
    else:
        0

df_projectwells_explo['project_id'] = df_explo_dbowells['location'].apply(location_projectid)
df_projectwells_explo = df_projectwells_explo[['well_id', 'project_id']]
df_projectwells_explo

In [ ]:
df_projectwells_explo.to_sql('PROJECTWELLS', engine, if_exists='replace', index = False)

print('dbo.PROJECTWELLS')
sqlselect_rows([projectwells])

<h3>Populate t_WellsUserFields</h3>

In [ ]:
# Well header columns that are not defaults in IC must be created as Well Attributes

print(len(non_default_attributes), 'non-default well attributes:')
print(non_default_attributes)

In [ ]:
# Call DataFrame constructor on list of attributes

df_wellsuserfields = pd.DataFrame(non_default_attributes, columns =['f_FieldName'])

# And populate other required columns

df_wellsuserfields['f_FieldID'] = range(1,len(df_wellsuserfields)+1)
df_wellsuserfields['f_IsInputUsed'] = False
df_wellsuserfields['f_InputID'] = 0
df_wellsuserfields['f_Description'] = df_wellsuserfields['f_FieldName']
df_wellsuserfields['f_Origin'] = 0
df_wellsuserfields['f_SortOrder'] = range(1,len(df_wellsuserfields)+1)

df_wellsuserfields

In [ ]:
df_wellsuserfields.dtypes

In [ ]:
# Write df to database
df_wellsuserfields.to_sql('t_WellsUserFields', engine, if_exists='append', index = False)

print('dbo.t_WellsUserFields')
sqlselect_rows([wellsuserfields])

In [ ]:
# Return dbo.t_WellsUserFields

sql = '''
SELECT *
FROM dbo.t_WellsUserFields
'''

pd.read_sql_query(sql, engine)

<h3>Populate t_WellsUserFieldsValues</h3>

In [ ]:
# Use df_explo to build a new dataframe of wellsuserfieldsvalues
df_explo_nondefaultattributes = df_explo.filter(non_default_attributes)

# Append the name and well_id columns
df_explo_nondefaultattributes['name'] = df_explo_dbowells['name']
df_explo_nondefaultattributes['well_id'] = df_explo_dbowells['well_id']

df_explo_nondefaultattributes.fillna('', inplace=True)

df_explo_nondefaultattributes

In [ ]:
# Convert ALL columns to object/string, as they're all destined for one column.
# f_StringValue column is dtype('O') in df (i.e. Object) and nvarchar(120) in database.
# No point in attempting to maintain datetime data types, as lost when 'melt' is performed below.

df_explo_nondefaultattributes = df_explo_nondefaultattributes.astype(str)

df_explo_nondefaultattributes = df_explo_nondefaultattributes.replace(to_replace=' 00:00:00', value='', regex=True)

df_explo_nondefaultattributes

In [ ]:
#df_explo_nondefaultattributes.dtypes

In [ ]:
# # Dates in Well Attributes appear as "#2019-10-03 00:00:00.0000000"
# # Reformat without time, but maintain datetime64[ns] data type.

# # df_explo_nondefaultattributes['Date all updated'] = pd.to_datetime(df_explo_nondefaultattributes['Date all updated'].dt.strftime('%Y-%m-%d'))
# df_explo_nondefaultattributes['Date main level updated'] = pd.to_datetime(df_explo_nondefaultattributes['Date main level updated'].dt.strftime('%Y-%m-%d'))
# df_explo_nondefaultattributes['Publication date'] = pd.to_datetime(df_explo_nondefaultattributes['Publication date'].dt.strftime('%Y-%m-%d'))
# df_explo_nondefaultattributes['Release date'] = pd.to_datetime(df_explo_nondefaultattributes['Release date'].dt.strftime('%Y-%m-%d'))

# # Convert 'Date sync NPD' to datetime
# df_explo_nondefaultattributes['Date sync NPD'] = pd.to_datetime(df_explo_nondefaultattributes['Date sync NPD'])

# #df_explo_nondefaultattributes.dtypes
# df_explo_nondefaultattributes[['Date all updated',
#                               'Date main level updated',
#                               'Publication date',
#                               'Release date',
#                               'Date sync NPD']]

# # Note that NaT is a pandas null value, pd.NaT

# #df_explo_nondefaultattributes['f_StringValue'].dtypes
# # Loose datetime data types when melting (below)
# # f_StringValue column is dtype('O') in df (i.e. Object) and nvarchar(120) in database

In [ ]:
# Unpivot DataFrame from wide to long format, appropriate for dbo.t_WellsUserFieldsValues
df_explo_nondefaultattributes = pd.melt(df_explo_nondefaultattributes, id_vars='well_id')

# Rename columns to match t_WellsUserFieldsValues
df_explo_nondefaultattributes.columns = ['f_WellId', 'f_FieldName', 'f_StringValue']

print(df_explo_nondefaultattributes['f_WellId'].nunique())
df_explo_nondefaultattributes.sort_values(by='f_WellId').head(55)

In [ ]:
# Merge df_wellsuserfieldsvalues and df_explo_nondefaultattributes
df_wellsuserfieldsvalues = df_wellsuserfields.merge(df_explo_nondefaultattributes, on='f_FieldName', how='inner')

# Limit df_wellsuserfieldsvalues to three columns in dbo.t_WellsUserFieldsValues
df_wellsuserfieldsvalues = df_wellsuserfieldsvalues[['f_WellId', 'f_FieldID', 'f_StringValue']].sort_values(by=['f_WellId','f_FieldID'])
df_wellsuserfieldsvalues

In [ ]:
df_wellsuserfieldsvalues.columns

In [ ]:
# Write entire df_wellsuserfieldsvalues to SQL Server database

df_wellsuserfieldsvalues.to_sql('t_WellsUserFieldsValues', engine, if_exists='append', index=False)

print('dbo.t_WellsUserFieldsValues')
sqlselect_rows([wellsuserfieldsvalues])

# Not sure why f_StringValue values have trailing spaces. These are not shown in IC.

In [ ]:
# Join WELLS, t_WellsUserFields and t_WellsUserFieldsValues

sql = '''
SELECT ufv.f_WellId, w.name, ufv.f_FieldID, uf.f_FieldName, ufv.f_StringValue
FROM dbo.t_WellsUserFieldsValues AS ufv
JOIN dbo.WELLS AS w
ON w.well_id = ufv.f_WellId
JOIN dbo.t_WellsUserFields AS uf
ON uf.f_FieldId = ufv.f_FieldID
--- WHERE (ufv.f_WellId = 99) AND (ufv.f_FieldID = 37)
ORDER BY w.name
'''
temp_df = pd.read_sql_query(sql, engine)
temp_df.head(56)

## Populate Well Data

### INTERVALCOLUMNS: Default columns

Before populating dbo.INTERVALCOLUMNS:
- Create a dict of default values in dbo.INTERVALCOLUMNS.
- Create list of valid IC data "styles".
- Create Function intervalcolumns_variations to generate new data types

In [ ]:
# Create a dict of default values in dbo.INTERVALCOLUMNS

selected_interpreter = None #int
selected_creator = '1' #nvarchar (64)

# Exclude from list of defaults:
    # 'well_id': 0, #int NOT NULL
    # 'data_type': 0, #int  NOT NULL
    # 'top_depth': 0, #float  NOT NULL
    # 'base_depth': 0, #float
    # 'legend': '0', #nvarchar (max)
    
tablestyle_i_defaults = {'symbol_id': 0, #int  NOT NULL
                    'top_age': 0, #float
                    'base_age': 0, #float
                    'owconf': None, #nvarchar (2)
                    'owqual': None, #nvarchar (4)
                    'owkind': None, #nvarchar (42)
                    'owbaseconf': None, #nvarchar (2)
                    'owbasequal': None, #nvarchar (4)
                    'owbasekind': None, #nvarchar (42)
                    'f_interpid': 0, #int
                    'creator': selected_creator, #nvarchar (64)
                    'modifier': None, #nvarchar (64)
                    'abr': None, #nvarchar (80)
                    'source': 'Script', #nvarchar (255)
                    'attr': None, #nvarchar (max)
                    'top_boundary': 0, #smallint
                    'base_boundary': 0, #smallint
                    'interpreter': selected_interpreter, #nvarchar (6)
                    'created': now, #float
                    'modified': None, #float
                    'obsno': 0, #int
                    'mindepth': 0, #float
                    'maxdepth': 0, #float
                    'remark': None, #nvarchar (80)
                    'geofeature': None, #nvarchar (40)
                    'dipangle': 0, #float
                    'dipazimuth': 0, #float
                    'age': 0 #float
                   }

tablestyle_i_defaults

### Populate DATA_Lithostrat

In [ ]:
df_dbodatalithostrat = df_lithostrat.copy(deep=True)
df_dbodatalithostrat.head(3)

In [ ]:
# dbo.DATA_Lithostrat stores Gp, Fm and Mbrs.
# Use Level column to create data_type column

def level_datatypes(row):
    if row == 'GROUP':
        return 9011
    elif row == 'FORMATION':
        return 9012
    elif row == 'MEMBER':
        return 9013
    else:
        0

# New column 'data_type' by applying function 'level_datatypes' to column 'Level'
df_dbodatalithostrat['data_type'] = df_dbodatalithostrat['Level'].apply(level_datatypes)
df_dbodatalithostrat.head(10)

In [ ]:
# Rename columns to match dbo.DATA_Lithostrat

rename_stratcols = {'Top depth' : 'top_depth',
                    'Base depth' : 'base_depth',
                    'Legend' : 'legend',
                    'NPDID wellbore' : 'well_id'}

# Apply renaming to dataframe
df_dbodatalithostrat.rename(columns=rename_stratcols, inplace=True)
df_dbodatalithostrat.head(3)

In [ ]:
df_dbodatalithostrat = df_dbodatalithostrat[['well_id', 'data_type', 'top_depth', 'base_depth', 'legend']]
df_dbodatalithostrat.head(3)

In [ ]:
# Concatenate additional columns from dict tablestyle_i_defaults

# Do this with Multiple Column Assignment -
# To assign multiple columns with different values, you can use assign with a dictionary.
# See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.assign.html

df_dbodatalithostrat = df_dbodatalithostrat.assign(**tablestyle_i_defaults)

# Overwrite 'attr' column for Lithostrat data only?
df_dbodatalithostrat['attr'] = '{"ZoneColour":-1,"ZoneColourIsIpAuto":true,"EventSymbolId":0,"IsLocked":false,"OriginalZoneIndex":0}'
df_dbodatalithostrat

In [ ]:
df_dbodatalithostrat.dtypes

In [ ]:
# Write df to database

df_dbodatalithostrat.to_sql('DATA_Lithostrat_NPD', engine, if_exists='append', index = False)

print('dbo.DATA_Lithostrat_NPD')
sqlselect_rows([datalithostrat])

In [ ]:
### Create Tops from Lithostrat

In [ ]:
df_dbodatalithostrat_tops = df_dbodatalithostrat.copy(deep=True)
df_dbodatalithostrat_tops['data_type'] = 9036
df_dbodatalithostrat_tops['base_depth'] = df_dbodatalithostrat_tops['top_depth']
df_dbodatalithostrat_tops

In [ ]:
# Write df to database

df_dbodatalithostrat_tops.to_sql('DATA_Tops_NPD', engine, if_exists='append', index = False)

print('dbo.DATA_Tops_NPD')
sqlselect_rows([datatops])

### Populate DATA_Core_NPD with Cored Intervals

In [ ]:
df_dbodatacore = df_core.copy(deep=True)
df_dbodatacore.columns

In [ ]:
df_dbodatacore.dtypes

In [ ]:
# Drop 'Well' column as IC will use well_id
df_dbodatacore.drop(columns='Well', inplace=True)
df_dbodatacore.head()

In [ ]:
# Rename columns to match dbo.DATA_Core
df_dbodatacore.columns = ['well_id', 'top_depth', 'base_depth', 'legend']
df_dbodatacore.head(3)

In [ ]:
# Insert data_type column for 'Core Interval (NPD)'
df_dbodatacore['data_type'] = 9000

# Concatenate additional columns from dict tablestyle_i_defaults
df_dbodatacore = df_dbodatacore.assign(**tablestyle_i_defaults)
df_dbodatacore

In [ ]:
# Write df to database
df_dbodatacore.to_sql('DATA_Core_NPD', engine, if_exists='append', index = False)

In [ ]:
# QC
sql = '''
SELECT COUNT(DISTINCT data_type) AS 'Data Types', COUNT(DISTINCT well_id) AS 'Wells', COUNT(legend) AS 'Records'
FROM DATA_Core_NPD WHERE data_type = 9000
'''
pd.read_sql_query(sql, engine)

### Populate DATA_Core_NPD with Core Photo

In [ ]:
df_dbodatacore_images = df_core_photo.copy(deep=True)

In [ ]:
df_dbodatacore_images.isnull().sum()

In [ ]:
df_dbodatacore_images.dtypes

In [ ]:
# Drop 'Well' column as IC will use well_id
df_dbodatacore_images.drop(columns='Well', inplace=True)
df_dbodatacore_images.head()

In [ ]:
# Rename columns to match dbo.DATA_Core
df_dbodatacore_images.columns = ['well_id', 'top_depth', 'base_depth', 'legend']
df_dbodatacore_images.head(3)

In [ ]:
# Insert data_type column
df_dbodatacore_images['data_type'] = 9001

# Concatenate additional columns from dict tablestyle_i_defaults
df_dbodatacore_images = df_dbodatacore_images.assign(**tablestyle_i_defaults)
df_dbodatacore_images

In [ ]:
# Write df to database
df_dbodatacore_images.to_sql('DATA_Core_NPD', engine, if_exists='append', index = False)

print('dbo.DATA_Core_NPD')
sqlselect_rows([datacore])

In [ ]:
# sql = " SELECT * FROM DATA_Core_NPD WHERE data_type = 9001 "
# pd.read_sql_query(sql, engine)

### Populate DATA_Petrography_NPD

In [ ]:
df_datapetrography_thinsection = df_thin_section.copy(deep=True)
df_datapetrography_thinsection.head()

In [ ]:
df_datapetrography_thinsection.isnull().sum()

In [ ]:
df_datapetrography_thinsection.dtypes

In [ ]:
# Drop 'Well' column as IC will use well_id
df_datapetrography_thinsection.drop(columns='Well', inplace=True)
df_datapetrography_thinsection.head()

In [ ]:
# Rename columns to match dbo.DATA_Petrography
df_datapetrography_thinsection.columns = ['well_id', 'top_depth', 'legend']
df_datapetrography_thinsection.head(3)

In [ ]:
# Insert data_type column
df_datapetrography_thinsection['data_type'] = 9002

# Concatenate additional columns from dict tablestyle_i_defaults
df_datapetrography_thinsection = df_datapetrography_thinsection.assign(**tablestyle_i_defaults)
df_datapetrography_thinsection

In [ ]:
# Write df to database
df_datapetrography_thinsection.to_sql('DATA_Petrography_NPD', engine, if_exists='append', index = False)

print('dbo.DATA_Petrography_NPD')
sqlselect_rows([datapetrography])

In [ ]:
# sql = " SELECT * FROM DATA_Petrography_NPD WHERE data_type = 9002 "
# pd.read_sql_query(sql, engine)

### Populate DATA_CO2_NPD

In [ ]:
df_dbodataco2_co2content = df_co2.copy(deep=True)
df_dbodataco2_co2content

In [ ]:
df_dbodataco2_co2content.isnull().sum()

In [ ]:
# Drop 'Well' column as IC will use well_id
df_dbodataco2_co2content.drop(columns='Well', inplace=True)
df_dbodataco2_co2content.head()

In [ ]:
# Rename columns
df_dbodataco2_co2content.columns = ['Sample sequence number', 'top_depth', 'base_depth', 'CO2 [vol %]', 'Sample type', 'well_id']
df_dbodataco2_co2content.head(3)

In [ ]:
df_dbodataco2_co2content.dtypes

In [ ]:
# Melt dataframe BEFORE inserting additional columns
# Converts columns into rows.

df_dbodataco2_co2content = pd.melt(df_dbodataco2_co2content, 
                                   id_vars=['well_id', 'top_depth', 'base_depth'], 
                                   value_vars=['Sample sequence number', 'CO2 [vol %]', 'Sample type'], 
                                   var_name='data_type_str', value_name='legend')
df_dbodataco2_co2content.sort_values(['data_type_str', 'well_id'], inplace=True)

df_dbodataco2_co2content

In [ ]:
# Insert new column for data_type

def co2_datatypes(row):
    if row['data_type_str'] == 'Sample sequence number':
        val = 9003
    elif row['data_type_str'] == 'CO2 [vol %]':
        val = 9004
    elif row['data_type_str'] == 'Sample type':
        val = 9005
    else:
        val = 0
    return val

df_dbodataco2_co2content['data_type'] = df_dbodataco2_co2content.apply(co2_datatypes, axis=1)
df_dbodataco2_co2content.drop(columns='data_type_str', inplace=True)
df_dbodataco2_co2content

In [ ]:
# Concatenate additional columns from dict tablestyle_i_defaults
df_dbodataco2_co2content = df_dbodataco2_co2content.assign(**tablestyle_i_defaults)
df_dbodataco2_co2content

In [ ]:
# Write df to database

df_dbodataco2_co2content.to_sql('DATA_CO2_NPD', engine, if_exists='append', index = False)

print('dbo.DATA_CO2_NPD')
sqlselect_rows([dataco2])

In [ ]:
sql = " SELECT * FROM DATA_CO2_NPD "
pd.read_sql_query(sql, engine)

### Populate DATA_OilSample_NPD

In [ ]:
df_dbodataoilsample = df_oil_sample.copy(deep=True)

In [ ]:
df_dbodataoilsample.isnull().sum()

In [ ]:
# Drop 'Well' column as IC will use well_id
df_dbodataoilsample.drop(columns='Well', inplace=True)
df_dbodataoilsample.head()

In [ ]:
# Rename columns to match dbo.DATA_OilSample
df_dbodataoilsample.columns = ['Test type', 'Bottle number', 'top_depth', 'base_depth', 'Fluid type', 'Test time', 'Received date', 'well_id']
df_dbodataoilsample.head(3)

In [ ]:
df_dbodataoilsample['Test time'] = df_dbodataoilsample['Test time'].dt.date
df_dbodataoilsample['Received date'] = df_dbodataoilsample['Received date'].dt.date
df_dbodataoilsample

In [ ]:
df_dbodataoilsample.dtypes

In [ ]:
# Melt dataframe BEFORE inserting additional columns
# Converts columns into rows

df_dbodataoilsample = pd.melt(df_dbodataoilsample, id_vars=['well_id', 'top_depth', 'base_depth'], 
                              value_vars=['Test type', 'Bottle number', 'Fluid type', 'Test time', 'Received date'], 
                              var_name='data_type_str', value_name='legend')
df_dbodataoilsample.sort_values(['data_type_str', 'well_id'], inplace=True)

df_dbodataoilsample

In [ ]:
# Insert new column for data_type

def oilsample_datatypes(row):
    if row['data_type_str'] == 'Test type':
        val = 9006
    elif row['data_type_str'] == 'Bottle number':
        val = 9007
    elif row['data_type_str'] == 'Fluid type':
        val = 9008
    elif row['data_type_str'] == 'Test time':
        val = 9009
    elif row['data_type_str'] == 'Received date':
        val = 9010
    else:
        val = 0
    return val

df_dbodataoilsample['data_type'] = df_dbodataoilsample.apply(oilsample_datatypes, axis=1)
df_dbodataoilsample.drop(columns='data_type_str', inplace=True)
df_dbodataoilsample

In [ ]:
# Concatenate additional columns from dict tablestyle_i_defaults
df_dbodataoilsample = df_dbodataoilsample.assign(**tablestyle_i_defaults)
df_dbodataoilsample

In [ ]:
# Write df to database

df_dbodataoilsample.to_sql('DATA_OilSample_NPD', engine, if_exists='append', index = False)

print('dbo.DATA_OilSample_NPD')
sqlselect_rows([dataoilsample])

In [ ]:
sql = " SELECT * FROM DATA_OilSample_NPD "
pd.read_sql_query(sql, engine)

### Populate DATA_DST_NPD

In [ ]:
df_dbodatadst = df_dst.copy(deep=True)

In [ ]:
df_dbodatadst.isnull().sum()

In [ ]:
df_dbodatadst.dtypes

In [ ]:
# Drop 'Well' column as IC will use well_id
df_dbodatadst.drop(columns='Well', inplace=True)

# Rename columns
df_dbodatadst.rename(columns={'NPDID wellbore': 'well_id', 'Top depth': 'top_depth', 'Base depth': 'base_depth'}, inplace=True)
df_dbodatadst.head(3)

In [ ]:
# Melt columns to rows

df_dbodatadst = pd.melt(df_dbodatadst, id_vars=['well_id', 'top_depth', 'base_depth'], 
                              value_vars=['Test number', 
                                          'Choke size [mm]', 
                                          'Final shut-in pressure [MPa]', 
                                          'Final flow pressure [MPa]', 
                                          'Bottom hole pressure [MPa]',
                                          'Oil [Sm3/day]',
                                          'Gas [Sm3/day]',
                                          'Oil density [g/cm3]',
                                          'Gas grav. rel.air',
                                          'GOR [m3/m3]',
                                          'Downhole temperature [°C]'
                                          ], 
                              var_name='data_type_str', value_name='legend')
df_dbodatadst.sort_values(['data_type_str', 'well_id'], inplace=True)

df_dbodatadst

In [ ]:
# Insert new column for data_type

def dst_datatypes(row):
    if row['data_type_str'] == 'Test number':
        val = 9014
    elif row['data_type_str'] == 'Choke size [mm]':
        val = 9015
    elif row['data_type_str'] == 'Final shut-in pressure [MPa]':
        val = 9016
    elif row['data_type_str'] == 'Final flow pressure [MPa]':
        val = 9017
    elif row['data_type_str'] == 'Bottom hole pressure [MPa]':
        val = 9018
    elif row['data_type_str'] == 'Oil [Sm3/day]':
        val = 9019
    elif row['data_type_str'] == 'Gas [Sm3/day]':
        val = 9020
    elif row['data_type_str'] == 'Oil density [g/cm3]':
        val = 9021
    elif row['data_type_str'] == 'Gas grav. rel.air':
        val = 9022
    elif row['data_type_str'] == 'GOR [m3/m3]':
        val = 9023 
    elif row['data_type_str'] == 'Downhole temperature [°C]':
        val = 9024
    else:
        val = 0
    return val

df_dbodatadst['data_type'] = df_dbodatadst.apply(dst_datatypes, axis=1)
df_dbodatadst.drop(columns='data_type_str', inplace=True)
df_dbodatadst

In [ ]:
# Concatenate additional columns from dict tablestyle_i_defaults
df_dbodatadst = df_dbodatadst.assign(**tablestyle_i_defaults)
df_dbodatadst

In [ ]:
# Write df to database
df_dbodatadst.to_sql('DATA_DST_NPD', engine, if_exists='append', index = False)

print('dbo.')
sqlselect_rows([datadrillstemtests])

In [ ]:
sql = " SELECT * FROM DATA_DST_NPD "
pd.read_sql_query(sql, engine)

### Populate DATA_CasingLOT_NPD

In [ ]:
df_dbodatacasinglot = df_casinglot.copy(deep=True)

In [ ]:
df_dbodatacasinglot.isnull().sum()

In [ ]:
df_dbodatacasinglot.dtypes

In [ ]:
# Drop 'Well' column as IC will use well_id
df_dbodatacasinglot.drop(columns='Well', inplace=True)

# Rename columns
df_dbodatacasinglot.rename(columns={'NPDID wellbore': 'well_id', 'Depth': 'top_depth'}, inplace=True)
df_dbodatacasinglot.head(3)

In [ ]:
# Melt columns to rows

df_dbodatacasinglot = pd.melt(df_dbodatacasinglot, id_vars=['well_id', 'top_depth'], 
                              value_vars=['Casing type', 
                                          'Casing diam. [inch]', 
                                          'Hole diam. [inch]', 
                                          'Hole depth[m]', 
                                          'LOT mud eqv. [g/cm3]',
                                          'Formation test type'
                                          ], 
                              var_name='data_type_str', value_name='legend')

df_dbodatacasinglot.sort_values(['data_type_str', 'well_id'], inplace=True)

df_dbodatacasinglot

In [ ]:
# Insert new column for data_type

def casinglot_datatypes(row):
    if row['data_type_str'] == 'Casing type':
        val = 9025
    elif row['data_type_str'] == 'Casing diam. [inch]':
        val = 9026
    elif row['data_type_str'] == 'Hole diam. [inch]':
        val = 9027
    elif row['data_type_str'] == 'Hole depth[m]':
        val = 9028
    elif row['data_type_str'] == 'LOT mud eqv. [g/cm3]':
        val = 9029
    elif row['data_type_str'] == 'Formation test type':
        val = 9030
    else:
        val = 0
    return val

df_dbodatacasinglot['data_type'] = df_dbodatacasinglot.apply(casinglot_datatypes, axis=1)
df_dbodatacasinglot.drop(columns='data_type_str', inplace=True)
df_dbodatacasinglot

In [ ]:
# Concatenate additional columns from dict tablestyle_i_defaults
df_dbodatacasinglot = df_dbodatacasinglot.assign(**tablestyle_i_defaults)
df_dbodatacasinglot

In [ ]:
# Write df to database
df_dbodatacasinglot.to_sql('DATA_CasingLOT_NPD', engine, if_exists='append', index = False)

print('dbo.DATA_CasingLOT_NPD')
sqlselect_rows([datacasing])

In [ ]:
sql = " SELECT * FROM DATA_CasingLOT_NPD "
pd.read_sql_query(sql, engine)

### Populate DATA_DrillingMud_NPD

In [ ]:
df_dbodatamud = df_mud.copy(deep=True)

In [ ]:
df_dbodatamud.isnull().sum()

In [ ]:
df_dbodatamud.dtypes

In [ ]:
# Drop 'Well' column as IC will use well_id
df_dbodatamud.drop(columns='Well', inplace=True)

# Rename columns
# Note: no base_depth
df_dbodatamud.rename(columns={'NPDID wellbore': 'well_id', 'Depth': 'top_depth'}, inplace=True)
df_dbodatamud.head(3)

In [ ]:
# Melt columns to rows
df_dbodatamud = pd.melt(df_dbodatamud, id_vars=['well_id', 'top_depth'], 
                              value_vars=['Mud weight [g/cm3]', 
                                          'Visc. [mPa.s]', 
                                          'Yield point [Pa]', 
                                          'Mud type', 
                                          'Date measured'
                                          ], 
                              var_name='data_type_str', value_name='legend')
df_dbodatamud.sort_values(['data_type_str', 'well_id'], inplace=True)

df_dbodatamud

In [ ]:
# Insert new column for data_type

def mud_datatypes(row):
    if row['data_type_str'] == 'Mud weight [g/cm3]':
        val = 9031
    elif row['data_type_str'] == 'Visc. [mPa.s]':
        val = 9032
    elif row['data_type_str'] == 'Yield point [Pa]':
        val = 9033
    elif row['data_type_str'] == 'Mud type':
        val = 9034
    elif row['data_type_str'] == 'Date measured':
        val = 9035
    else:
        val = 0
    return val

df_dbodatamud['data_type'] = df_dbodatamud.apply(mud_datatypes, axis=1)
df_dbodatamud.drop(columns='data_type_str', inplace=True)
df_dbodatamud

In [ ]:
# Concatenate additional columns from dict tablestyle_i_defaults
df_dbodatamud = df_dbodatamud.assign(**tablestyle_i_defaults)
df_dbodatamud

In [ ]:
# Write df to database
df_dbodatamud.to_sql('DATA_DrillingMud_NPD', engine, if_exists='append', index = False)

print('dbo.DATA_DrillingMud_NPD')
sqlselect_rows([datadrillingmud])

In [ ]:
sql = " SELECT * FROM DATA_DrillingMud_NPD "
pd.read_sql_query(sql, engine)

### Populate NG_LINKS (well references)

In [ ]:
df_references_nglinks = df_refs_and_docs.copy(deep=True)
df_references_nglinks

In [ ]:
df_references_nglinks.isnull().sum()

In [ ]:
#df_references_nglinks
#df_references_nglinks.to_csv('test')

In [ ]:
# Drop 'Well' column as IC will use well_id
df_references_nglinks.drop(columns='Well', inplace=True)

# Rename columns
df_references_nglinks.rename(columns={'NPDID wellbore': 'well_id', 'Title': 'title', 'URL': 'url'}, inplace=True)
df_references_nglinks.head(3)

In [ ]:
# image (nvarchar(255), null)
# well_id (int, null)
# title (nvarchar(80), null)
# url (nvarchar(250), null)

#print(df_references_nglinks['title'].str.len().max())
#print(df_references_nglinks['url'].str.len().max())

# Limit seismic_line to match nvarchar(80) limit
df_references_nglinks["title"] = df_references_nglinks["title"].str[:80]

In [ ]:
# Write df to database
df_references_nglinks.to_sql('NG_LINKS', engine, if_exists='append', index = False)

print('dbo.NG_LINKS')
sqlselect_rows([references_nglinks])

In [ ]:
sql = " SELECT * FROM NG_LINKS "
pd.read_sql_query(sql, engine)

# MISC

## Dataframes in project

In [ ]:
# Show all the dataframes used in this notebook
%whos DataFrame

In [ ]:
break me here

In [2]:
import watermark
%load_ext watermark

%watermark -v -m -p pandas,numpy,watermark

ModuleNotFoundError: No module named 'watermark'

In [ ]:
numpy=1.14.3=py36h9fa60d3_1
pandas=0.23.0=py36h830ac7b_0
pyodbc=4.0.23=py36h6538335_0
python=3.6.5=h0c2934d_0
requests=2.18.4=py36h4371aae_1
sqlalchemy=1.2.7=py36ha85dd04_0

In [ ]:
print .__version__
print .__version__